 <div class="form-card">
  <!-- SIGNUP FORM BUSINESS -->
  <div class="subscription-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <i><%= render "shared/icons/shop" %></i>
      <div id="error-code">
        <%= flash[:alert].humanize unless flash[:alert] == nil %>
      </div>
      <%= f.input :name, placeholder: 'Nom commerce', required: true, autofocus: false, label: false %>
      <%= f.input :email, placeholder: 'Adresse email', required: true, label: false %>
      <%= f.input :password, placeholder: '********', required: true, label: false %>
      <%= f.input :city, placeholder: 'Ville', required: true, label: false %>
      <%= f.input :business_category_id, required: true, label: false, collection: BusinessCategory.all, prompt: 'Sélectionnez une catégorie' %>

      <p>En cliquant sur <strong>S'inscrire</strong>, vous acceptez les <a type="href" class="" data-toggle="modal" data-target="#modal-cgu"><strong>CGU</strong></a> et certifiez avoir de plus de 18 ans.</p>

      <%= f.button :submit, "s'inscrire", class: "btn btn-connexion" %>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function() {

      $("#new_business").validate({
        lang: 'fr',
        rules: {
          name: {
            required: true,
          },
          city: {
            required: true,
          }
        }
      });

      var placesAutocomplete = places({
        container: document.querySelector('#business_city')
      });

    });


  </script>

<% end %>



