<div class="perk-modal-usage-slide">
  <button type="button" class="perk-modal-close">&times;</button>
  <div class="pmu-alert">
    <% if perk.appel %>
      <span><i class="fa fa-bell pastille" style="background-color: #3F3F3F;" aria-hidden="true"></i>Ce bon plan n'est valable une seule fois</span>
    <% end %>
  </div>

  <% if perk.perk_detail.name == "email" %>
    <p class="pmu-question">Envie d'en profiter ?</p>
    <p class="pmu-answer">Envoyez-nous un email pour réserver votre bon plan : </p>
    <a href='mailto:<%= @business.email %>?subject=Nouvelle demande de bon plan CforGood !&body=Bonjour <%= @business.leader_first_name if @business.leader_first_name.present? %>,%0D%0A<%= @business.name %> semble sympa comme tout !%0D%0AJe souhaiterais bénéficier du bon plan « <%= perk.name.gsub(/%/, "%25").upcase %> » (Code : <%= perk.perk_code %>), pouvez-vous me dire comment procéder ?%0D%0A Merci par avance !%0D%0A<%= current_user.first_name.capitalize if current_user.first_name.present? %> <%= current_user.last_name.capitalize if current_user.last_name.present? %>' class="cta-button" style="background-color:<%= @business.business_category.color %>;" target="_blank">
      <i class="fa fa-envelope-o"></i>Nous écrire
    </a>

  <% elsif @business.online %>
    <p class="pmu-question">Envie d'en profiter ? Copiez ce code : </p>
    <span class="online-code">CODE PROMO : <stong><%= perk.perk_code.upcase %></strong></span>
      <%= link_to "#{@business.url}", class: "send-to-shop", target: "_blank" do %>
        <i class="fa fa-share"></i>Me rendre sur le site
      <% end %>
    </button>

  <% else %>
   <p class="pmu-question">Envie d'en profiter ?</p>
    <p class="pmu-answer">Rendez-vous en magasin avec votre smartphone</p>
    <button class="cta-button" style="background-color:<%= @business.business_category.color %>;">
      <%= link_to "http://maps.google.com/maps", class: "", id: "link-map", disabled: true, data: { locale: I18n.locale, destination: { latitude: @business.latitude, longitude: @business.longitude } }, :target => "_blank" do %>
        <i class="fa fa-paper-plane"></i> Afficher l'itinéraire
      <% end %>
    </button>

  <% end %>

  <% if perk.perk_detail.name == "email" || @business.online %>
    <%= simple_form_for :use, url: perk_uses_path(params[:perk_id], online: true), method: :post, remote: true, authenticity_token: true, html: { id: :create_use } do |f| %>
      <%= f.input :perk_id, as: :hidden, input_html: {value: params[:perk_id]} %>
      <%= f.submit "", class: "btn-create-use", :style => "display: none;" %>
    <% end %>
  <% end %>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){

      $('.send-mail').click(function() {
        $('.btn-create-use').click();
      });

    });
  </script>
<% end %>
