<div class="pmdjs perk-modal-dynamic-<%= perk.id %> hidden">

  <% perk.update_nb_view! if perk.present? && user_space? %>

  <div class="card perk-modalll">
    <div class="card-block perk-modal-top-block">
      <div class=" perk-modal-main-title">
        <h5 style="border-color: <%= business.business_category.color %>" class="card-text">Bon plan</h5>
      </div>
      <div class="perk-modal-close-button">
        <button type="button" class="closed-perk-on-modal close-button">&times;</button>
      </div>
    </div>
    <div class="background-image-perk-modal card-img-top img-responsive" style="background-image: url('<%= perk.picture.present? ? perk.picture : business.picture %>');" alt="perk picture">
    <div class="perks-offer-type-modal" style="border-color: <%= business.business_category.color %>;">
      <span><%= perk.offer_type %></span>
    </div>
  </div>
    <div class="card-block block-text-modal">

      <div class="perk-modal-perk-name">
        <%= perk.name %>
      </div>
      <div class="pmdjs-perk-description">
        <p><%= perk.description %>.</p>
      </div>

      <div class="perk-modal-alert">
        <% if perk.appel %>
        <p class="text-center">
          <i class="fa fa-bell text-center" style="background-color: <%= business.business_category.color %>;" aria-hidden="true"></i>
          Ce bon plan n'est valable qu'une seule fois.
        </p>
        <% end %>
      </div>

      <div class="perk-modal-hr"><hr></div>

      <div class="perk-modal-bottom">

        <p class="text-center perk-modal-question">Envie d'en profiter ?</p>

        <!-- FIRST PERK OFFER FOR NOT MEMBER -->
        <% if first_offer == true && !current_user.member %>
          <%= simple_form_for :use, url: perk_uses_path(perk), method: :post, remote: true, authenticity_token: true do |f| %>
            <%= f.input :perk_id, as: :hidden, input_html: {value: perk.id} %>
            <%= f.submit "", class: "btn-create-first-use", :style => "display: none;" %>
          <% end %>

          <button class="button-validation-modal btn-first-offer" style="background-color:<%= business.business_category.color %>;">
            <p>Afficher ma carte de membre</p>
          </button>

        <!-- PERK EMAIL -->
        <% elsif perk.perk_detail.name == "email" %>
          <p class="text-center perk-modal-answer">Envoyez-nous un email pour réserver votre bon plan.</p>
          <a href='mailto:<%= business.email %>?subject=Nouvelle demande de bon plan CforGood !&body=Bonjour <%= business.leader_first_name if business.leader_first_name.present? %>,%0D%0A<%= business.name %> semble sympa comme tout !%0D%0AJe souhaiterais bénéficier du bon plan « <%= perk.name.gsub(/%/, "%25").upcase %> » (Code : <%= perk.perk_code %>), pouvez-vous me dire comment procéder ?%0D%0A Merci par avance !%0D%0A<%= current_user.first_name.capitalize if current_user.first_name.present? %> <%= current_user.last_name.capitalize if current_user.last_name.present? %>' class="button-validation-modal send-email <%= perk.id %>" style="background-color:<%= business.business_category.color %>;" target="_blank">
            Nous écrire
          </a>
          <%= simple_form_for :use, url: perk_uses_path(perk), method: :post, remote: true, authenticity_token: true do |f| %>
            <%= f.input :perk_id, as: :hidden, input_html: {value: perk.id} %>
            <%= f.submit "", class: "btn-create-use-#{perk.id}", :style => "display: none;" %>
          <% end %>

        <!-- PERK ONLINE -->
        <% elsif business.online %>
        <p class="text-center perk-modal-answer">Découvrez le code promo en cliquant ci-dessous !</p>

          <!-- <div class="perk-modal-answer">CODE PROMO : <strong><%#= perk.perk_code.upcase %></strong></div> -->

          <%#= link_to "#{business.url}", id: "popup-code-promo-#{perk.id}  ", class: "button-validation-modal send-to-code-promo #{perk.id}", style: "background-color:#{business.business_category.color};", target:"_blank" do %>
            <!-- Obtenir le code promo
          <#% end %> -->

          <button id="popup-code-promo-<%=perk.id%>" class="button-validation-modal send-to-code-promo" style="background-color:<%= business.business_category.color %>;">Obtenir le code promo</button>

          <%= render "components/popup_code_promo", business: perk.business, perk: perk %>


        <!-- PERK MEMBER CARD DESKTOP -->
        <% elsif device_type != :mobile && first_offer == false %>
          <p class="text-center perk-modal-answer">Rendez-vous en magasin avec votre smartphone</p>
          <div class="itinary-modal-section">
            <div class="itinary-modal-arrow">
              <%= link_to "http://maps.google.com/maps", class: "itinary-arrow", id: "link-map", disabled: true, data: { locale: I18n.locale, destination: { latitude: address.latitude, longitude: address.longitude } }, :target => "_blank" do %>
              <i class="fa fa-location-arrow fa-2x"></i>
              <% end %>
            </div>
              <p class="label-itinary">Afficher l'itinéraire</p>
          </div>

        <!-- PERK MEMBER CARD MOBILE -->
        <% else %>
          <p class="text-center perk-modal-answer">Montrez votre carte de membre au commerçant.</p>
          <div class="itinary-modal-section">
            <div class="itinary-modal-arrow">
              <%= link_to "http://maps.google.com/maps", class: "itinary-arrow", id: "link-map", disabled: true, data: { locale: I18n.locale, destination: { latitude: address.latitude, longitude: address.longitude } }, :target => "_blank" do %>
              <i class="fa fa-location-arrow fa-2x"></i>
              <% end %>
            </div>
              <p class="label-itinary">Afficher l'itinéraire</p>
          </div>
          <% if current_user.member %>
            <%= render "components/member_card", business: perk.business, perk: perk %>
          <% end %>
          <button class="button-validation-modal btn-show-card" id="popup-member-card-<%= perk.id %>" style="background-color:<%= business.business_category.color %>;">
            <p>Afficher ma carte de membre</p>
            <span>(Seulement chez le commerçant)</span>
          </button>
        <% end %>

        <div class="container-feedback-<%= perk.id %> <%= first_offer == true ? 'first_offer' : '' %>"></div>
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
<script>
$(document).ready(function () {

  $('.closed-perk-on-modal').click(function () {
    $(this).closest(".pmdjs").addClass('hidden');
  });

  // $('div').not('.card-block.block-text-modal').click(function () {
  //   $(this).closest(".pmdjs").addClass('hidden');
  // });

  $('.btn-first-offer').click(function () {
    $('.btn-create-first-use').click();
  });

  $('.send-email').click(function () {
    var perkId = $(this).attr('class').split('send-email ')[1];
    $('.btn-create-use-'+perkId).click();
  });

  $('.btn-show-card').click(function () {
     var classModal = $(this).attr('id');
     $('.'+classModal).removeClass('hidden').addClass('member-card-open');
     $('.close-button').css('display', 'none');
  });

  $('.send-to-code-promo').click(function () {
     var classModal = $(this).attr('id');
     console.log(classModal);
     $('.'+classModal).removeClass('hidden').addClass('code-promo-open');
     $('.closed-perk-on-modal').css('display', 'none');
  });

});
</script>
<% end %>
