<div class="perk-modal">
  <div class="perk-modal-label">
    <span class="label-info" style="background-color:<%= @business.business_category.color %>;">Espace réservé aux abonnés</span>
  </div>
  <button type="button" class="perk-modal-close">&times;</button>

  <div class="perk-modal-header">
    <div class="perk-modal-icon"></div>
    <div class="perk-modal-header-text">REJOIGNEZ LA REVOLUTION POSITIVE</div>
  </div>

  <div class="perk-modal-title-dotted">
    <div class="perk-modal-yellow-dot" style="background-color:<%= @business.business_category.color %>;">1</div>
    <div class="perk-modal-title-text">Découvrez votre ville autrement</div>
  </div>

  <div class="perk-modal-description">
    Je trouve de nouveaux commerçants responsables, des associations engageées et des événements enthousiasmant chez moi ou dans les autres villes où je me rends.
  </div>

  <div class="perk-modal-title-dotted">
    <div class="perk-modal-yellow-dot" style="background-color:<%= @business.business_category.color %>;">2</div>
    <div class="perk-modal-title-text">J'accède à des reductions exclusives</div>
  </div>

  <div class="perk-modal-description">
    Je trouve de nouveaux commerçants responsables, des associations engageées et des événements enthousiasmant chez moi ou dans les autres villes où je me rends.
  </div>


  <div class="perk-modal-title-dotted">
    <div class="perk-modal-yellow-dot" style="background-color:<%= @business.business_category.color %>;">3</div>
    <div class="perk-modal-title-text">Je rejoins une véritable révolution</div>
  </div>

  <div class="perk-modal-description">
    Je trouve de nouveaux commerçants responsables, des associations engageées et des événements enthousiasmant chez moi ou dans les autres villes où je me rends.
  </div>

  <div class="perk-modal-button-signup">
    <%= link_to signup_path do %>
      <div class="cta-button" style="background-color:<%= @business.business_category.color %>;">Je m'inscris</div>
    <% end %>
  </div>

  <div class="perk-modal-button-signup dropdown">
    <div class="cta-button dropdown-toggle" data-toggle="dropdown" style="background-color: #363636;">Se connecter</div>
  <!-- SIGNIN -->
  <div class="dropdown-menu">
    <div class="sign-box">
      <%= render "devise/sessions/shared/form_signin_logout", resource: User.new, resource_name: :user%>
    </div>
  </div>
    </div>
</div>
