<div class="perk-carddd <%= index_view == true || ( perk.perk_in_time? && ( !user_signed_in? || ( user_signed_in? && perk.perk_usable?(current_user) ) ) )  ? 'available' : 'unavailable' %>" id="perk-modal-dynamic-<%= perk.id %>">
    <div class="card-perks">

        <div class="background-image-perk card-img-top img-responsive" style="background-image: url('<%= perk.picture.present? ? perk.picture.url(:card) : business.picture.url(:card) %>');" alt="perk picture">
          <div class="filterrr">
           <div class="overlay-unavailable <%= index_view == true || ( perk.perk_in_time? && ( !user_signed_in? || ( user_signed_in? && perk.perk_usable?(current_user) ) ) ) ? 'hidden' : '' %>">Bon plan épuisé</div>
            <div class="card-perk-flash">
                <% if perk.flash %>
                  <div class="bolt-icon">
                      <i class="fa fa-bolt" aria-hidden="true"></i>
                  </div>
                  <% if perk.times > 0 %>
                    <p class="perks-number"><%= perk.times - Use.where(perk_id: perk.id).count %>
                      restants</p>
                  <% end %>
                <% end %>
            </div>
            <% if index_view == true %>
              <div class="business-name-card-mobile-list">
                <h6 class="business-name"> <%= business.name.downcase.titleize %> </h6>
                <% if device_type != :mobile %>
                  <p class="business-activity"><%= business.activity %></p>
                <% end %>
              </div>
            <% end %>
            <div class="perks-offer-type" style="border-color: <%= business.business_category.color %>;">
                <span><%= perk.offer_type %></span>
            </div>
          </div>
        </div>
        <div class="card-perk-description">
            <p class="perk-description"><%= perk.name.downcase.capitalize %></p>
        </div>
    </div>
</div>
