<div class="map_box br-5 text-center">
  <h3 class="black"><%= business.name %></h3>
  <%= business.business_category.name %>
  <p><%= business.address %></p>
  <% business.perks.each do |perk| %>
    <hr>
    <p><%= perk.perk %>
    <%= link_to "Voir", business_path(perk.business_id, perk_id: perk.id), class: "btn btn-green" %>
    </p>
  <% end %>
  <hr>
</div>
