<div class="perk-modal-mobile-member hidden">
  <button type="button" class="closed-perk-modal-mobile-member close-button">&times;</button>

  <div class="perk-modal-member-header">
    <div class="title-fri-underline" style="border-color: <%= @business.business_category.color %>;"><%= "Les bons plans de #{@business.name}" %></div>
  </div>

  <% @business.perks_in_time.each do |perk| %>

  <div class="col-md-6 col-sm-6 col-xs-12 perk-carddd <%= !perk.perk_in_time? || !(user_signed_in? && perk.perk_usable?(current_user))  ? 'unavailable' : 'available' %>" id="perk-modal-dynamic-<%= perk.id %>">

          <div class="card-perks">
              <div class="bolt-icon">
                  <i class="fa fa-bolt" aria-hidden="true"></i>
              </div>
              <% if perk.times > 0 %>
              <p class="perks-number"><%= perk.times - Use.where(perk_id: perk.id).count %>
                  restants.</p>
              <% end %>
              <div class="perks-offer-type" style="border-color: <%= @business.business_category.color %>;">
                  <%= perk.offer_type? %>
              </div>
              <img  class="card-img-top img-responsive" src="<%= perk.picture.present? ? perk.picture.url(:card) : @business.picture.url(:card) %>" alt="perk picture">
              <div class="card-block card-right">
                  <p class="perk-description card-text text-center">
                      <%= perk.name %>
                  </p>
              </div>
          </div>
  </div>

    <%= render "businesses/business_perk_show", perk: perk %>

  <% end %>

</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function(){

      $(".pmls-modal").click(function() {
        var classModal = $(this).attr('id');
        $('.' + classModal).removeClass("hidden");
      });

      $('.closed-perk-modal-mobile-member').click(function() {
         // console.log($(this).closest(".pmdjs"));
        $(".perk-modal-mobile-member").addClass('hidden');
      });

      // $(".use-button-logout").click(function() {
      //   $('.use-overlay').removeClass('hidden');
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT_LOGOUT');
      // });

      // $(".btn-use-button").click(function() {
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT');
      // });
    });

  </script>

<% end %>
