<div class="perk-modal-mobile-member hidden">
  <button type="button" class="closed-perk-modal-mobile-member close-button">&times;</button>

  <div class="perk-modal-member-header">
    <div class="member-header-text"><%= "Les bons plans de #{@business.name}" %></div>
  </div>

  <% @business.perks_in_time.each do |perk| %>

    <div class="mapboxv2">
      <div class="pmls-modal" id="perk-modal-dynamic-<%= perk.id %>">
          <i class="fa fa-plus"></i>
      </div>

      <div class="mv2-photo" style="background-image: url('<%= @business.picture.url(:thumb) %>');"></div>

      <div class="mv2-content">

        <div class="mv2-content-top" style="background-color: <%= @business.business_category.color %>;">
          <div class="mv2-content-top-top">
            <div class="mv2-content-top-top-text" style="font-size: 12px;"><%= perk.name %></div>
          </div>
          <div class="mv2-content-top-bottom"></div>
        </div>

        <div class="mv2-content-bottom" style="background-color: <%= @business.business_category.color %>;">

          <div class="mv2-content-bottom-left" style="background-color: rgba(55,55,55,0.2);">
            <div class="pastille">
              <%= image_tag perk.business.business_category.picture, size: "20x20" %>
            </div>
            <div class="business-on-perk"><%= @business.name %></div>
          </div>

          <div class="mv2-content-bottom-right" style="background-color: rgba(55,55,55,0.2);">
            <%= image_tag "icons/heart.svg", class: "red-heart"%>
            <div class="asso-firstblock-text-v2"><%= @business.sign_in_count %></div>
          </div>
        </div>
      </div>
    </div>

    <%= render "businesses/perk_show", perk: perk %>

  <% end %>

</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function(){

      $(".pmls-modal").click(function() {
        var classModal = $(this).attr('id');
        $('.' + classModal).removeClass("hidden");
      });

      $('.closed-perk-modal-mobile-member').click(function() {
         // console.log($(this).closest(".pmdjs"));
        $(".perk-modal-mobile-member").addClass('hidden');
      });

      // $(".use-button-logout").click(function() {
      //   $('.use-overlay').removeClass('hidden');
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT_LOGOUT');
      // });

      // $(".btn-use-button").click(function() {
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT');
      // });
    });

  </script>

<% end %>
