<%= content_for(:title) do %>
  Bons Plans
<% end %>
<%= content_for(:description) do %>
  Découvrez notre liste de bons plans
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">

    <div class="index-cards">
    <!-- COMPONENT | CARD BON PLAN -->
    <% @businesses.each do |business| %>
      <% business.perks.active.each do |perk| %>
        <div class="col-xs-6 col-sm-4">
          <div class="card-business">
            <div class="card-header" style="background-image: url('<%= image_url business.picture %>');">
              <!-- BUSINESS BACKGROUND IMAGE -->
            </div>
            <img src="<%= image_url business.leader_picture %>">
            <div class="business-details">
              <%= business.business_category.name %>
              <%= business.name.upcase %>
              <i class="fa fa-map-marker"> <strong><%= business.city.capitalize %></strong></i>
              <p><%= perk.perk.upcase %></p>
              <%= link_to business_path(business, perk_id: perk.id) do %>
                J'en profite
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

