<%= content_for(:title) do %>
  Bons Plans
<% end %>
<%= content_for(:description) do %>
  Découvrez notre liste de bons plans
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-perks">
    <div class="header-cards slick-filters">
      <div class="business-filter filter-carrousel">
        <a href="#" data-filter="*" class="filter-category current col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Tous</span>
        </a>
        <a href="#" data-filter=".1" class="filter-category col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Bars & Restaurant</span>
        </a>
        <a href="#" data-filter=".2" class="filter-category col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Shopping</span>
        </a>
        <a href="#" data-filter=".3" class="filter-category col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Online</span>
        </a>
        <a href="#" data-filter=".4" class="filter-category col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Café & Lieu de Vie</span>
        </a>
        <a href="#" data-filter=".5" class="filter-category col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Maison & jardin</span>
        </a>
        <a href="#" data-filter=".6" class="filter-category col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Loisirs & Sorties</span>
        </a>
        <a href="#" data-filter=".7" class="filter-category col-xs-12 col-sm-3">
          <div class="icone-category">
            <%= image_tag('icons/myperks.png') %>
          </div>
          <span>Beauté & Bien-être</span>
        </a>
      </div>
    </div>

    <div class="index-cards">
      <!-- COMPONENT | CARD BON PLAN -->
      <% @businesses.each do |business| %>
        <% business.perks.active.each do |perk| %>
          <%= link_to business_path(business, perk_id: perk.id), class: "card-frame #{business.business_category_id}" do %>
              <div class="card-header" style="background-image: url('<%= image_url business.picture %>');">
                <!-- BUSINESS BACKGROUND IMAGE -->
                <div class="card-owner" style="background-image: url('<%= image_url business.leader_picture %>');"></div>
                <h3><%= business.name %></h3>
              </div>
              <div class="card-body">
                <div class="business-details">
                  <span><%= business.business_category.name %></span>
                  <span><i class="fa fa-map-marker"></i><%= business.street %></span>
                </div>
                <span class="perk-description"><%= perk.perk %></span>
                <span class="goto-perk">Voir le bon plan</span>
              </div>
           <% end %>
        <% end %>
      <% end %>
    </div>
  <!-- END DASHBOARD PERKS -->
  </div>
 <!-- END ADMIN -->
</div>