<%= content_for(:title) do %>
  Bons Plans
<% end %>
<%= content_for(:description) do %>
  Découvrez notre liste de bons plans
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-view-perks">
    <div class="mobile-menu-overlay hidden"></div>
    <div class="side-menu-overlay hidden"></div>
    <div class="side-menu side-categories">
      <span id="open-categories"><i class="fa fa-cog"></i>Filtrer par catégories</span>
      <form class="controls" id="Filters">
      <ul>
        <!-- GROUPE ONLINE -->
        <fieldset>
          <a href="#" data-filter=".online" class="filter-btn current">
            <li id="online" class="category-item">
              <div class="container-icon" style="background-color: #DFDFDF;">
              </div>
              Voir les e-commerces
            </li>
          </a>
        </fieldset>
        <fieldset>
        <!-- RESET TO ALL -->
        <a href="#" data-filter="" class="filter-btn current">
          <li id="categories-all" class="category-item">
            <div class="container-icon" style="background-color: #fff;">
              <%= image_tag "icons/all.png" %>
            </div>
            Toutes les catégories
          </li>
        </a>
        <!-- GROUPE CATEGORIES -->
          <% BusinessCategory.all.each do |category| %>
          <a href="#" data-filter="<%= "."+category.id.to_s %>" class="filter-btn current">
            <li class="category-item">
              <div class="container-icon" style="background-color: <%= category.color %>;">
                <%= image_tag image_url category.picture %>
              </div>
              <%= category.name %>
            </li>
          </a>
          <% end %>
        </fieldset>
      </ul>
      </form>
    </div>

    <div id="mixitup" class="container-perk-cards">
      <% @businesses.each do |business| %>
        <% business.perks.active.each do |perk| %>
          <!-- COMPONENT | CARD BON PLAN -->
          <%= link_to business_path(business, perk_id: perk.id), class: "card-frame mix #{business.business_category_id} #{business.online? ? 'online' : ''}" do %>
            <!-- CARD HEADER -->
            <div class="card-header">
              <div class="card-header-main">
                <span class="perk-title"><%= business.name %></span>
                <span class="perk-owner"><%= business.leader_first_name %> vous accueillera</span>
              </div>
              <div class="card-header-category" style="background-color: <%= BusinessCategory.find(business.business_category_id).color %>;">
                <%= image_tag image_url BusinessCategory.find(business.business_category_id).picture %>
                <!-- <div class="category-container" style="background-color: <#= BusinessCategory.find(business.business_category_id).color %>;">
                </div> -->
              </div>
            </div>
            <!-- CARD BODY -->
            <div class="card-body" style="background-image: url('<%= image_url business.picture %>');">
              <div class="business-details">
                <% if perk.flash? && perk.times > 0 %>
                  <span style="background-color: <%= BusinessCategory.find(business.business_category_id).color %>;"><i class="fa fa-flash"></i><%= perk.times - Use.where(perk_id: perk.id).count  %> restants</span>
                <% end %>
                <h3><%= perk.name %></h3>
              </div>
            </div>
          <% end %>
          <!-- END | CARD BON PLAN -->
        <% end %>
      <% end %>
    </div>

  <!-- END | DASHBOARD PERKS -->
  </div>
 <!-- END | ADMIN -->
</div>

<% content_for :after_js do %>
  // <script>
    $(document).ready(function(){

      $('#open-categories').click(function(event) {
        $('.side-menu-overlay').toggleClass('hidden');
        //$('.container-perk-cards').toggleClass('blurred');
        $('.side-categories').toggleClass('is-open-max');
        $('.category-item').toggleClass('is-open-min');
        $('.side-notification').removeClass('is-open-max');
        $('.notification-panel').removeClass('is-open-min');
      });
    });

// To keep our code clean and modular, all custom functionality will be contained inside a single object literal called "buttonFilter".

var buttonFilter = {

  // Declare any variables we will need as properties of the object

  $filters: null,
  $reset: null,
  groups: [],
  outputArray: [],
  outputString: '',

  // The "init" method will run on document ready and cache any jQuery objects we will need.

  init: function(){
    var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "buttonFilter" object so that we can share methods and properties between all parts of the object.

    self.$filters = $('#Filters');
    self.$reset = $('#categories-all');
    self.$container = $('#mixitup');

    self.$filters.find('fieldset').each(function(){
      self.groups.push({
        $buttons: $(this).find('.filter-btn'),
        active: ''
      });
    });

    self.bindHandlers();
  },

  // The "bindHandlers" method will listen for whenever a button is clicked.

  bindHandlers: function(){
    var self = this;

    // Handle filter clicks

    self.$filters.on('click', '.filter-btn', function(e){
      e.preventDefault();
      var $button = $(this);

      // If the button is active, remove the active class, else make active and deactivate others.

      $button.hasClass('is-selected') ?
        $button.removeClass('is-selected') :
        $button.addClass('is-selected').siblings('.filter-btn').removeClass('is-selected');

      self.parseFilters();
    });

    // Handle reset click

    self.$reset.on('click', function(e){
      e.preventDefault();

      self.$filters.find('.filter-btn').removeClass('is-selected');

      self.parseFilters();
    });
  },

  // The parseFilters method checks which filters are active in each group:

  parseFilters: function(){
    var self = this;

    // loop through each filter group and grap the active filter from each one.

    for(var i = 0, group; group = self.groups[i]; i++){
      group.active = group.$buttons.filter('.is-selected').attr('data-filter') || '';
    }

    self.concatenate();
  },

  // The "concatenate" method will crawl through each group, concatenating filters as desired:

  concatenate: function(){
    var self = this;

    self.outputString = ''; // Reset output string

    for(var i = 0, group; group = self.groups[i]; i++){
      self.outputString += group.active;
    }

    // If the output string is empty, show all rather than none:

    !self.outputString.length && (self.outputString = 'all');

    // console.log(self.outputString);

    // ^ we can check the console here to take a look at the filter string that is produced

    // Send the output string to MixItUp via the 'filter' method:

    if(self.$container.mixItUp('isLoaded')){
      self.$container.mixItUp('filter', self.outputString);
    }
  }
};

// On document ready, initialise our code.

$(function(){

  // Initialize buttonFilter code

  buttonFilter.init();

  // Instantiate MixItUp

  $('#mixitup').mixItUp({
    controls: {
      enable: true // we won't be needing these
    },
  });
});

  </script>
<% end %>
