<%= content_for(:title) do %>
  Bons Plans
<% end %>
<%= content_for(:description) do %>
  Découvrez notre liste de bons plans
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-view-perks">
    <!-- <div class="header-cards slick-filters">
      <div class="business-filter filter-carrousel">
        <a href="#" data-filter="*" class="filter-category current col-xs-12 col-sm-3">
          <div class="icone-category">
            <#%= image_tag('icons/myperks.png') %>
          </div>
          <span>Tous</span>
        </a>
        <# BusinessCategory.all.each do |category| %>
          <a href="#" data-filter="<#= "."+category.id.to_s %>" class="filter-category current col-xs-12 col-sm-3">
            <div class="icone-category">
              <#= image_tag image_url category.picture %>
            </div>
            <span><#= category.name %></span>
          </a>
        <# end %>
      </div>
    </div> -->

    <div class="container-perk-cards">
      <% @businesses.each do |business| %>
        <% business.perks.active.each do |perk| %>
          <!-- COMPONENT | CARD BON PLAN -->
          <%= link_to business_path(business, perk_id: perk.id), class: "card-frame #{business.business_category_id}" do %>
            <!-- CARD HEADER -->
            <div class="card-header">
              <div class="card-header-main">
                <span class="perk-title"><%= business.name %></span>
                <span class="perk-owner"><%= business.leader_first_name %> <%= business.leader_last_name %> vous accueillera</span>
              </div>

              <div class="card-header-category" style="background-color: <%= BusinessCategory.find(business.business_category_id).color %>;">
                <!-- <#= image_tag image_url BusinessCategory.find(business.business_category_id).picture %> -->
                <div class="category-container" style="background-color: <%= BusinessCategory.find(business.business_category_id).color %>;">
                  <i class="fa fa-cog"></i>
                </div>
              </div>
              <div class="card-header-extra">
                <% if perk.flash? %>
                  <i class="fa fa-flash"></i>
                <% end %>
              </div>
            </div>
            <!-- CARD BODY -->
            <div class="card-body" style="background-image: url('<%= image_url business.picture %>');">
               <% if perk.flash? %>
                    <span><i class="fa fa-bookmark" style="color: <%= BusinessCategory.find(business.business_category_id).color %>;"></i><%= perk.times - Use.where(perk_id: perk.id).count  %> restants</span>
                  <% end %>
              <div class="business-details">

                <h3><%= perk.perk %></h3>
              </div>
            </div>
          <% end %>
          <!-- END | CARD BON PLAN -->
        <% end %>
      <% end %>
    </div>

  <!-- END | DASHBOARD PERKS -->
  </div>
 <!-- END | ADMIN -->
</div>
