<!-- < title #{@product.name} à seulement #{@product.price} €" %>
< meta_description @product.description %>
< meta_image @product.url %> -->

<div class="padded">
  <div class="container">
    <div class="col-sm-6">
      <h1>Listes des Bon Plans</h1>
      <% @businesses.each do |business| %>
        <li>
        <%= link_to business do %>
        <div class="row relative">
          <%= business.name %>
          <%= business.category %>
          <%= business.city %>
          <%= business.description %>
        <% end %>
        </li>
      </div>
    <%end%>
</div>