<%= content_for(:title) do %>
  Bons Plans
<% end %>

<div id="perks" class="">
  <div class="container-fluid cforgood-background" id="perks-header">
    <div class="row">
      <div class="page-title">
        <%= image_tag("perk-white.png") %>
        <h1>Nos Bons Plans</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-6">
      <% @businesses.each do |business| %>
        <li>
        <%= link_to business do %>
        <div class="row relative">
          <%= business.name %>
          <%= business.category %>
          <%= business.city %>
          <%= business.description %>
        <% end %>
        </li>
      </div>
    <%end%>
</div>