<%= content_for(:title) do %>
  <%= @business.name %>
<% end %>

<!-- <div class="container-fluid cforgood-background" id="business-header">
  <div class="row">
    <div class="page-title">
      <%= image_tag("perk-white.png") %>
      <h1>DECOUVREZ</h1>
    </div>
  </div>
</div> -->

<div class="container-fluid cforgood-background" id="business-show-header">
    <div class="page-title">
      <h3 class="pt-20">DECOUVREZ</h3>
      <h1><%= @business.name %></h1>
    </div>
  </div>
</div>

<div class="container-fluid text-center black" id="bg-business-show">
  <div class="whitebox-show-business"></div>
    <p><%= @business.category %></p>
    <h3><%= @business.perk %></h3>
    <p><%= @business.description %></p>
    <p><%= @business.street %></p>
    <p><%= @business.zipcode %></p>
    <p><%= @business.city %></p>
    <p><%= @business.url %></p>
    <p><%= @business.telephone %></p>
    <p><%= @business.email %></p>


</div>