<%= content_for(:title) do %>
  <%= @business.name %>
<% end %>
<%= content_for(:description) do %>
  Découvrez le Bon Plan offert par <%= @business.name %> !
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-perk">
    <% @business.perks.find(params[:perk_id]).update_nb_view! if user_space? %>
    <!-- PERK MENU -->
    <div class="switch-tab">
      <span class="switch-active"></span>
      <button class="switch-button active-case">Bon plan</button>
      <button class="switch-button"><%= truncate(@business.name, length: 18) %></button>
    </div>

    <!-- PERK CARDS -->
    <div class="flip-container">
      <div class="flipper">
        <figure class="front">
        <!-- PERK IMAGE - CHANGE BACKGROUND IMAGE -->
        <% if @business.perks.find(params[:perk_id]).picture? %>
        <div class="perk-image" style="background-image: url('<%= image_url @business.perks.find(params[:perk_id]).picture %>');">
        <% else %>
        <div class="perk-image" style="background-image: url('<%= image_url @business.picture %>');">
        <% end %>

        <!-- IF FLASH PERK -->
        <% if @business.perks.find(params[:perk_id]).flash? %>
          <span class="flash-notification" style="background-color: <%= BusinessCategory.find(@business.business_category_id).color %>;"><i class="fa fa-flash"></i><%= @business.perks.find(params[:perk_id]).times - Use.count  %> restants</span>
          <span class="availabilities">Valable du <%= @business.perks.find(params[:perk_id]).start_date.try(:strftime, '%d %b.') %> au <%= @business.perks.find(params[:perk_id]).end_date.try(:strftime, '%d %b. %Y') %></span>
        <% end %>
        <h1><%= @business.perks.find(params[:perk_id]).perk %></h1>
        <p><%= @business.perks.find(params[:perk_id]).description %></p>
        <div class="use-perk">
          <%# if current_user.member %>
            <% if @business.perks.find(params[:perk_id]).perk_usable?(current_user) %>
             <!--  <button type="button" class="use-button" data-toggle="modal" data-target="#codeModal" style="background-color: <%#= BusinessCategory.find(@business.business_category_id).color %>;">J'en profite</button> -->
              <button type="button" class="use-button" style="background-color: <%= BusinessCategory.find(@business.business_category_id).color %>;">J'en profite</button>
            <% else %>
              <div id="button-used">
                <button class="empty">Bon plan épuisé</button>
              </div>
            <% end %>
          <%# end %>
        </div>
      </div>

      <div class="perk-owner">
        <div class="owner-details">
          <% if @business.leader_picture.present? %>
            <%= image_tag image_url @business.leader_picture %>
          <% else %>
            <%= image_tag image_url @business.picture %>
          <% end %>
          <span>Rendez-vous chez <%= @business.name %><br><small><%= @business.leader_first_name %> vous accueillera.</small></span>
        </div>
        <div id="map-perk" style="width: 100%;"></div>
        <span class="business-address"><i class="fa fa-map-marker"></i><%= @business.street %>, <%= @business.zipcode %> <%= @business.city %></span>
      </div>
    </figure> <!-- END FRONT CARD -->

    <figure class="back"><!-- BACK CARD -->
      <div class="business-card">
        <!-- BACKGROUND IMAGE -->
        <div class="perk-image" style="background-image: url('<%= image_url @business.picture %>');">
          <%= image_tag image_url @business.leader_picture %>
          <h2><%= @business.name %></h2>
        </div>

        <div class="profile-card">
          <div class="profile-business">
            <% if @business.name.present? && @business.description.present? %>
              <h3>En quelques mots</h3>
              <p><%= @business.description %></p>
            <% else %>
              <p>Profil en construction</p>
            <% end %>
            <!-- LINKS | FIND THEM -->
            <h3>Contactez-nous</h3>
            <ul class="reach-us">
              <li>
                <% if @business.email.present? %>
                  <a href="mailto:<%= @business.email %>" class="business-link link-mailto" target="_blank">
                    <i class="fa fa-envelope business-icon"></i>
                  </a>
                <% else %>
                   <div class="business-link">
                    <i class="fa fa-envelope business-icon"></i>
                  </div>
                <% end %>
              </li>
              <li>
                <% if @business.telephone.present? %>
                  <a href="tel:<%= @business.telephone %>" class="business-link link-mailto hint--top" target="_blank" data-hint="<%= @business.telephone %>">
                    <i class="fa fa-phone"></i>
                  </a>
                <% else %>
                   <div class="business-link">
                    <i class="fa fa-phone"></i>
                  </div>
                <% end %>
              </li>
              <li>
                <% if @business.telephone.present? %>
                  <%= link_to "http://maps.google.com/maps", class: "business-link link-mailto", id:"link-map", disabled: true, data: { locale: I18n.locale, destination: { latitude: Perk.find(params[:perk_id]).business.latitude, longitude: Perk.find(params[:perk_id]).business.longitude } }, :target => "_blank" do %>
                    <i class="fa fa-location-arrow"></i>
                  <% end %>
                <% else %>
                   <div class="business-link">
                    <i class="fa fa-location-arrow"></i>
                  </div>
                <% end %>
              </li>
            </ul>
            <!-- LINKS | WEB -->
            <h3>En savoir plus</h3>
            <ul>
              <li>
                <% if @business.url.present? %>
                  <a href="http://<%= @business.url %>" class="business-link link-website" target="_blank">
                    <i class="fa fa-globe business-icon"></i>
                  </a>
                 <% else %>
                  <div class="business-link">
                    <i class="fa fa-globe business-icon"></i>
                  </div>
                <% end %>
              </li>
              <li>
                <% if @business.facebook.present? %>
                  <a href="http://facebook.com/<%= @business.facebook %>" class="business-link link-facebook" target="_blank">
                    <i class="fa fa-facebook business-icon"></i>
                  </a>
                <% else %>
                   <div class="business-link">
                    <i class="fa fa-facebook business-icon"></i>
                  </div>
                <% end %>
              </li>
              <li>
                <% if @business.twitter.present? %>
                  <a href="http://twitter.com/<%= @business.twitter %>" class="business-link link-twitter" target="_blank">
                    <i class="fa fa-twitter business-icon"></i>
                  </a>
                <% else %>
                   <div class="business-link">
                    <i class="fa fa-twitter business-icon"></i>
                  </div>
                <% end %>
              </li>
              <li>
                <% if @business.instagram.present? %>
                  <a href="http://instagram.com/<%= @business.instagram %>" class="business-link link-instagram" target="_blank">
                    <i class="fa fa-instagram business-icon"></i>
                  </a>
                <% else %>
                   <div class="business-link">
                    <i class="fa fa-instagram business-icon"></i>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
          <!-- SECOND SLIDE -->
          <div class="profile-owner">
            <% if @business.leader_description.present? %>
              <h3>Qui se cache derrière ?</h3>
              <p><%= @business.leader_description %></p>
            <%end %>
          </div>
        </div>
      </div>
    </figure><!-- END BACK CARD -->
  </div>

  </div>
</div>

<!-- MODAL CODE PERK -->
<% if !current_user.member %>
  <%= render "pro/perks/modals/code_perk_not_member" %>
<% elsif @business.online %>
  <%= render "pro/perks/modals/code_perk_online" %>
<% elsif device_type == :mobile %>
  <%= render "pro/perks/modals/code_perk_offline_mobile" %>
<% else %>
  <%= render "pro/perks/modals/code_perk_offline_desktop" %>
<% end %>

<% content_for(:after_js) do %>

  <%= render 'components/map_perk_show', geojson: @geojson, latitude:  @business.latitude, longitude:  @business.longitude %>

  <script>

    $('.switch-button').click(function() {
      $('.switch-active').toggleClass('activated');
      $('.flipper').toggleClass('flipped');
    });

    // $(document).ready(function() {
    //   $("#button-used").popover({
    //     html: true,
    //     container: "body",
    //     trigger: "hover"
    //   });
    // });

    $(document).ready(function() {

      $(".use-button").click(function() {
        $('.done-overlay').removeClass('hidden');
      });

      $(".close-button").click(function() {
        $('.done-overlay').addClass('hidden');
      });

    });

  </script>
<% end %>
