<% content_for :meta_title, @business.name %>
<% content_for :meta_description, "Découvrez le Bon Plan offert par #{@business.name} !" %>
<% content_for :meta_image, @business.picture %>

<%= render 'businesses/business_search_index' %>
<%= render "member/dashboard/shared/sidebar" %>

<div class="fullpage">

  <div class="fullpage-left-item">
    <div class="colored-banner" style="background-color: <%= @business.business_category.color %>;">
      <div class="banner-business-name">
        <div class="name"><%= @business.name %></div>
      </div>
      <div class="banner-business-top-infos">
        <div class="infos-left">
          <div class="pastille">
            <%= image_tag @business.business_category.picture, size: "20x20" %>
          </div>
          <div class="category-name category"><%= @business.business_category.name %></div>
        </div>
        <div class="infos-right">
          <div class="dot-state"></div>
          <div class="dot-state-name">Ouvert</div>
        </div>
      </div>
      <div class="card-abs-banner">
        <div class="card-photo" style="background-image: url('<%= @business.picture %>');"></div>
        <div class="card-bottom-links">
          <div class="card-bottom-left-item" style="background-color: <%= @business.business_category.color %>;">
            <% if @business.like == 1 %>
              <%= image_tag "icons/heart.svg", class: "red-heart"%>
              <div class="firstblock-text"><%= "#{@business.like} personne" %></div>
            <% elsif @business.like > 1 %>
              <%= image_tag "icons/heart.svg", class: "red-heart"%>
              <div class="firstblock-text"><%= "#{@business.like} personnes" %></div>
            <% end %>
          </div>
          <div class="card-bottom-right-item" style="background-color: <%= @business.business_category.color %>;">
            <div class="cbri-middleblock">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="cbri-endblock">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fullpage-left-item-bottom">
      <div class="">
        <div class="title-sub">Leurs engagements</div>
      </div>
      <div class="flib-engages">
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Eco-responsable</div>
        </div>
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Zéro déchets</div>
        </div>
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Circuit court</div>
        </div>
      </div>
      <div class="">
        <div class="title-sub">En quelques mots</div>
      </div>
      <% if @business.description.present? %>
        <div class="business-desc">
          <%= @business.description %>
        </div>
      <% else %>
        <div class="business-desc">Profil en construction</div>
      <% end %>
      <div class="title-sub">Détails</div>
      <div class="business-infos">
        <!-- BLOCK MAP -->
        <div class="perk-map" style="border-color: <%= @business.business_category.color %>;">
          <div id="map-perk-desktop"></div>
          <div class="business-address">
            <div class="pastille" style="background-color:<%= @business.business_category.color %>;">
              <i class="fa fa-map-marker"></i>
            </div>
            <span><%= @address.present? ? @address.street : @business.street %>,
            <br><%= @address.present? ? @address.zipcode : @business.zipcode %> <%= @address.present? ? @address.city : @business.city %></span>
          </div>
        </div>
        <!-- LINKS | FIND THEM -->
        <%= render "pro/dashboard/shared/business_links" %>
      </div>
    </div>
  </div>

  <div class="fullpage-right-item hidden-xs">
    <div class="title-fri-underline" style="border-color: <%= @business.business_category.color %>;">Nos bons plans</div>
    <% @business.perks.active.each do |perk| %>
      <div class="perk-card-container perk-modal-use-<%= perk.id %>">
        <%= render  "businesses/business_card", business: @business, address: @address, perk: perk, index_view: false %>
      </div>
      <div class="perk-modal-use">
        <% if !user_signed_in? %>
          <%= render "businesses/business_perk_not_member" %>
        <% else %>
          <%= render "businesses/perk_show", perk: perk %>
        <% end %>
          <%#= render "businesses/mobileshow_member" %>
      </div>
    <% end %>
  </div>

  <div class="mobile_perks_list visible-xs">
    <button class="button-validation-modal mobile-perks-list" style="background-color:<%= @business.business_category.color %>;">
      Voir nos bons plans
    </button>
    <%= render "businesses/mobile_perks_list" %>
  </div>
</div>

<% content_for :after_js do %>

  <script type="text/javascript">setRoutePathFromLocation()</script>

  <%= render 'components/map_show', geojson: @geojson, container: device_type == :mobile ? 'map-perk' : 'map-perk-desktop' %>

  <script>

    $(document).ready(function(){

      $(".perk-pseudo-modal-link").click(function() {
        var classModal = $(this).attr('id');
        $('.' + classModal).removeClass("hidden");
      });

      $(".mobile-perks-list").click(function() {
        $('.perk-modal-mobile-member').removeClass("hidden");
      });

      // $(".use-button-logout").click(function() {
      //   $('.use-overlay').removeClass('hidden');
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT_LOGOUT');
      // });

      // $(".btn-use-button").click(function() {
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT');
      // });
    });
  </script>

<% end %>


