<%= content_for(:title) do %>
  <%= @business.name %>
<% end %>
<%= content_for(:description) do %>
  Découvrez le Bon Plan offert par <%= @business.name %> !
<% end %>

<div class="container-fluid cforgood-background-business-show" id="business-show-header">
  <div class="mt-65">
    <div class="col-sm-8 col-sm-offset-2" id="bg-show-business-header" style="background-image: url(<%= image_url @business.picture %>)">
      <div class="blackbox-show-business"></div>
      <div class="col-sm-5 ml-5cent">
        <div class="absolute" id="name-show-header">
          <h1><%= @business.name %></h1>
        </div>
        <div class="col-sm-10 col-sm-offset-1" id="border-show-header"></div>
        <div class="absolute" id="address-show-header">
          <i class="fa fa-map-marker"><strong> <%= @business.street %>, <%= @business.city %></strong></i>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="absolute border3 ml-16cent" id="business-perk-show-header">
          <h3><%= @business.perk.upcase %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid black" id="business-show-body">
  <div class="whitebox-show-business"></div>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-7 text-left mt-50 mb-30 pr-2cent">

      <div id="header-perk-body">
        <div class="col-sm-7 red">
          <p class="s-18 w-400 pl-15">NOUS PENSONS QUE VOUS AIMEREZ</p>
        </div>
        <div class="col-sm-3 col-sm-offset-1" id="links-business">
          <ul class="list-inline">
              <li id="nopadding-business">
                <a href="<%= @business.facebook %>" class="link-facebook-business business-icon-container" target="_blank">
                  <i class="fa fa-facebook business-icon f-17"></i>
                </a>
              </li>

              <li id="nopadding-business">
                <a href="<%= @business.twitter %>" class="link-instagram-business business-icon-container" target="_blank">
                  <i class="fa fa-twitter business-icon f-17"></i>
                </a>
              </li>

              <li id="nopadding-business">
                <a href="mailto:<%= @business.email %>" class="link-mail-business business-icon-container" target="_blank">
                  <i class="fa fa-envelope business-icon f-17"></i>
                </a>
              </li>

              <li id="nopadding-business">
                <a href="<%= @business.url %>" class="link-website-business business-icon-container" target="_blank">
                  <i class="fa fa-globe business-icon f-20"></i>
                </a>
              </li>

          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div class="col-sm-8" id="border-show-body"></div>
      <div class="clear"></div>
      <div id="description-perk-body">
        <p><%= @business.description %></p>
      </div>

      <div id="details-perk-body">
        <p class="col-sm-7 red text-left s-18 w-400 mt-10 pl-15">BON PLAN OFFERT AUX MEMBRES</p>
        <div class="clear"></div>
        <div class="col-sm-8" id="border-show-body"></div>
        <div class="clear"></div>
        <li class="mt-10 w-100"><%= @business.description_perk %></li>
      </div>

      <div id="details-perk-body">
        <p class="col-sm-5 red text-left s-18 w-400 mt-10 pl-15">DETAILS DU BON PLAN</p>
        <div class="clear"></div>
        <div class="col-sm-8" id="border-show-body"></div>
        <div class="clear"></div>
        <p class="mt-10"><%= @business.detail_perk %></p>
      </div>
    </div>

  <div class="col-sm-5 mt-50 mb-30" id="info-business-show-body">
      <!-- <div class="col-sm-12" id="bg-show-business-body" style="background-image: url(<%= image_url @business.picture %>)">
        <div class="blackbox-show-business"></div>
        <p><%= @business.telephone %></p>
        <p><%= @business.email %></p>
      </div>
    </div> -->
    <div id="map" class="index-2 map-business" style="width: 110%; height: 310px;"></div>
    <div class="text-center">
      <div class="col-sm-4 mt-30">
        <i class="fa fa-phone"><strong> <%= @business.telephone %></strong></i>
      </div>
      <div class="col-sm-3 mt-30">
        <i class="fa fa-folder-open fa-rotate-90"></i><strong> 9h - 18h</strong>
      </div>
      <div class="col-sm-5 mt-30">
        <i class="fa fa-check"><strong> Du Lundi au Samedi</strong></i>
      </div>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);

      });
    })
  <% end %>
<% end %>