<% content_for :meta_title, @business.name %>
<% content_for :meta_description, "Découvrez le Bon Plan offert par #{@business.name} !" %>
<% content_for :meta_image, @business.picture %>

<%= render 'businesses/business_search_index' %>
<%= render "member/dashboard/shared/sidebar" %>

<div class="container-fluid full-page">
    <div class="row" style="margin-top: 2.5%;">
        <!-- This is the left side of the page (business infos) -->
        <div class="col-md-6 col-sm-12 col-xs-12 left-side">
            <div class="main-card-left">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <img class="card-img-top img-responsive" src="<%= @business.picture.url(:medium) %>" alt="Business picture">

                        <div class="row business-picture-row">
                            <div class="col-md-10 col-sm-10 col-xs-10 col socials-row">
                                <p class= "likes">

                                    <% if @business.like == 1 %>
                                    <%= image_tag "icons/heart.svg", class: "red-heart"%>
                                    <p><%= "#{@business.like} personne aime" %></p>
                                    <% elsif @business.like > 1 %>
                                    <%= image_tag "icons/heart.svg", class: "red-heart"%>
                                    <p><%= "#{@business.like} personnes aiment" %></p>
                                    <% end %>
                                  </p>

                                <p class="likes align-middle"><%= @business.name %></p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 share-row" style="background-color:<%= @business.business_category.color %>;">
                                <div class="dropup">
                                    <a href="" class="share-socials dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Partager <span class="not-on-mobile-device">sur
                                        <i class="fa fa-share-alt" aria-hidden="true"></i></span></span>
                                    </a>
                                    <ul class="dropdown-menu socials" role="menu" aria-labelledby="dLabel">
                                        <li class="dropdown-socials">
                                            <a href="https://www.facebook.com/sharer.php?s=<%= request.url %>&title=CforGood" target="_blank">
                                                Facebook
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown-socials">
                                            <a href="http://twitter.com/home?status=CforGood+<%= request.url %>" target="_blank">
                                                Twitter
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-block card-left">
                    <span>{business.opening}</span>
                    <h1 class="card-text" id="business-name"><%= @business.name %></h1><br>
                    <div class="row">
                        <div class="business-specs">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <div class="round-icon" style="background-color:<%= @business.business_category.color %>;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-5">
                                <p class="business-category"><%= @business.business_category.name %></p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-5">
                                <p class="business-distance">
                                    <i style="color:<%= @business.business_category.color %>;" class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                    à
                                    <%= display_distance(@address.distance_from(@lat_lng)) %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 col-sm-4 col-sms-offset1 col-xs-12">
                            <div class="business-category-image img-responsive">
                                <%= image_tag @business.business_category.picture, size: "80x80" %>
                            </div>
                        </div>
                    </div>

                    <div class="row"><hr class="horizontal-bar"></div>

                    <% if @labels.present? %>
                      <h6>Leurs engagements</h6>
                      <div class="row">
                          <% @labels.each do |label| %>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <p>
                                  <%= image_tag label.label_category.picture, size: "40x40" %>
                                  <%= label.label_category.name %>
                              </p>
                          </div>
                          <% end %>
                      </div><br>
                    <% end %>

                    <h6>En quelques mots</h6>
                    <p>
                        <% if @business.description.present? %>
                        <div class="business-description">
                            <%= @business.description %>
                        </div>
                    <% else %>
                        <div class="business-descritption">Profil en construction</div>
                        <% end %>
                    </p>

                    <div class="row"><hr class="horizontal-bar"></div>

                    <div class="row details">
                        <h6>Détails</h6>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="map-details">
                                <div id="map-perk-desktop"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 business-informations">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <div class="row business-address-row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <i class="fa fa-map-o fa-2x" style="color:<%= @business.business_category.color %>;"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 business-addresss">
                                            <span><%= @address.present? ? @address.street : @business.street %></span>
                                            <span><%= @address.present? ? @address.zipcode : @business.zipcode %>
                                                <%= @address.present? ? @address.city : @business.city %></span>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <ul class="business-opening-hours">
                                        <li>{Lundi}</li>
                                        <li>{Mardi}</li>
                                        <li>{Mercredi}</li>
                                        <li>{Jeudi}</li>
                                        <li>{Vendredi}</li>
                                        <li>{Samedi}</li>
                                        <li>{Dimanche}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="business-contacts col-md-4 col-sm-4 col-xs-12">
                            <%= render "pro/dashboard/shared/business_links" %>
                        </div>
                    </div>

                    <% if @business.leader_description.present? %>
                      <div class="row"><hr class="horizontal-bar"></div>

                      <div class="leader-presentation">
                          <h6>Qui se cache derrière ?</h6><br>
                          <div class="row">
                              <div class="col-md-3 col-sm-4 col-xs-6">
                                  <img class="img-circle img-responsive" src="<%= @business.leader_picture %>" alt=""/>
                              </div>
                              <div class="col-md-9 col-sm-8 col-xs-12">
                                  <p><strong><%= @business.leader_first_name %>
                                      <%= @business.leader_last_name %></strong></p><br>
                                  <p class="leader-description"><%= @business.leader_description %></p>
                              </div>
                          </div>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- This is the right side of the page (perks from the business) -->

        <div class=" col-md-6 col-sm-12 col-xs-12 right-side hidden-xs">
            <h2 style="border-color: <%= @business.business_category.color %>;">Nos bons plans
            </h2><br>
            <% @business.perks.active.each do |perk| %>
              <div class="">
                  <%= render "businesses/business_card", business: @business, address: @address, perk: perk, index_view: false %>
              </div>
              <div class="">
                <% if !user_signed_in? %>
                  <%= render "businesses/business_perk_not_member", perk: perk %>
                <% else %>
                  <%= render "businesses/business_perk_show", perk: perk %>
                <% end %>
              </div>
            <% end %>
        </div>

        <div class="mobile_perks_list visible-xs">
            <button class="button-validation-modal mobile-perks-list" style="background-color:<%= @business.business_category.color %>;">
                Voir nos bons plans
            </button>
            <%= render "businesses/mobile_perks_list" %>
        </div>
    </div>
</div>

<% content_for :after_js do %>

<script type="text/javascript">
setRoutePathFromLocation()
</script>

<%= render 'components/map_show', geojson: @geojson, container: device_type == :mobile ? 'map-perk' : 'map-perk-desktop' %>

<script>
$(document).ready(function () {

    $('.perk-carddd.available').click(function () {
        var classModal = $(this).attr('id');
        $('.' + classModal).removeClass("hidden");
        $('#overlayyy').css('width', '100%');
    });

    $(".mobile-perks-list").click(function () {
        $('.perk-modal-mobile-member').removeClass("hidden");
    });

    // $(".use-button-logout").click(function() {   $('.use-overlay').removeClass('hidden');   // EVENT AMPLITUDE USER_C_BENEFIT   amplitude.logEvent('USER_C_BENEFIT_LOGOUT'); }); $(".btn-use-button").click(function() {   // EVENT AMPLITUDE
    // USER_C_BENEFIT   amplitude.logEvent('USER_C_BENEFIT'); });
});
</script>

<% end %>
