<%= content_for(:title) do %>
  <%= @business.name %>
<% end %>
<%= content_for(:description) do %>
  Découvrez le Bon Plan offert par <%= @business.name %> !
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-perks">
    <% @business.perks.find(params[:perk_id]).update_nb_view! %>
    <div class="perk-board">
      <div class="perk-header" style="background-image: url('<%= image_url @business.picture %>');">
        <h1><%= @business.name %><br><small><%=  @business.business_category.name %></small></h1>
        <div class="perk-owner" style="background-image: url('<%= image_url @business.leader_picture %>');"></div>
        <span><i class="fa fa-map-marker"></i><%= @business.street %>, <%= @business.city %></span>
      </div>
      <div id="map-perk" style="width: 100%;"></div>
      <div class="section-perk">
        <div class="description-perk">
          <h2><%= @business.perks.find(params[:perk_id]).perk.upcase %></h2>
          <span><%= @business.perks.find(params[:perk_id]).description %></span>
        </div>
        <div class="use-perk">
          <% if current_user.member %>
            <% if @business.perks.find(params[:perk_id]).perk_usable?(current_user) %>
              <button type="button" class="use-button" data-toggle="modal" data-target="#codeModal">J'en profite</button>
            <% else %>
              <div class="button-use-popover" id="button-used", data-content="Ce Bon Plan n'est plus accessible, mais il y en a bien d'autres à découvrir !" data-placement="bottom" data-original-title="Oups !" data-trigger="hover">
                <button class="button button-inactive">J'en profite</button>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="section-business">
        <div class="business-details">
          <!-- BUSINESS | DESCRIPTION -->
          <h3>En savoir plus sur <%= @business.name %></h3>
          <p><%= @business.description %></p>
           <!-- OWNER | DESCRIPTION -->
          <% if @business.leader_description.present? %>
            <h3>Qui se cache derrière ?</h3>
            <p><%= @business.leader_description %></p>
          <%end %>
          <!-- LINKS | WEB -->
          <h3>Sur le web </h3>
          <ul>
            <% if @business.email.present? %>
              <li>
                <a href="mailto:<%= @business.email %>" class="link-mail-business business-icon-container" target="_blank">
                  <i class="fa fa-envelope business-icon"></i><span><%= @business.email %></span>
                </a>
              </li>
            <% end %>
            <% if @business.url.present? %>
              <li>
                <a href="<%= @business.url %>" class="link-website-business business-icon-container" target="_blank">
                  <i class="fa fa-globe business-icon"></i><span><%= @business.url %></span>
                </a>
              </li>
            <% end %>
          </ul>
          <!-- LINKS | SOCIAL NETWORKS -->
          <h3>Sur les réseaux</h3>
          <ul class="network">
            <% if @business.facebook.present? %>
              <li>
                <a href="<%= @business.facebook %>" class="link-facebook-business business-icon-container" target="_blank">
                  <i class="fa fa-facebook business-icon"></i>
                </a>
              </li>
            <% end %>
            <% if @business.twitter.present? %>
              <li>
                <a href="<%= @business.twitter %>" class="link-instagram-business business-icon-container" target="_blank">
                  <i class="fa fa-twitter business-icon"></i>
                </a>
              </li>
            <% end %>
            <% if @business.instagram.present? %>
              <li>
                <a href="<%= @business.instagram %>" class="link-instagram-business business-icon-container" target="_blank">
                  <i class="fa fa-instagram business-icon"></i>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- PERKS | OTHERS -->
        <div class="business-more-perks">
          <h3>Profitez de leurs autres bon plans</h3>
          <div class="listing-perks">
            <ul>
              <% @business.perks.active.each do |perk| %>
                <li>
                  <%= link_to business_path(perk.business_id, perk_id: perk.id), class: "see-perk" do %>
                    <%= perk.perk %><i class="fa fa-angle-right"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- MODAL CODE PERK -->
<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="codeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-turquoise">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="codeModalLabel">Code d'accès au bon plan</h4>
      </div>
      <div class="modal-body text-center">
        <% if @business.online %>
          <%= render "pro/perks/modals/code_perk_online" %>
        <% else %>
          <%= render "pro/perks/modals/code_perk_desktop" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= render 'components/map_perk_show', markers: @markers, map_id: "map-perk" %>
  <script>
    $(document).ready(function() {
      $("#button-used").popover({
        html: true,
        container: "body",
        trigger: "hover"
      });
    });
  </script>
<% end %>
