<% content_for :meta_title, @business.name %>
<% content_for :meta_description, "Découvrez le Bon Plan offert par #{@business.name} !" %>
<% content_for :meta_image, @business.picture %>

<%= render "member/dashboard/shared/sidebar" %>

<div class="fullpage">

  <div class="fullpage-left-item">
    <div class="colored-banner" style="background-color: <%= @business.business_category.color %>;">
      <div class="banner-business-name">
        <div class="name"><%= @business.name %></div>
      </div>
      <div class="banner-business-top-infos">
        <div class="infos-left">
          <div class="pastille">
            <%= image_tag @business.business_category.picture, size: "10x10" %>
          </div>
          <div class="category-name category"><%= @business.business_category.name %></div>
        </div>
        <div class="infos-right">
          <div class="dot-state"></div>
          <div class="dot-state-name">Ouvert</div>
        </div>
      </div>
      <div class="card-abs-banner">
        <div class="card-photo" style="background-image: url('<%= @business.picture %>');"></div>
        <div class="card-bottom-links">
          <div class="card-bottom-left-item" style="background-color: <%= @business.business_category.color %>;">
            <% if @business.like == 1 %>
              <div class="card-red-heart"><%= image_tag "icons/heart.svg" %></div>
              <div class="firstblock-text"><%= "#{@business.like} personne" %></div>
            <% elsif @business.like > 1 %>
              <div class="card-red-heart"><%= image_tag "icons/heart.svg" %></div>
              <div class="firstblock-text"><%= "#{@business.like} personnes" %></div>
            <% end %>
          </div>
          <div class="card-bottom-right-item" style="background-color: <%= @business.business_category.color %>;">
            <div class="cbri-middleblock">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="cbri-endblock">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fullpage-left-item-bottom">
      <div class="">
        <div class="title-sub">Leurs engagements</div>
      </div>
      <div class="flib-engages">
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Eco-responsable</div>
        </div>
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Zéro déchets</div>
        </div>
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Circuit court</div>
        </div>
      </div>
      <div class="">
        <div class="title-sub">En quelques mots</div>
      </div>
      <% if @business.description.present? %>
        <div class="business-desc">
          <%= @business.description %>
        </div>
      <% else %>
        <div class="business-desc">Profil en construction</div>
      <% end %>
      <div class="">
        <div class="title-sub">Informations</div>
      </div>
    </div>
  </div>

  <div class="fullpage-right-item hidden-xs">
    <div class="fri-header">
      <div class="title-fri-header">Nos bons plans</div>
      <div class="title-fri-underline" style="border-color: <%= @business.business_category.color %>;"></div>
    </div>
    <% @business.perks.active.each do |perk| %>
      <div class="perk-card-container perk-modal-use-<%= perk.id %>">
        <div class="perk-card">
          <div class="perk-card-left-item" style="background-color: <%= @business.business_category.color %>;">
            <div class="perk-card-absolute-photo" style="background-image: url('<%= perk.picture.present? ? perk.picture.url(:card) : @business.picture.url(:card) %>');"></div>
          </div>
          <div class="perk-card-right-item">
            <div class="pcri-container">
              <div class="pcri-offer">
                <div class="pcri-offer-tooltip" style="background-color: <%= @business.business_category.color %>;">
                  <div><%= perk.offer_type? %></div>
                </div>
                <div class="pcri-offer-flash">
                  <% if perk.times > 0 %>
                    <span><i class="fa fa-flash pastille" style="background-color: #3F3F3F;" aria-hidden="true"></i><%= perk.times - Use.where(perk_id: perk.id).count %> restants</span>
                  <% end %>
                </div>
              </div>
              <div class="pcri-item">
                <div class="pcri-item-name"><%= perk.name %></div>
                <div class="pcri-item-text"><%= truncate(perk.description, length: 175) %></div>
              </div>
              <div class="pcri-uses">
                <% if perk.uses.count == 1 %>
                  <div class="pastille" style="background-color:<%= @business.business_category.color %>;">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <div><%= "#{perk.uses.count} personne a utilisé ce bon plan" %></div>
                <% elsif perk.uses.count > 1 %>
                  <div class="pastille" style="background-color:<%= @business.business_category.color %>;">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <div><%= "#{perk.uses.count} personnes ont utilisé ce bon plan" %></div>
                <% end %>
              </div>
              <% if user_signed_in? %>
                <% if !perk.perk_in_time? %>
                  <div class="perk-pseudo-modal-link disabled" id="perk-modal-use-<%= perk.id %>">JBon plan non disponible</div>
                <% elsif !perk.perk_usable?(current_user) %>
                  <div class="perk-pseudo-modal-link disabled" id="perk-modal-use-<%= perk.id %>">Bon plan épuisé</div>
                <% else %>
                  <div class="perk-pseudo-modal-link" id="perk-modal-use-<%= perk.id %>">J'en profite</div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="perk-modal-use perk-modal-use-<%= perk.id %> hidden">
          <% if !user_signed_in? %>
            <%= render "businesses/business_perk_not_member" %>
          <% elsif device_type == :desktop || perk.detail.name == "email" || @business.online   %>
            <%= render "businesses/business_perk_usage", perk: perk %>
          <% else %>
            <%= render "businesses/business_perk_using", perk: perk %>
          <% end %>
            <%#= render "businesses/mobileshow" %>
            <%#= render "businesses/mobileshow_member" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function(){
      // $(".use-button-logout").click(function() {
      //   $('.use-overlay').removeClass('hidden');
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT_LOGOUT');
      // });

      // $(".btn-use-button").click(function() {
      //   // EVENT AMPLITUDE USER_C_BENEFIT
      //   amplitude.logEvent('USER_C_BENEFIT');
      // });
    });

  </script>

<% end %>
