<%= content_for(:title) do %>
  <%= @business.name %>
<% end %>
<%= content_for(:description) do %>
  Découvrez le Bon Plan offert par <%= @business.name %> !
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-perk">
    <% @business.perks.find(params[:perk_id]).update_nb_view! if user_space? %>
    <!-- PERK MENU -->
    <div class="switch-tab">
      <span class="switch-active"></span>
      <button class="switch-button active-case">Bon plan</button>
      <button class="switch-button"><%= truncate(@business.name, length: 18) %></button>
    </div>

    <!-- PERK CARDS -->
    <div class="flip-container">
      <div class="flipper">
        <figure class="front">
        <!-- PERK IMAGE - CHANGE BACKGROUND IMAGE -->
        <% if @business.perks.find(params[:perk_id]).picture? %>
        <div class="perk-image" style="background-image: url('<%= image_url @business.perks.find(params[:perk_id]).picture %>');">
        <% else %>
        <div class="perk-image" style="background-image: url('<%= image_url @business.picture %>');">
        <% end %>

        <!-- IF FLASH PERK -->
        <% if @business.perks.find(params[:perk_id]).flash? %>
          <span class="flash-notification" style="background-color: <%= BusinessCategory.find(@business.business_category_id).color %>;"><i class="fa fa-flash"></i><%= @business.perks.find(params[:perk_id]).times - Use.count  %> restants</span>
          <span class="availabilities">Valable du <%= @business.perks.find(params[:perk_id]).start_date.try(:strftime, '%d %b.') %> au <%= @business.perks.find(params[:perk_id]).end_date.try(:strftime, '%d %b. %Y') %></span>
        <% end %>
        <h1><%= @business.perks.find(params[:perk_id]).perk %></h1>
        <p><%= @business.perks.find(params[:perk_id]).description %></p>
        <div class="use-perk">
          <% if current_user.member %>
            <% if @business.perks.find(params[:perk_id]).perk_usable?(current_user) %>
              <button type="button" class="use-button" data-toggle="modal" data-target="#codeModal" style="background-color: <%= BusinessCategory.find(@business.business_category_id).color %>;">J'en profite</button>
            <% else %>
              <div id="button-used">
                <button class="empty">Bon plan épuisé</button>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="perk-owner">
        <div class="owner-details">
          <% if @business.leader_picture.present? %>
            <%= image_tag image_url @business.leader_picture %>
          <% else %>
            <%= image_tag image_url @business.picture %>
          <% end %>
          <span>Rendez-vous chez <%= @business.name %><br><small><%= @business.leader_first_name %> vous accueillera.</small></span>
        </div>
        <div id="map-perk" style="width: 100%;"></div>
        <span class="business-address"><i class="fa fa-map-marker"></i><%= @business.street %>, <%= @business.zipcode %> <%= @business.city %></span>
      </div>
    </figure> <!-- END FRONT CARD -->

    <figure class="back"><!-- BACK CARD -->
      <div class="business-card">
        <!-- BACKGROUND IMAGE -->
        <div class="perk-image" style="background-image: url('<%= image_url @business.picture %>');">
          <%= image_tag image_url @business.leader_picture %>
        </div>

        <div class="profile-card">
          <div class="profile-business">
            <% if @business.name.present? && @business.description.present? %>
              <h3>En quelques mots</h3>
              <p><%= @business.description %></p>
            <% else %>
              <p>Profil en construction</p>
            <% end %>
            <!-- LINKS | WEB -->
            <ul>
              <% if @business.url.present? %>
                <li>
                  <a href="<%= @business.url %>" class="link-website-business business-icon-container" target="_blank">
                    <i class="fa fa-globe business-icon"></i>
                  </a>
                </li>
              <% end %>
              <% if @business.email.present? %>
                <li>
                  <a href="mailto:<%= @business.email %>" class="link-mail-business business-icon-container" target="_blank">
                    <i class="fa fa-envelope business-icon"></i>
                  </a>
                </li>
              <% end %>
              <% if @business.facebook.present? %>
                <li>
                  <a href="<%= @business.facebook %>" class="link-facebook-business business-icon-container" target="_blank">
                    <i class="fa fa-facebook business-icon"></i>
                  </a>
                </li>
              <% end %>
              <% if @business.twitter.present? %>
                <li>
                  <a href="<%= @business.twitter %>" class="link-instagram-business business-icon-container" target="_blank">
                    <i class="fa fa-twitter business-icon"></i>
                  </a>
                </li>
              <% end %>
              <% if @business.instagram.present? %>
                <li>
                  <a href="<%= @business.instagram %>" class="link-instagram-business business-icon-container" target="_blank">
                    <i class="fa fa-instagram business-icon"></i>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- SECOND SLIDE -->
          <div class="profile-owner">
            <% if @business.leader_description.present? %>
              <h3>Qui se cache derrière ?</h3>
              <p><%= @business.leader_description %></p>
            <%end %>
          </div>
        </div>
      </div>
    </figure><!-- END BACK CARD -->
  </div>

  </div>
</div>


<!-- MODAL CODE PERK -->
<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="codeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-turquoise">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="codeModalLabel">Code d'accès au bon plan</h4>
      </div>
      <div class="modal-body text-center">
        <% if @business.online %>
          <%= render "pro/perks/modals/code_perk_online" %>
        <% elsif device_type == :mobile %>
          <%= render "pro/perks/modals/code_perk_offline_mobile" %>
        <% else %>
          <%= render "pro/perks/modals/code_perk_offline_desktop" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>

  <%= render 'components/map_perk_show', geojson: @geojson, latitude:  @business.latitude, longitude:  @business.longitude %>

  <script>

    $('.switch-button').click(function() {
      $('.switch-active').toggleClass('activated');
      $('.flipper').toggleClass('flipped');
    });

    $(document).ready(function() {
      $("#button-used").popover({
        html: true,
        container: "body",
        trigger: "hover"
      });
    });

  </script>
<% end %>
