<div>
  <%= link_to "Créer un commerce", new_pro_business_path, class: "btn business-button" %>
</div>
<div id="accordion">
  <% @businesses.group_by{|e| e[:business_category_id]}.each do |business_category, businesses| %>
    <h3>
      <%= BusinessCategory.find(business_category).name %>
       <div class="icon-category" style="background-color: <%= BusinessCategory.find(business_category).color %>;">
        <%= image_tag BusinessCategory.find(business_category).picture, size: "30x30" %>
      </div>
      <ul class="data-business">
        <li class="data-business-item">
          <i class="fa fa-home"><span class="tooltiptext">Nombre de commerces</span></i>
          <span class="number"><%= businesses.count %></span>
        </li>
        <li class= "data-business-item">
          <i class="fa fa-tag"><span class="tooltiptext">Nombre de bons plans</span></i>
          <span class="number"><%= Perk.where(business_id: businesses).count %></span>
        </li>
        <li class= "data-business-item">
          <i class="fa fa-eye"><span class="tooltiptext">Nombres de vues</span></i>
          <span class="number"><%= Perk.where(business_id: businesses).sum(&:nb_views) %></span>
        </li>
        <li class= "data-business-item">
          <i class="fa fa-shopping-basket"><span class="tooltiptext">Nombre d'utilisations de bons plans</span></i>
          <span class="number"><%= Perk.where(business_id: businesses).reduce(0) { |sum, perk| sum + perk.uses.used.count } %></span>
        </li>
      </ul>
    </h3>
    <ul class="data-list">
      <% businesses.each do |business| %>
        <li >
          <span><%= link_to business.name, pro_business_impersonation_path(impersonate_id: business.id), method: :post %></span>
          <ul class="data-business">
            <li class="data-business-item">
              <!-- <span class="number"><%#= business.active ? "Actif" : "Non actif" %></span> -->

              <span class="number <%= business.active ? 'green-active' : 'red-inactive' %>"><%= business.active ? "Actif" : "Non actif" %></span> 
            </li>
            <li class="data-business-item">
              <i class="fa fa-tag"></i>
              <span class="number"><%= business.perks.count %></span>
            </li>
            <li class="data-business-item">
              <i class="fa fa-eye"></i>
              <span class="number"><%= Perk.where(business_id: business.id).sum(&:nb_views) %></span>
            </li>
            <li class="data-business-item">
              <i class="fa fa-shopping-basket"></i>
              <span class="number"><%= business.perks_uses_count %></span>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% content_for :after_js do %>

 <script>
  $( function() {
    $( "#accordion").accordion(
      { active: false, collapsible: true }
    );
  } );
  </script>

<% end %>
