<!-- LINKS | FIND THEM -->
<div class="business-links">
  <div class= "flexbox-contacts">
  <ul>
    <li class="reach-uss">
      <% if @business.email.present? %>
        <a href="mailto:<%= @business.email %>" style="color: <%= @business.business_category.color %>;" target="_blank">
          <i class="fa fa-envelope"></i>
          <span><%= @business.email %></span>
        </a>
      <% end %>
    </li>
    <li class="reach-uss">
      <% if @business.telephone.present? %>
        <a href="tel:<%= @business.telephone %>" style="color: <%= @business.business_category.color %>;" target="_blank" data-hint="<%= @business.telephone %>">
          <i class="fa fa-phone"></i>
          <span><%= @business.telephone %></span>
        </a>
      <% end %>
    </li>
  </ul>
</div>
  <!-- DESKTOP -->
  <div class="follow-uss">
    <span class="find-us">Retrouvez-nous : </span>

      <% if @business.url.present? %>
        <span>
          <a href="<%= @business.url %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
            <i class="fa fa-globe"></i>
          </a>
        </span>
      <% end %>

      <% if @business.facebook.present? %>
        <span>
          <a href="http://facebook.com/<%= @business.facebook %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </span>
      <% end %>

      <% if @business.twitter.present? %>
        <span>
          <a href="http://twitter.com/<%= @business.twitter %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
              <i class="fa fa-twitter"></i>
          </a>
        </span>
      <% end %>

      <% if @business.instagram.present? %>
        <span>
          <a href="http://instagram.com/<%= @business.instagram %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </span>
      <% end %>
  </div>
</div>
