<!-- LINKS | FIND THEM -->
<div class="business-links">
  <div class= "flexbox-contacts">
    <ul>
      <li class="reach-uss">
        <% if @business.email.present? && !@business.hidden_email %>
          <a href="mailto:<%= @business.email %>" style="color: <%= @business.business_category.color %>;" target="_blank">
            <i class="fa fa-envelope"></i>
            <span><%= @business.email %></span>
          </a>
        <% end %>
      </li>
      <li class="reach-uss">
        <% if @business.phone.present? %>
          <a href="tel:<%= @business.phone %>" style="color: <%= @business.business_category.color %>;" target="_blank" data-hint="<%= @business.phone %>">
            <i class="fa fa-phone"></i>
            <span><%= @business.phone %></span>
          </a>
        <% end %>
      </li>
    </ul>
  </div>
  <!-- DESKTOP -->
  <div class="follow-uss">
    <% if @business.url.present? || @business.facebook.present? || @business.twitter.present? || @business.instagram.present?  %>
      <span class="find-us">Retrouvez-nous : </span>

      <div class="detail-follow-uss">

        <% if @business.url.present? %>
          <span class="social-links">
            <a href="<%= @business.url %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
              <i class="fa fa-globe"></i>
            </a>
          </span>
        <% end %>

        <% if @business.facebook.present? %>
          <span class="social-links">
            <a href="http://facebook.com/<%= @business.facebook %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </span>
        <% end %>

        <% if @business.twitter.present? %>
          <span class="social-links">
            <a href="http://twitter.com/<%= @business.twitter %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
          </span>
        <% end %>

        <% if @business.instagram.present? %>
          <span class="social-links">
            <a href="http://instagram.com/<%= @business.instagram %>" style="background-color: <%= @business.business_category.color %>;" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </span>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
