<div class="container">
  <!-- BLOCK MAP -->
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="supervisor-map">
        <div id="map-supervisor" style="width: 100%;"></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <ul class="data-desktop">
        <span class="data-title">Resumé de votre activité</span>
        <li id="data-create">
          <% if @business.perks.count == 0 %>
            <span class="number number-inactive"><%= @business.perks.count %></span>
            <span class="label number-inactive">Bons plans créés</span>
          <% else %>
            <span class="number"><%= @business.perks.count %></span>
            <span class="label">Bons plans créés</span>
          <% end %>
        </li>
        <li id="data-views">
          <% if @business.perks_views_count == 0 %>
            <span class="number number-inactive"><%= @business.perks_views_count %></span>
            <span class="label number-inactive">Nombre total<br>de vues</span>
          <% else %>
            <span class="number"><%= @business.perks_views_count %></span>
            <span class="label">Nombre total<br>de vues</span>
          <% end %>
        </li>
        <li id="data-used">
          <% if @business.perks_uses_count == 0 %>
            <span class="number number-inactive"><%= @business.perks_uses_count %></span>
            <span class="label number-inactive">Bons plans utlisés</span>
          <% else %>
            <span class="number"><%= @business.perks_uses_count %></span>
            <span class="label">Bons plans utlisés</span>
          <% end %>
        </li>
        <li id="data-users">
          <% if @business.perks_new_users == 0 %>
            <span class="number number-inactive"><%= @business.perks_new_users %></span>
            <span class="label number-inactive">Nouveaux clients</span>
          <% else %>
            <span class="number"><%= @business.perks_new_users %></span>
            <span class="label">Nouveaux clients</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= render 'components/map_supervisor', geojson: @geojson, coordinates: [current_business.latitude, current_business.longitude] %>
<% end %>
