<div class="form-edit-container">
  <div class="form-edit">
    <%= simple_form_for(current_business, url: pro_update_business_path, method: :put, remote: true, authenticity_token: true) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, placeholder: 'Nom', required: true, autofocus: true, label: false %>
      <%= f.input :email, placeholder: 'Adresse email', required: true, label: false %>
      <%= f.input :business_category_id, required: true, label: false, collection: BusinessCategory.all, hint: ("Choisissez la catégorie de votre commerce") %>
      <%= image_tag current_business.picture.url(:thumb) %>
      <%= f.input :picture, as: :file, hint: 'Photo de votre commerce', required: true, label: false %>
      <br>
      <%= f.input :telephone, placeholder: 'Téléphone', required: true, label: false %>
      <%= f.input :facebook, placeholder: 'Facebook', label: false %>
      <%= f.input :twitter, placeholder: 'Twitter', label: false %>
      <%= f.input :instagram, placeholder: 'Instagram', label: false %>
      <%= f.input :street, placeholder: 'Rue', required: true, label: false %>
      <%= f.input :zipcode, placeholder: 'Code postal', required: true, label: false %>
      <%= f.input :city, placeholder: 'Ville', required: true, label: false %>
      <%= f.input :description, as: :text, placeholder: 'Description de votre commerce', required: true, label: false %>
      <%= f.input :online, label: "Commerce online", as: :radio_buttons, collection: [['Oui', true ], ['Non', false ]], checked: current_business.online || false  %>
      <%= f.input :url, placeholder: 'Adresse site', label: false %>
      <%= f.button :submit, "Sauvegarder", class: "btn btn-turquoise" %>
    <% end %>
  </div>
</div>
