<div class="form-edit-container">
  <div class="form-edit">
    <%= simple_form_for(current_business, url: pro_update_business_path, method: :put, remote: true, authenticity_token: true) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, placeholder: 'Nom', required: true, autofocus: true, label: false %>
      <%= f.input :email, placeholder: 'Adresse email', required: true, label: false %>
      <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <!-- <p>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></p> -->
      <%# end %>
      <br>
      <%= image_tag current_business.leader_picture.url(:thumb) %>
      <%= f.input :leader_picture, as: :file, hint: 'Votre photo', required: true, label: false %>
      <br>
      <%= f.input :telephone, placeholder: 'Téléphone', required: true, label: false %>
      <%= f.input :facebook, placeholder: 'Facebook', label: false %>
      <%= f.input :twitter, placeholder: 'Twitter', label: false %>
      <%= f.input :instagram, placeholder: 'Instagram', label: false %>
      <%= f.button :submit, "Sauvegarder", class: "btn btn-turquoise" %>
    <% end %>
  </div>
  <div>
    <%= link_to t(".change_your_password", :default => "Changez votre mot de passe ?"), new_business_password_path(:business), class: "new-password" %>
  </div>
</div>

