<div class="leftmenu-animation">
  <div class="animation-menu-content">
    <div class="leftmenu">

      <!-- BUSINESS SIGN IN -->
      <% if business_signed_in? %>

        <% if current_business.supervisor %>
          <div class="leftmenu-item <%= active_class(pro_business_supervisor_dashboard_path(current_business))%> hidden-xs">
            <%= link_to pro_business_supervisor_dashboard_path(current_business) do %>
              <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "tableau_de_bord.svg" %>)"></div>
              <div class="left-menu-text">Mon Compte</div>
            <% end %>
          </div>
        <% end %>

        <div class="leftmenu-item pro <%= active_class(pro_business_dashboard_path(current_business))%>">
          <%= link_to pro_business_dashboard_path(current_business) do %>
            <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "tableau_de_bord.svg" %>)"></div>
            <div class="left-menu-text"><%= current_business.supervisor ? "Son suivi" : "Mon suivi" %></div>
          <% end %>
        </div>

        <div class="leftmenu-item pro <%= active_class(pro_business_perks_path(current_business))%>">
          <%= link_to pro_business_perks_path(current_business) do %>
            <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "bonplan.svg" %>)"></div>
            <div class="left-menu-text"><%= current_business.supervisor ? "Ses Bons Plans" : "Mes Bons Plans" %></div>
          <% end %>
        </div>

        <div class="leftmenu-item pro <%= active_class(new_pro_business_perk_path(current_business))%>">
          <%= link_to new_pro_business_perk_path(current_business) do %>
            <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "addbonplan.svg" %>)"></div>
            <div class="left-menu-text">Créer un Bon Plan</div>
          <% end %>
        </div>

        <% if current_business.supervisor %>
          <div class="leftmenu-item pro <%= active_class(pro_business_profile_path(current_business))%>">
            <%= link_to pro_business_profile_path(current_business) do %>
              <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "commercant.svg" %>)"></div>
              <div class="left-menu-text">Son profil</div>
            <% end %>
          </div>
        <% end %>

        <div class="leftmenu-item intercom">
          <a id="Intercom">
            <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "icons/intercom-chat-icon.svg" %>)"></div>
            <div class="left-menu-text">Support</div>
          </a>
        </div>

      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.mobile-dropdown').click(function(event) {
        $('.mobile-menu').toggleClass('hidden');
        $('.mobile-menu-overlay').toggleClass('hidden');
      });

      $('.mobile-menu-overlay').click(function(event) {
        $(this).addClass('hidden');
        $('.mobile-menu').addClass('hidden');
      });
    });
  </script>
<% end %>
