<div class="data-container data-supervisor">
  <!-- BLOCK MAP -->
  <div class="supervisor-map">
    <div id="map-supervisor" style="width: 100%;"></div>
  </div>
  <!-- BLOCK METRICS -->
  <ul class="data-desktop">
    <span class="data-title data-title-gradient">Resumé de votre activité</span>

    <% nb_causes = @business.causes.count %>
    <li class="<%= nb_causes == 0 ? 'number-inactive' : '' %>">
      <span class="number"><%= nb_causes %></span>
      <span class="label">Nombre<br> d'associations</span>
    </li>

    <% amount_donation = @business.amount_donation %>
    <li class="<%= amount_donation == 0 ? 'number-inactive' : '' %>">
      <span class="number"><%= amount_donation %></span>
      <span class="label">Montant<br> donation</span>
    </li>

    <% nb_businesses = @business.businesses.count %>
    <% nb_active_businesses = @business.businesses.active.count %>
    <li class="<%= nb_businesses == 0 ? 'number-inactive' : '' %>">
      <span class="number"><%= nb_businesses %></span>
      <span class="label">Nombre de<br> commerces</span>
    </li>
    <li class="data-split">
      <div class="split-details <%= nb_active_businesses == 0 ? 'number-inactive' : '' %>">
        <span class="sub-number"><%= nb_active_businesses %></span>
        <span class="sub-label"><%= nb_active_businesses > 1 ? "commerces actifs" : "commerce actif" %></span>
      </div>
      <div class="split-details <%= nb_businesses - nb_active_businesses == 0 ? 'number-inactive' : '' %>">
        <span class="sub-number"><%= nb_businesses - nb_active_businesses %></span>
        <span class="sub-label"><%= nb_businesses - nb_active_businesses > 1 ? "commerces inactifs" : "commerce inactif" %></span>
      </div>
    </li>

    <% nb_businesses_perks = @business.businesses_perks.count %>
    <li class="<% nb_businesses_perks == 0 ? 'number-inactive' : '' %>">
      <span class="number"><%= nb_businesses_perks %></span>
      <span class="label">Bons plans<br> créés</span>
    </li>

    <% nb_businesses_perks_used = @business.businesses_perks_uses.used.count %>
    <li class="<%= nb_businesses_perks_used == 0 ? 'number-inactive' : '' %>">
      <span class="number"><%= nb_businesses_perks_used %></span>
      <span class="label">Bons plans<br> utilisés</span>
    </li>

    <% nb_members = @business.members.count %>
    <% nb_active_members = @business.members.member.count %>
    <li class="<%= nb_members == 0 ? 'number-inactive' : '' %>">
      <span class="number"><%= nb_members %></span>
      <span class="label">Nombre de<br> membres</span>
    </li>
    <li class="data-split">
      <div class="split-details <%= nb_active_members == 0 ? 'number-inactive' : '' %>">
        <span class="sub-number"><%= nb_active_members %></span>
        <span class="sub-label"><%= nb_active_members > 1 ? "membres actifs" : "membre actif" %></span>
      </div>
      <div class="split-details <%= nb_members - nb_active_members == 0 ? 'number-inactive' : '' %>">
        <span class="sub-number"><%= nb_members - nb_active_members %></span>
        <span class="sub-label"><%= nb_members - nb_active_members > 1 ? "membres inactifs" : "membre inactif" %></span></span>
      </div>
    </li>
    <li class="list-code-partner">
      <span class="code-partner-title">Codes partenaires</span>
    <% @business.partners.each do | partner | %>
      <% nb_users = User.where(code_partner: partner.code_partner).count %>
        <div class="code-partner">
          <span class="partner-details"><%= partner.code_partner %> (<%= partner.nb_months %> mois) </span>
          <span class="sub-number"> <%= nb_users %></span>
          <span class="sub-label"><%= nb_users > 1 ? "membres" : "membre" %></span>
        </div>
      <% end %>
    </li>
  </ul>
</div>

<% content_for :after_js do %>
  <%= render 'components/map_supervisor', geojson: @geojson, coordinates: [@main_address.latitude, @main_address.longitude] %>
<% end %>
