<div class="mapboxv2">

  <div class="caret-absolute hidden-xs">
    <i class="fa fa-caret-up" aria-hidden="true"></i>
  </div>

  <%= link_to business_path(business, address_id: business.main_address.id) do %>
    <div class="business-index-card" style="border-bottom-color: <%= business.business_category.color %>;">
      <div class="bic-left">
        <div class="bic-photo" style="background-image: url('<%= business.picture %>');"></div>
      </div>
      <div class="bic-middle">
        <div class="bic-middle-top">
          <div class="pastille" style="background-color:<%= business.business_category.color %>;"></div>
          <div class="business-category-name"><%= business.business_category.name %></div>
        </div>
        <div class="bic-middle-center">
          <div class="business-name"><%= business.name.titleize %></div>
          <div class="business-activity"><%= business.activity %></div>
        </div>
        <div class="bic-middle-bottom">
          <span>
            <i style="color:<%= business.business_category.color %>;" class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            à <%= display_distance(business.main_address.distance_from(lat_lng)) %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
