<script>

    var geoJson = <%= raw(@geojson.to_json) %>;

    L.mapbox.accessToken = 'pk.eyJ1IjoiZnJlZHBldHJpcyIsImEiOiJjaWtoem9qd2IwMDJmdnBtNmZ0Y29zcG5sIn0.atyCUDfyMaoUauNY1diwtQ';

    var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
      attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>',
      });

    var map = L.map('map-perk')
      .addLayer(mapboxTiles)

    // Slide marker to right
    if (<%= device_type == :mobile %>) {
      map.setView(['<%= @business.latitude %>', '<%= @business.longitude + 0.0015 %>'], 16);
    } else {
      map.setView(['<%= @business.latitude %>', '<%= @business.longitude + 0.005 %>'], 16);
    }

    // New Layer
    var mapLayer = L.mapbox.featureLayer().addTo(map);

    // Set a custom icon on each marker based on feature properties
    mapLayer.on('layeradd', function(e) {
      var marker = e.layer,
          feature = marker.feature;
      marker.setIcon(L.icon(feature.properties.icon));
    });

    // Add features to the map
    mapLayer.setGeoJSON(geoJson);

</script>
