<!-- MEMBER CARD -->
<div class="member-card">
  <div class="validation-date">
    <span>Le <%= I18n.l DateTime.now.to_date, format: :short %> <%= DateTime.now.year %></span>
  </div>

  <div class="logo">
    <%= image_tag 'logo-classic.png' %>
  </div>

  <div class="member-info">
    <%= image_tag (current_user.picture? ? current_user.picture.url(:avatar) : "profile.png"), class: "img-circle user"%>
    <% if current_user.name.present? %>
      <span class="user"><%= current_user.name %></span>
    <% else %>
      <span class="user"><%= current_user.first_name %> <%= current_user.last_name %></span>
    <% end %>
    <% if current_user.cause_id.present? %>
        <span class="cause"><%= current_user.cause.name %></span>
        <%= image_tag (current_user.cause.logo), class: "img-circle cause" %>
    <% end %>
  </div>
</div>
