<div class="dashboard-create-perk">
  <%= image_tag('logopouce.png', class: 'logo-title') %>
  <span class="view-title">Modifier le bon plan | <strong><%= @perk.perk %></strong></span>
  <!-- Card Perk APPEL -->
  <a class="type-card" id="perk-appel">
    <div class="type-title">
      <i class="fa fa-users"></i>
      <span>Bon Plan d'appel</span>
      <span class="type-category">Acquisition</span>
    </div>
    <div class="type-content">
      <p>Proposez une offre attractive<br>Utilisable 1x par nouveau client</p>
      <span id="type-create-appel" class="type-create"><i class="fa fa-plus"></i></span>
    </div>
  </a>

  <!-- Card Perk DURABLE -->
  <a class="type-card" id="perk-durable">
    <div class="type-title">
      <i class="fa fa-calendar-check-o"></i>
      <span>Bon Plan durable</span>
      <span class="type-category">Fidélisation</span>
    </div>
    <div class="type-content">
      <p>Fidéliser une nouvelle clientèle<br>Utilisable à l'infini</p>
      <span id="type-create-durable" class="type-create"><i class="fa fa-plus"></i></span>
    </div>
  </a>

  <!-- Card Perk FLASH -->
  <a class="type-card" id="perk-flash">
    <div class="type-title">
      <i class="fa fa-bolt"></i>
      <span>Bon Plan flash</span>
      <span class="type-category">Activation</span>
    </div>
    <div class="type-content">
      <p>Réduire le gaspillage<br>Quantité et temps limité</p>
      <span id="type-create-flash" class="type-create"><i class="fa fa-plus"></i></span>
    </div>
  </a>

<!-- Card Perk APPEL -->
<div class="perk-appel perk-form-card" id="form-perk">
  <div class="perk-form-title">
    <i class="fa fa-times close-create"></i>
    <span>Bon Plan d'appel</span>
    <span class="type-category">Acquisition</span>
  </div>
  <div class="type-reminder">
    <span>Offre valable 1x par nouveau client</span>
  </div>
  <%= simple_form_for [:pro, @business, @perk] do |f| %>
    <%= f.error_notification %>
    <label class="hint--top-right" data-hint="Quelque chose de court et engageant">Nom du bon plan *</label>
    <%= f.input :perk, label: false, placeholder: "140 car. max", required: true %>
    <div class="photo">
      <label class="hint--top-right" data-hint="Votre bon plan en image !">Photo</label>
      <div class="picture-container">
        <%= image_tag @perk.picture.url(:thumb), class: 'picture-perk' %>
      </div>
      <%= f.input :picture, as: :file, required: false, label: 'Sélectionner une nouvelle image' %>
    </div>
    <label class="hint--top-right" data-hint="Précisez le contenu de votre offre">Description *</label>
    <%= f.input :description, label: false, placeholder: "Dites-nous tout...", required: true, :input_html => { :rows => 3 } %>
    <label class="hint--top-right" data-hint="Sélectionnez le moyen d'activation">Utilisation *</label>
    <div class="select-wrapper">
      <%= f.input :detail, label: false, collection: ["Présentez votre carte en magasin", "Envoyez-nous un email", "Entrez le code promo CforGood (online)"], selected: 1 %>
    </div>
    <%= f.input :permanent, as: :hidden %>
    <%= f.input :appel, as: :hidden %>
    <%= f.input :durable, as: :hidden %>
    <%= f.input :flash, as: :hidden %>
    <%= f.button :submit, "Modifer le bon plan", class: "btn-create" %>
  <% end %>
</div>

<!-- Card Perk DURABLE -->
<div class="perk-durable perk-form-card" id="form-perk">
  <div class="perk-form-title">
    <i class="fa fa-times close-create"></i>
    <span>Bon plan durable</span>
    <span class="type-category">Fidélisation</span>
  </div>
  <div class="type-reminder">
    <span>Offre récurrente sans limite d'utilisation</span>
  </div>
  <%= simple_form_for [:pro, @business, @perk] do |f| %>
    <%= f.error_notification %>
    <label class="hint--top-right" data-hint="Quelque chose de court et engageant">Nom du bon plan *</label>
    <%= f.input :perk, label: false, placeholder: "I feel good", required: true %>
    <div class="photo">
      <label class="hint--top-right" data-hint="Votre bon plan en image !">Photo</label>
      <div class="picture-container">
        <%= image_tag @perk.picture.url(:thumb), class: 'picture-perk' %>
      </div>
      <%= f.input :picture, as: :file, required: false, label: 'Sélectionner une nouvelle image' %>
    </div>
    <label class="hint--top-right" data-hint="Précisez le contenu de votre offre">Description *</label>
    <%= f.input :description, label: false, placeholder: "Dites-nous tout...", required: true, :input_html => { :rows => 3 } %>
    <label class="hint--top-right" data-hint="Sélectionnez le moyen d'activation">Utilisation *</label>
    <div class="select-wrapper">
      <%= f.input :detail, label: false, collection: ["Présentez votre carte en magasin", "Envoyez-nous un email", "Entrez le code promo CforGood (online)"], selected: 1 %>
    </div>
    <%= f.input :permanent, as: :hidden %>
    <%= f.input :appel, as: :hidden %>
    <%= f.input :durable, as: :hidden %>
    <%= f.input :flash, as: :hidden %>
    <%= f.button :submit, "Modifer le bon plan", class: "btn-create" %>
  <% end %>
</div>

  <!-- Form Perk FLASH -->
  <div class="perk-flash perk-form-card" id="form-perk">
    <div class="perk-form-title">
      <i class="fa fa-times close-create"></i>
      <span>Bon plan flash</span>
      <span class="type-category">Activation</span>
    </div>
     <div class="type-reminder">
      <span>Offre limité en temps et quantité</span>
    </div>
    <%= simple_form_for [:pro, @business, @perk] do |f| %>
      <%= f.error_notification %>
      <label class="hint--top-right" data-hint="Quelque chose de court et engageant">Nom du bon plan *</label>
      <%= f.input :perk, label: false, placeholder: "I feel good", required: true %>
      <div class="photo">
        <label class="hint--top-right" data-hint="Votre bon plan en image !">Photo</label>
        <div class="picture-container">
          <%= image_tag @perk.picture.url(:thumb), class: 'picture-perk' %>
        </div>
        <%= f.input :picture, as: :file, required: false, label: 'Sélectionner une nouvelle image' %>
      </div>
      <label class="hint--top-right" data-hint="Précisez le contenu de votre offre">Description *</label>
      <%= f.input :description, label: false, placeholder: "Dites-nous tout...", required: true, :input_html => { :rows => 3 } %>
      <label class="hint--top-right" data-hint="Sélectionnez le moyen d'activation">Utilisation *</label>
      <div class="select-wrapper">
        <%= f.input :detail, label: false, collection: ["Présentez votre carte en magasin", "Envoyez-nous un email", "Entrez le code promo CforGood (online)"], selected: 1 %>
      </div>
      <%= f.input :permanent, as: :hidden %>
      <%= f.input :appel, as: :hidden %>
      <%= f.input :durable, as: :hidden %>
      <%= f.input :flash, as: :hidden %>
      <label class="hint--top-right" data-hint="Déterminez une période de disponibilité">Période *</label>
      <%= f.input :start_date, as: :string, label: false, placeholder: "Début", input_html: {"data-provide" => "datepicker", "data-date-language" => "fr", value: f.object.start_date.try(:strftime, '%d/%m/%Y') } %>
      <%= f.input :end_date, as: :string, label: false, placeholder: "Fin", :input_html => {"data-provide" => "datepicker", "data-date-language" => "fr", value: f.object.end_date.try(:strftime, '%d/%m/%Y') } %>
      <label class="hint--top-right" data-hint="Nombre d'activations possibles">Quantité</label>
      <%= f.input :times, as: :integer, label: false, placeholder: "0" %>
      <div class="quantity-selector">
        <button id="quantity-plus" type="button"><i class="fa fa-plus"></i></button>
        <button id="quantity-minus" type="button"><i class="fa fa-minus"></i></button>
      </div>
      <%= f.button :submit, "Modifer le bon plan", class: "btn-create" %>
    <% end %>
  </div>
</div>

<!-- UPDATE PERK CONFIRMATION -->
<%#= render "pro/perks/form/updated" %>

<% content_for :after_js do %>

  <script>

    $(document).ready(function() {

      // ACTIVE INITIAL PERK
      $('.dashboard').scrollTop(0);
      $(".dashboard-overlay").removeClass('hidden');
      if (<%= @perk.appel %>) {
        $("#type-create-appel").find('.fa-plus').addClass('plus-animation');
        $(".perk-appel").addClass('type-show');
        $("#type-create-appel").parents('.type-card').addClass('card-visible').siblings('.type-card').addClass('card-invisible');
      } else if (<%= @perk.durable %>) {
        $("#type-create-durable").find('.fa-plus').addClass('plus-animation');
        $(".perk-durable").addClass('type-show');
        $("#type-create-durable").parents('.type-card').addClass('card-visible').siblings('.type-card').addClass('card-invisible');
      } else {
        $("#type-create-flash").find('.fa-plus').addClass('plus-animation');
        $(".perk-flash").addClass('type-show');
        $("#type-create-flash").parents('.type-card').addClass('card-visible').siblings('.type-card').addClass('card-invisible');
      }

      // PERK FLASH - INCREMENT QUANTITY
      $("#quantity-plus").on("click", function(e) {
        e.preventDefault();
        fieldId = $('#perk_times');
        var currentVal = parseInt($(fieldId).val());
        if (!isNaN(currentVal)) {
          $(fieldId).val((currentVal + 1).toString());
        } else {
          $(fieldId).val('1');
        }
      });

      // PERK FLASH - DECREASE QUANTITY
      $("#quantity-minus").on("click", function(e) {
        e.preventDefault();
        fieldId = $('#perk_times');
        var currentVal = parseInt($(fieldId).val());
        if (!isNaN(currentVal) && currentVal > 0) {
          $(fieldId).val(currentVal - 1);
        } else {
          $(fieldId).val(0);
        }
      });

      // OPEN PERK APPEL ON CLICK
      $("#type-create-appel").on("click", function() {
        $(this).find('.fa-plus').addClass('plus-animation');
        $('.dashboard').scrollTop(0);
        $(".dashboard-overlay").removeClass('hidden');
        $(".perk-appel").addClass('type-show');
        $(this).parents('.type-card').addClass('card-visible').siblings('.type-card').addClass('card-invisible');
      });

      // OPEN PERK DURABLE ON CLICK
      $("#type-create-durable").on("click", function() {
        $(this).find('.fa-plus').addClass('plus-animation');
        $('.dashboard').scrollTop(0);
        $(".dashboard-overlay").removeClass('hidden');
        $(".perk-durable").addClass('type-show');
        $(this).parents('.type-card').addClass('card-visible').siblings('.type-card').addClass('card-invisible');
      });

      // OPEN PERK FLASH ON CLICK
      $("#type-create-flash").on("click", function() {
        $(this).find('.fa-plus').addClass('plus-animation');
        $('.dashboard').scrollTop(0);
        $(".dashboard-overlay").removeClass('hidden');
        $(".perk-flash").addClass('type-show');
        $(this).parents('.type-card').addClass('card-visible').siblings('.type-card').addClass('card-invisible');
      });

      // CLOSE PERK ON CLICK
      $(".close-create").on("click", function(e) {
        e.preventDefault;
        $('.fa-plus').removeClass('plus-animation');
        $(".dashboard-overlay").addClass('hidden');
        $(".perk-form-card").removeClass('type-show');
        $('.type-card').removeClass('card-invisible');
      });

      // REMOVE PERK ON CLICK OUTSIDE THE CARD
      $(".dashboard-overlay").on("click", function(e) {
        e.preventDefault;
        $(this).addClass('hidden');
        $(".perk-form-card").removeClass('type-show');
      });

      // SUPPLY BOOLEAN FIELDS
      $(".type-card").on("click", function(e) {
        e.preventDefault;
        var typePerk = $(this).val('div').attr('id');

        if (typePerk == "perk-appel") {
          $(".perk-appel #perk_permanent").val("true");
          $(".perk-appel #perk_appel").val("true");
          $(".perk-appel #perk_durable").val("false");
          $(".perk-appel #perk_flash").val("false");
        }
        if (typePerk == "perk-durable") {
          $(".perk-durable #perk_permanent").val("true");
          $(".perk-durable #perk_appel").val("false");
          $(".perk-durable #perk_durable").val("true");
          $(".perk-durable #perk_flash").val("false");
        }
        if (typePerk == "perk-flash") {
          $(".perk-flash #perk_permanent").val("false");
          $(".perk-flash #perk_appel").val("false");
          $(".perk-flash #perk_durable").val("false");
          $(".perk-flash #perk_flash").val("true");
        }
      });
    });

  </script>

<% end %>
