<!-- Card Perk APPEL -->
<div class="perk-appel perk-form-card">
  <div class="perk-form-title">
    <i class="fa fa-times close-create"></i>
    <span>Bon Plan de bienvenue</span>
    <span class="type-category">Acquisition</span>
  </div>
  <div class="type-reminder">
    <span>Offre valable 1x par nouveau client</span>
  </div>
  <%= simple_form_for([:pro, @business, @perk], remote: true) do |f| %>
    <%= f.error_notification %>
    <label class="hint--top-right" data-hint="Quelque chose de court et engageant">Nom du bon plan *</label>
    <%= f.input :name, label: false, placeholder: "I feel good", required: true, input_html: {maxlength: 35} %>
    <div class="photo-perk">
      <label class="hint--top-right" data-hint="Votre bon plan en image !">Photo</label>
      <div class="picture-container perk-appel-preview">
        <% if @perk.picture? %>
          <%= image_tag @perk.picture.url(:thumb), class: 'picture-perk-preview', id: 'perk-appel-preview'%>
        <% else %>
          <%= render 'shared/icons/perkpic' %>
        <% end %>
      </div>
      <%= f.input :picture, as: :file, required: false, label: 'Sélectionner une nouvelle image', input_html: {class: :perk_picture, id: :perk_appel_file } %>
    </div>
    <label class="hint--top-right" data-hint="Précisez le contenu de votre offre">Description *</label>
    <%= f.input :description, label: false, placeholder: "Dites-nous tout...", required: true, :input_html => { :rows => 3, maxlength: 220 } %>
    <label class="hint--top-right" data-hint="Sélectionnez le moyen d'activation">Utilisation *</label>
    <div class="select-wrapper">
      <%= f.input :perk_detail_id, label: false, collection: PerkDetail.all,  label_method: :description, selected: f.object.perk_detail_id || PerkDetail.find_by_name('carte').id %>
    </div>
    <% if action == 'create' %>
      <label class="hint--top-right" data-hint="Choisissez le code d'accès du bon plan">Code d'accès *</label>
      <%= f.input :perk_code, label: false, placeholder: "De 5 à 15 lettres ou chiffres", input_html: { minlenght: 5, maxlength: 15 } %>
    <% end %>
    <%= f.input :appel, as: :hidden %>
    <%= f.input :durable, as: :hidden %>
    <%= f.input :flash, as: :hidden %>
    <%= f.button :submit, submit_label, class: "btn-create" %>
  <% end %>
</div>

<!-- Card Perk DURABLE -->
<div class="perk-durable perk-form-card">
  <div class="perk-form-title">
    <i class="fa fa-times close-create"></i>
    <span>Bon plan durable</span>
    <span class="type-category">Fidélisation</span>
  </div>
  <div class="type-reminder">
    <span>Offre récurrente sans limite d'utilisation</span>
  </div>
  <%= simple_form_for([:pro, @business, @perk], remote: true) do |f| %>
    <%= f.error_notification %>
    <label class="hint--top-right" data-hint="Quelque chose de court et engageant">Nom du bon plan *</label>
    <%= f.input :name, label: false, placeholder: "I feel good", required: true , input_html: {maxlength: 35} %>
    <div class="photo-perk">
      <label class="hint--top-right" data-hint="Votre bon plan en image !">Photo</label>
      <div class="picture-container perk-durable-preview">
        <% if @perk.picture? %>
          <%= image_tag @perk.picture.url(:thumb), class: 'picture-perk-preview', id: 'perk-durable-preview' %>
        <% else %>
          <%= render 'shared/icons/perkpic' %>
        <% end %>
      </div>
      <%= f.input :picture, as: :file, required: false, label: 'Sélectionner une nouvelle image', input_html: {id: :perk_durable_file } %>
    </div>
    <label class="hint--top-right" data-hint="Précisez le contenu de votre offre">Description *</label>
    <%= f.input :description, label: false, placeholder: "Dites-nous tout...", required: true, :input_html => { :rows => 3, maxlength: 220 } %>
    <label class="hint--top-right" data-hint="Sélectionnez le moyen d'activation">Utilisation *</label>
    <div class="select-wrapper">
      <%= f.input :perk_detail_id, label: false, collection: PerkDetail.all, label_method: :description, selected: f.object.perk_detail_id || PerkDetail.find_by_name('carte').id %>
    </div>
    <% if action == 'create' %>
      <label class="hint--top-right" data-hint="Choisissez le code d'accès du bon plan">Code d'accès *</label>
      <%= f.input :perk_code, label: false, placeholder: "De 5 à 15 lettres ou chiffres", input_html: { minlenght: 5, maxlength: 15 } %>
    <% end %>
    <%= f.input :appel, as: :hidden %>
    <%= f.input :durable, as: :hidden %>
    <%= f.input :flash, as: :hidden %>
    <%= f.button :submit, submit_label, class: "btn-create" %>
  <% end %>
</div>

<!-- Form Perk FLASH -->
<div class="perk-flash perk-form-card">
  <div class="perk-form-title">
    <i class="fa fa-times close-create"></i>
    <span>Bon plan flash</span>
    <span class="type-category">Activation</span>
  </div>
   <div class="type-reminder">
    <span>Offre limité en temps et quantité</span>
  </div>
  <%= simple_form_for([:pro, @business, @perk], remote: true) do |f| %>
    <%= f.error_notification %>
    <label class="hint--top-right" data-hint="Quelque chose de court et engageant">Nom du bon plan *</label>
    <%= f.input :name, label: false, placeholder: "I feel good", required: true , input_html: {maxlength: 35} %>
    <div class="photo-perk">
      <label class="hint--top-right" data-hint="Votre bon plan en image !">Photo</label>
      <div class="picture-container perk-flash-preview">
        <% if @perk.picture? %>
          <%= image_tag @perk.picture.url(:thumb), class: 'picture-perk-preview', id: 'perk-flash-preview' %>
        <% else %>
          <%= render 'shared/icons/perkpic' %>
        <% end %>
      </div>
      <%= f.input :picture, as: :file, required: false, label: 'Sélectionner une nouvelle image', input_html: {id: :perk_flash_file } %>
    </div>
    <label class="hint--top-right" data-hint="Précisez le contenu de votre offre">Description *</label>
    <%= f.input :description, label: false, placeholder: "Dites-nous tout...", required: true, :input_html => { :rows => 3, maxlength: 220 } %>
    <label class="hint--top-right" data-hint="Sélectionnez le moyen d'activation">Utilisation *</label>
    <div class="select-wrapper">
      <%= f.input :perk_detail_id, label: false, collection: PerkDetail.all, label_method: :description, selected: f.object.perk_detail_id || PerkDetail.find_by_name('carte').id %>
    </div>
    <label class="hint--top-right" data-hint="Déterminez une période de disponibilité">Période *</label>
    <%= f.input :start_date_date, as: :string, label: false, placeholder: "Début", input_html: {"data-provide" => "datepicker", "data-date-language" => "fr", value: f.object.start_date.try(:strftime, '%d/%m/%Y') } %>
    <%= f.input :start_date_hour, collection: 0..23, label: false, selected: f.object.start_date_hour || 0 %>
    <%= f.input :end_date_date, as: :string, label: false, placeholder: "Fin", :input_html => {"data-provide" => "datepicker", "data-date-language" => "fr", value: f.object.end_date.try(:strftime, '%d/%m/%Y') } %>
    <%= f.input :end_date_hour, collection: 0..23, label: false, selected: f.object.end_date_hour || 23 %>
    <label class="hint--top-right" data-hint="Nombre d'activations possibles">Quantité</label>
    <%= f.input :times, as: :integer, label: false, placeholder: "0" %>
    <div class="quantity-selector">
      <button id="quantity-plus" type="button"><i class="fa fa-plus"></i></button>
      <button id="quantity-minus" type="button"><i class="fa fa-minus"></i></button>
    </div>
    <% if action == 'create' %>
      <label class="hint--top-right" data-hint="Choisissez le code d'accès du bon plan">Code d'accès *</label>
      <%= f.input :perk_code, label: false, placeholder: "De 5 à 15 lettres ou chiffres", input_html: { minlenght: 5, maxlength: 15 } %>
    <% end %>
    <%= f.input :appel, as: :hidden %>
    <%= f.input :durable, as: :hidden %>
    <%= f.input :flash, as: :hidden %>
    <%= f.button :submit, submit_label, class: "btn-create" %>
  <% end %>
</div>
