<div class="container-fluid" id="bg-connexion">
  <div id="blackbox-connexion"></div>
    <div class="container mb-20">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 mt-80 bg-light-white">
          <div id="form-card">
            <div>
              <%= link_to "Se Connecter Avec Facebook", user_omniauth_authorize_path(:facebook), class: "btn-facebook" %>
            </div>
            <div class="mt-20 mb-20">
              <%= link_to "Se Connecter Avec Google", user_omniauth_authorize_path(:google_oauth2), class: "btn-google" %>
            </div>
            <p class="text-center"> ou  </p>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
              <%= f.input :email, placeholder: 'Adresse email', required: true, autofocus: true, label: false %>
              <%= f.input :password, placeholder: 'Mot de passe', required: true, label: false %>
              <p class="f-12 mt-5">En cliquant sur “S'inscrire”, “Facebook” ou “Google+” vous acceptez les
                <a type="href" class="" data-toggle="modal" data-target="#modal-cgu">
                CGU</a>
              et certifiez avoir de plus de 18 ans.</p>
              <%= f.button :submit, "S'inscrire", class: "btn btn-connexion", style: "width:100%;" %>
              <p class="inline mt-20 text-center"> Déjà Membre ? <strong class="a-400"> <%= link_to t(".connexion", :default => "Connexion"), new_session_path(resource_name) %></strong></p>

              <div class="container" >

                <div class="modal fade cgu" id="modal-cgu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">CGU</h4>
                      </div>
                      <div class="modal-body">
                      <%= render "shared/cgu" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>