<div class="container-fluid" id="bg-connexion">
  <div id="blackbox-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 mt-80 bg-light-white">
          <h2><%= t('.devenir_membre', default: "Devenir Membre") %></h2>
          <div id="form-card">

            <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), class: "btn-facebook" %>
            <br>
            <%= link_to "Sign up with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-danger" %>
            <p> ou  </p>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
              <%= f.input :first_name, placeholder: 'Prénom', required: true, label: false %>
              <%= f.input :last_name, placeholder: 'Nom', required: true, label: false %>
              <%= f.input :email, placeholder: 'adresse@email.com', required: true, autofocus: true, label: false %>
              <%= f.input :password, placeholder: 'mot de passe', required: true, label: false %>
              <%= f.button :submit, "S'inscrire", class: "btn btn-success", style: "width:100%;" %>
              <p class="inline mt-20"> Déjà Membre ? <%= link_to t(".se_connecter", :default => "Se Connecter"), new_session_path(resource_name) %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>