<div class="form-card beneficiary">
  <i class="icon-card"><%= image_tag 'icons/present.png' %></i>
  <!-- Pack choice -->
  <span class="signup-message-beneficiary">Quel pack souhaitez-vous choisir ?</span>
  <div class="container pack-gift">
    <div class="radio-tile-group">
      <div class="input-container">
        <input id="3.15" class="radio-button" type="radio" name="radio" />
        <div class="radio-tile">
          <%= image_tag 'icons/present.png' %>
          <!-- <div class="icon walk-icon">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/>
            </svg>
          </div> -->
        </div>
      </div>
      <div class="input-container">
        <input id="6.30" class="radio-button" type="radio" name="radio" />
        <div class="radio-tile">
          <%= image_tag 'icons/present.png' %>
          <!-- <div class="icon bike-icon">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M15.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM5 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5zm5.8-10l2.4-2.4.8.8c1.3 1.3 3 2.1 5.1 2.1V9c-1.5 0-2.7-.6-3.6-1.5l-1.9-1.9c-.5-.4-1-.6-1.6-.6s-1.1.2-1.4.6L7.8 8.4c-.4.4-.6.9-.6 1.4 0 .6.2 1.1.6 1.4L11 14v5h2v-6.2l-2.2-2.3zM19 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5z"/>
            </svg>
          </div> -->
        </div>
      </div>
      <div class="input-container">
        <input id="12.50" class="radio-button" type="radio" name="radio" checked="checked"/>
        <div class="radio-tile">
          <%= image_tag 'icons/present.png' %>
          <!-- <div class="icon car-icon">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <label class="radio-tile-label"><strong>15 € / </strong>3 mois</label>
  <label class="radio-tile-label"><strong>30 € / </strong>6 mois</label>
  <label class="radio-tile-label"><strong>50 € / </strong>un an</label>
  <p class="pack-gift-comment">50% est reversé directement à une association et donc déductible de vos impôts !</p>
  <!-- Beneficiary input -->
  <span class="signup-message-beneficiary">À qui souhaitez-vous l'offrir ?</span>
  <div class="subscription-form">
    <%= simple_form_for :beneficiary, url: user_beneficiaries_path(current_user), remote: true, html: { id: :new_beneficiary } do |f| %>
      <div id="error-code">
        <%= flash[:alert].humanize unless flash[:alert] == nil %>
      </div>
      <%= f.input :first_name, placeholder: 'Prénom', required: true, label: false %>
      <%= f.input :last_name, placeholder: 'Nom', required: true, label: false %>
      <%= f.input :email, placeholder: 'Adresse email', required: true, label: false %>
      <%= f.input :nb_month, as: :hidden, input_html: { value: 12 }  %>
      <%= f.input :amount, as: :hidden, input_html: { value: 50 } %>

      <p>On s'occupe de tout ! Le 25 décembre, elle recevra un joli mail qui lui annoncera la bonne nouvelle et lui permettra de s'inscrire pour bénéficier de tous nos avantages immédiatement :)</p>

      <%= f.button :submit, "C'est cadeau !", class: "btn btn-connexion hint--top btn-user-connexion" %>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function() {

      $("#new_beneficiary").validate({
        lang: 'fr',
        rules: {
          first_name: {
            required: true,
          },
          last_name: {
            required: true,
          },
          email: {
            required: true
          }
        }
      });

    $('.radio-button').on('click', function() {
      $('#beneficiary_nb_month').val($('.radio-button:checked').attr('id').split('.')[0]);
      $('#beneficiary_amount').val($('.radio-button:checked').attr('id').split('.')[1]);
    });

    });

</script>

<% end %>
