<%= content_for(:title) do %>
<%= @perk.perk %>
<% end %>
<%= content_for(:description) do %>
Modifiez votre Bon Plan
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "pro/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <div class="form-perk-container">
      <div class="form-perk">
        <%= render 'form/create' %>
      </div>
    </div>
  </div>
</div>

