<div class="navbar-v2">

  <% if user_signed_in? %>
    <%= link_to member_user_dashboard_path(current_user) do %>
      <div class="navbar-logo-item left hidden-xs"></div>
    <% end %>
  <% elsif business_signed_in? %>
    <%= link_to pro_business_dashboard_path(current_business) do %>
      <div class="navbar-logo-item left hidden-xs"></div>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
      <div class="navbar-logo-item left hidden-xs"></div>
    <% end %>
  <% end %>

  <span id="open-leftmenu"><div class="visible-xs">MENU</div></span>

  <!-- Impersonnate businesses -->
  <% if business_signed_in? && pro_space? && current_business.supervisor %>
    <div class="nav-impersonate">
      <%= render "components/select_impersonate_business", dropdown_search: "navbar_select_impersonate" %>
      <% if current_impersonation %>
        <div class="current-impersonation">
          Vous agissez en tant que <%= current_impersonation.name %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="navbar-right-item">

    <% if user_space? %>

      <div class="search-navbar search-modal-button hidden-xs">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="search-navbar-mobile search-modal-button-mobile">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>

      <% if current_page?('/causes') %>
        <div class="search-input-mobile hidden hidden-sm hidden-md hidden-lg">
          <input id="search-in-navbar-mobile-assos"class="search" placeholder="rechercher">
        </div>
      <% elsif current_page?('/businesses') %>
        <div class="search-input-mobile hidden hidden-sm hidden-md hidden-lg">
          <input id="search-in-navbar-mobile-perks"class="search" placeholder="rechercher">
        </div>
      <% else %>
        <div class="search-input-mobile hidden hidden-sm hidden-md hidden-lg">
          <input id="search-in-navbar-mobile"class="search" placeholder="rechercher">
        </div>
      <% end %>

      <div class="search-navbar-mobile search-modal-button-mobile hidden">&times;</div>

    <% end %>

    <div class="dropdown-navbar" id="button-dropdown-navbar">

      <% if user_signed_in? %>
        <span class="hidden-xs"><%= name_user(current_user) %></span>
        <div class="avatar-navbar dropdown-toggle" data-toggle="dropdown">
          <%= render partial: 'components/avatar_or_picture', locals: { resource: current_user, style: "avatar" } %>
          <div class="caret"></div>
        </div>
      <% elsif business_signed_in? %>
        <span class="hidden-xs"><%= current_business.name %></span>
        <div class="avatar-navbar dropdown-toggle" data-toggle="dropdown">
          <%= render partial: 'components/avatar_or_picture', locals: { resource: current_business, style: "avatar" } %>
          <div class="caret"></div>
        </div>
      <% else %>
        <!-- SIGNUP/SIGNIN BUTTONS -->
        <div class="nav-right">
          <%= link_to signup_path, class: "sign-up" do %>
            <div class="ripple-area js-ripple">
              <span class="ripple-circle"></span>
            </div>
            S'inscrire
          <% end %>
          <%= link_to signin_path, class: "sign-in" do %>
            <div class="ripple-area js-ripple">
              <span class="ripple-circle"></span>
            </div>
            Se connecter
          <% end %>
        </div>
        <div class="navbar-logo-item visible-xs dropdown-toggle" data-toggle="dropdown">
          <div class="caret"></div>
        </div>

      <% end %>

      <ul class="dropdown-menu dropdown-menu-right">

        <div class="drop-header-container">
          <% if user_signed_in? %>
            <% if !current_user.supervisor %>
              <%= link_to "Profil", member_user_profile_path(current_user, anchor: 'profile' ), class: "droptext-bold profile-tab" %>
              <%= link_to "Association", member_user_profile_path(current_user, anchor: 'cause'), class: "droptext-bold profile-tab" %>
              <%= link_to "Participation", member_user_profile_path(current_user,  anchor: 'subscription'), class: "droptext-bold profile-tab" %>
              <% if current_user.date_last_payment.present? %>
                <%= link_to "Contributions", member_user_profile_path(current_user, anchor: 'list-payments'),  class: "droptext-bold profile-tab" %>
              <% end %>
              <%= link_to "Plaisir d'offrir", member_user_gift_path(current_user), class: "droptext-bold profile-tab" %>
            <% end %>
          <% elsif business_signed_in? %>
            <%= link_to "Mes informations", pro_business_profile_path(current_business, anchor: 'business' ), class: "droptext-bold profile-tab" %>
            <%= link_to "Mon commerce", pro_business_profile_path(current_business, anchor: 'shop'), class: "droptext-bold profile-tab" %>
          <% else %>
            <%= link_to signup_path do %>
              <div class="droptext">
                <div class="droptext-bold">S'inscrire</div>
              </div>
            <% end %>
            <%= link_to signin_path do %>
              <div class="droptext">
                <div class="droptext-bold">Se connecter</div>
              </div>
            <% end %>
          <% end %>
        </div>

        <% if user_signed_in? || business_signed_in? %>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to faq_connect_path do %>
              <div class="droptext-opacity">Aide et conseils</div>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class="droptext-opacity">Déconnexion</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if user_space? %>
  <% if current_page?('/causes') %>
    <div class="search-modal hidden">
      <input id="search-assos" class="search" placeholder="rechercher">
      <div class="close-search-modal">&times;</div>

    </div>
  <% elsif current_page?('/businesses') %>
    <div class="search-modal hidden">
      <input id="search-businesses" class="search" placeholder="rechercher">
      <div class="close-search-modal">&times;</div>

    </div>
  <% else %>
    <div class="search-modal hidden">
      <input id="search-dashboard"class="search" placeholder="rechercher">
      <div class="business-search-close-button">
        <div>Annuler</div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :after_js do %>
  <script>

    $(document).ready(function() {
      $('.profile-tab').click(function(e) {
        var id = $(e.target).attr("href").split('#')[1];
        window.location.hash = id;
        window.location.reload();
      });
    });

  </script>
<% end %>
