<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <table class="container">
        <tr>
          <td>
            <table class="row">
              <tr>
                <td class="last">
                  <table class="twelve columns">
                    <tr>
                      <td>
                        <%= image_tag "cforgood_mail.jpg", class: "img-header" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <% if @user.first_name %>
                          <p class="salutation">Bonjour <%= @user.first_name %>,</p>
                        <% elsif @user.name %>
                          <p class="salutation">Bonjour <%= @user.name %>,</p>
                        <% else %>
                          <p class="salutation">Bonjour,</p>
                        <% end %>
                        <p>Votre compte vient d'être activé. Vous venez réellement de rejoindre la communauté des acteurs qui vont dans le bon sens !<br>
                          Voici un guide qui vous aidera à démarrer :</p>
                          <%= image_tag "comment_ca_marche_mail.jpg" %>
                        <p><strong>C'est tout ! </strong>Qu'attendez-vous pour découvrir le meilleur de votre ville ?!<p>
                        <%= link_to "Découvrir Maintenant", member_user_profile_url(@user), class: "button-turquoise" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p> A très vite,<br>
                        L'équipe <strong>CforGood</strong></p>
                        <%= link_to root_url, target: "_blank" do %>
                          <%= image_tag "logo.png", class: "logo", style: "width:140px;" %>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>





