<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <table class="container">
        <tr>
          <td>
            <table class="row">
              <tr>
                <td class="last">
                  <table class="twelve columns">
                    <tr>
                      <td>
                        <%= image_url "cforgood_mail.png" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <% if @user.first_name %>
                          <p class="salutation">Bonjour <%= @user.first_name %>,</p>
                        <% elsif @user.name %>
                          <p class="salutation">Bonjour <%= @user.name %>,</p>
                        <% else %>
                          <p class="salutation">Bonjour,</p>
                        <% end %>
                        <p>Merci de rejoindre la communauté des acteurs qui vont dans le bon sens !<br>
                          Voici un guide qui vous aidera à démarrer :</p>
                          <%= image_url "comment_ca_marche_mail.jpg" %>
                        <p><strong>C'est tout ! </strong>Qu'attendez-vous pour découvrir le meilleur de votre ville ?!<p>
                        <%= link_to "Découvrir Maintenant", member_user_profile_url(@user), class: "button-turquoise" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p> A très vite,<br>
                        L'équipe <strong>CforGood</strong></p>
                        <p><%= image_url "logo.png", class: "logo", style: "width:120px;" %></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="social-link">
                          <a class="icon" href="https://www.facebook.com/cforgood/" target="_blank">
                            <%= image_url src="icons/icon_facebook.png", style: "width:20px;" %>
                          </a>
                          <a class="icon" href="https://twitter.com/cforgood" target="_blank">
                            <%= image_url "icons/icon_twitter.png", style: "width:20px;" %>
                          </a>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>





