<div id="mail">
  <% if @user.first_name %>
    <p>Bienvenue <%= @user.first_name %>,</p>
  <% elsif @user.name %>
    <p>Bienvenue <%= @user.name %>,</p>
  <% else %>
    <p>Bienvenue,</p>
  <% end %>

  <p>
    Merci de rejoindre la communauté des acteurs qui vont dans le bon sens !<br>
    Voici un guide qui vous aidera à démarrer :
  </p>

  <%= image_tag ("comment_ca_marche_mail.jpg") %>

  <p>
    C'est tout ! Qu'attendez-vous pour découvrir le meilleur de votre ville ?!
  <p>

  <%= link_to "Découvrir maintenant", member_user_dashboard_url(@user), class: "button button-turquoise" %>

  <p> A très vite,<br>
  L'équipe CforGood</p>
  <%= image_tag "logo.png", class: 'logo-signature' %>
</div>

