<div class="use-overlay hidden">
  <div class="flip-container-mobile">
    <div class="flipper-mobile">
      <!-- FRONT CARD-->
      <figure class="front">
        <!-- CLOSE BUTTON-->
        <button type="button" class="close-button">&times;</button>
        <!-- ILLUSTRATION-->
        <div class="wrapper">
          <%= render "shared/icons/send_mail" %>
        </div>
        <div class="container-code">
          <p class="box-code-legend">Envoyez-nous un email pour réserver votre bon plan : </p>
        </div>
        <div class="itinary send-mail">
          <a href='mailto:<%= @business.email %>?subject=Réservation du Bon Plan : code <%= Perk.find(params[:perk_id]).perk_code %>' class="link-mail-business business-icon-container" target="_blank">
          <i class="fa fa-envelope"></i><abbr>Ecrivez-nous !</abbr>
          </a>
        </div>
      </figure>
      <!-- BACK CARD -->
      <figure class="back">
        <div class="container-query">
          <p>Avez-vous profitez du bon plan ?</p>
          <div class="container-answer">
            <div class="answer-yes">
              <%= simple_form_for(:code, url: perk_uses_path(params[:perk_id], redirect_index: true ), method: :post, remote: true, authenticity_token: true, html: { id: :create_use }) do |f| %>
                <%= f.input :perk_code, as: :hidden, input_html: { value: Perk.find(params[:perk_id]).perk_code } %>
                <button type:"submit"><%= image_tag "icons/check_OK.png" %></button>
              <% end %>
            </div>
            <div class="answer-no">
              <%= link_to businesses_path do %>
                <%= image_tag "icons/check_KO.png" %>
              <% end %>
            </div>
          </div>
        </div>
      </figure>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){

      $('.send-mail').click(function(event) {
        $('.flipper-mobile').toggleClass('flipped');
      });

    });
  </script>
<% end %>
