<div class="done-overlay hidden">
  <button type="button" class="close-button">&times;</button>

  <div class="code-perk-offline">
    <!-- PERK CARDS -->
    <div class="flip-container-mobile">
      <div class="flipper-mobile">
        <figure class="front"><!-- FRONT CARD-->
          <!-- ITINERAIRE -->
          <div class="offline-itineraire">
            <p class="offline-itineraire-legend"> Pour rejoindre votre commerce :</p>
            <%= link_to "Indiquez Moi L'itinéraire", "http://maps.google.com/maps", class: "button button-turquoise", id:"link-map", disabled: true, data: { locale: I18n.locale, destination: { latitude: Perk.find(params[:perk_id]).business.latitude, longitude: Perk.find(params[:perk_id]).business.longitude } }, :target => "_blank" %>
          </div>
          <!-- INPUT CODE PERK -->
          <div class="offline-code">
            <p class="offline-code-legend">Pour profiter du Bon Plan et accéder à votre carte membre, renseignez le code :</p>
            <%= simple_form_for :code, url: perk_uses_path(params[:perk_id], current_user), remote: true, authenticity_token: true, html: { method: :post, id: :create_use } do |f| %>
              <%= f.input :perk_code, placeholder: "Saisissez le code", label: false, input_html: { id: :perk_code }  %>
              <%= f.submit "Validez", class: "button button-turquoise validation" %>
            <% end %>
            <p id="error-code"></p>
          </div>
        </figure> <!-- END FRONT CARD -->

        <figure class="back"><!-- BACK CARD -->
            <div class="card relative">
              <%= image_tag (current_user.picture? ? current_user.picture : "profile.png"), class: "img-circle", style: "margin:auto;" %>

              <%= image_tag "macarte_horizontale.png", class: "img-card"%>
              <% if current_user.name %>
                <h2><%= current_user.name %></h2>
              <% else %>
                <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
              <% end %>
            </div>
        </figure><!-- END BACK CARD -->
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>

  <script type="text/javascript">setRoutePathFromLocation()</script>

  <script>
    // CONTROL CODE PERK AND CREATE USE
    $(document).ready(function() {
      $(".validation").on('click', function(e) {
        e.preventDefault();
        if ("<%= Perk.find(params[:perk_id]).perk_code %>" != $("#perk_code").val().toUpperCase()) {
          $("#error-code").html("");
          $("#error-code").append("Le code n'est pas valide !");
        } else {
          $("#create_use").submit();
          $('.flipper-mobile').toggleClass('flipped');
        }
      });
    });

  </script>

<% end %>
