<!-- FORM SELECT CAUSE -->
<div class="choose-cause">
  <div class="user-cause">
  <!-- USER SUPPORT -->
  <span class="tab-subtitle">Votre engagement</span>
    <div class="user-support">
      <div class="user-cause-container" style="background-image: url('<%= current_user.cause.picture.url(:card) %>');">

        <div class="user-cause-content">
          <div class="pictures-container">
            <div class="picture-container">
              <% if current_user.picture? %>
                <%= image_tag current_user.picture.url(:avatar), class: 'user-picture' %>
              <% else %>
                <div class="picture-none">
                  <%= image_tag "citoyen.svg", class: "avatar-citoyen" %>
                </div>
              <% end %>
            </div>
            <div class="picture-container-cause">
              <% if current_user.cause_id.present? %>
                <%= image_tag current_user.cause.logo.url(:thumb), class: 'cause-picture' %>
              <% else %>
                <div class="picture-none">
                  <%= image_tag "citoyen.svg", class: "avatar-citoyen" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="user-cause-disclaimer">
            <% if current_user.cause_id.present? %>
              Vous soutenez actuellement<br><i><%= current_user.cause.name %></i>.
            <% else %>
              Choisissez une association à soutenir !
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="change-cause">
    <%= link_to "Soutenir une autre cause ?", causes_path, class: "tab-subtitle" %>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $(".user-button").on("click", function(e) {
        e.preventDefault;
        var causeId = $('.cause-presentation.slick-active').val('div').attr('id');
        var causeName = $('.cause-presentation.slick-active .card-cause span').html();
        $(".popup-overlay").toggleClass("hidden");
        $("#user_cause_id").val(causeId);
        $('.cause-confirmation span.cause-name').html(causeName);

        // EVENT AMPLITUDE : USER_C_PROFILE_MYCAUSE_SUPPORT
        amplitude.logEvent('USER_C_PROFILE_MYCAUSE_SUPPORT');
      });
    });
  </script>
<% end %>

