<!-- FORM SUBSCRIPTION -->
<div class="form-edit-container offer-form">
  <div class="signup-plan">
    <% if current_user.member %>
      <span>Changer le montant de ma participation</span>
    <% else %>
      <span>Choisir le montant de ma participation</span>
    <% end %>
    <div class="container-fluid">
      <div class="offer-index">
        <div class="offer-card">
          <!-- RANGE SLIDER FOR PRICE -->
          <div class="offer-price">
            <input type="range" name="range" id="range" min="1" max="50" value="5"/>
            <div class="offer-details">
              <div class="offer-detail">
                <output class="output-asso">50</output>
                <p>Reversé à l'association de votre choix</p>
              </div>
              <div class="offer-detail">
                <output class="output-fiscal">50</output>
                <p>Coût réel de votre don après déduction fiscale</p>
              </div>
            </div>
          </div>
          <div class="offer-description">
            <h5>Abonnement mensuel <strong>libre</strong> sans engagement</h5>
            <p>Vous pouvez le modifier ou l'annuler à tout moment depuis votre profil</p>
          </div>
          <!-- PARTNER CODE -->
          <%= simple_form_for(current_user, url: member_subscribe_path(current_user), method: :put, remote: true, authenticity_token: true, html: { id: "update_subscription" } ) do |f| %>
            <div class="code-partner">
              <%= f.input :code_partner, label: "Code Partenaire", input_html: { value: current_user.subscription == 'T' && !current_user.trial_done ? f.object.code_partner : "", disabled: current_user.subscription == 'T' || current_user.trial_done ? true : false } %>
            </div>

            <div class="offer-btn">
              <%= f.input :subscription, as: :hidden, input_html: { value: f.object.subscription || "M" } %>
              <%= f.input :amount, label: false, input_html: { value: f.object.amount || 5 } %>
            </div>
            <% if current_user.member %>
              <%= f.submit "Sauvegarder", class: "btn-subscription"%>
            <% elsif current_user.date_stop_subscription.present? %>
              <%= f.submit "Me réabonner", class: "btn-subscription"%>
            <% else %>
              <%= f.submit "M'abonner", class: "btn-subscription"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user.member %>
      <%= link_to "Je me désabonne", "#", class: "btn btn-no-subscription stop-subscription" %>
    <% else %>
      <%= link_to "Je me désabonne", "#", class: "btn btn-no-subscription stop-subscription disabled" %>
    <% end %>
    <%= link_to "Mettre à jour mes données bancaires", "#payment", role: "tab", data_toggle: "tab", class: "show-payment btn btn-no-subscription" %>
  </div>
</div>

<%= render 'components/popups/stop_subscription_validation' %>

<% content_for :after_js do %>

  <%= render 'components/js/subscription' %>

  <script>

    $(document).ready(function() {

      $(".show-payment").on("click", function(e) {
        e.preventDefault();
        $("#payment").removeClass('hidden');
        $("#menu a.show-payment").tab('show');
      });

      $(".stop-subscription").on("click", function(e) {
        e.preventDefault();
        $(".popup-stop-confirmation").removeClass('hidden');
      });

    });

  </script>

<% end %>
