<div class="choose-cause">
  <ul class="cause-cards">
      <li class="cause-cards-item">
          <%= link_to cause_path(@cause) do %>
            <div class="cause-card">
              <div class="cause-picture" style="background-image: url('<%= @cause.picture.url(:card) %>');">
                <span class="cause-name"><%= @cause.name %></span>
                <span class="cause-city"><%= @cause.city %></span>
              </div>
            </div>
          <% end %>
      </li>
      <li class="cause-cards-item">
        <%= link_to cause_path(@cause) do %>
            <div class="cause-card new">
              <div class="cause-picture" style="border: 1px solid rgba(213,213,213,1);">
                <p class="cause-question">Soutenir<br> une autre association ?</p>
                <%= link_to causes_path do %>
                  <%= image_tag "icons/more.svg", class: "causes-path" %>
                <% end %>
              </div>
            </div>
          <% end %>
      </li>
  </ul>
</div>
