<!-- FORM SELECT CAUSE -->
<div class="choose-cause">
  <div class="user-cause">
  <!-- USER SUPPORT -->
  <span class="tab-subtitle">Votre engagement</span>
    <div class="user-support">
      <div class="user-cause-container" style="background-image: url('<%= image_url current_user.cause.picture %>');">

        <div class="user-cause-content">
          <div class="pictures-container">
            <div class="picture-container">
              <% if current_user.picture? %>
                <%= image_tag current_user.picture.url(:thumb), class: 'user-picture' %>
              <% else %>
                <div class="picture-none">
                  <%= render 'shared/icons/profile' %>
                </div>
              <% end %>
            </div>
            <div class="picture-container-cause">
              <% if current_user.cause_id.present? %>
                <%= image_tag current_user.cause.logo.url(:thumb), class: 'cause-picture' %>
              <% else %>
                <div class="picture-none">
                  <%= render 'shared/icons/profile' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="user-cause-disclaimer">
            <% if current_user.cause_id.present? %>
              Vous soutenez actuellement<br><i><%= current_user.cause.name %></i>.
            <% else %>
              Choisissez une association à soutenir !
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CAUSES CARROUSEL -->
  <%= render 'components/causes_carrousel' %>
</div>


