<div class="form-edit-container">
  <div class="form-edit">
    <%= simple_form_for(current_user, url: member_update_profile_path, remote: true, authenticity_token: true, html: { method: :put, id: :form_profile_user }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :last_name, placeholder: 'Nom', required: true, autofocus: true, label: false %>
      <%= f.input :first_name, placeholder: 'Prénom', required: true, label: false %>
      <%= f.input :email, placeholder: 'Adresse email', required: true, label: false %>
      <%= image_tag current_user.picture.url(:thumb) if current_user.picture %>
      <%= f.input :picture, as: :file, hint: 'Votre photo', required: true, label: false %>
      <%= f.button :submit, "Sauvegarder", class: "btn btn-turquoise" %>
    <% end %>
  </div>
  <div>
    <%= link_to t(".change_your_password", :default => "Changez votre mot de passe ?"), new_user_password_path(current_user), class: "new-password" %>
  </div>
</div>
