<!-- FORM SUBSCRIPTION -->
<div class="form-edit-container offer-form">
  <div class="form-edit">
    <div class="dashboard-title">Choisissez votre abonnement</div>
      <div class="container-fluid offer-index">
        <div class="offer-card">
          <div class="offer-title">Mensuel</div>
          <div class="offer-extra">Sans engagement de durée</div>
          <div class="offer-price">5€/mois</div>
          <div class="offer-btn">
            <% if !current_user.trial_done? %>
              <%= link_to "Essayez", member_update_profile_path("user" => {subscription: "TM"}), method: :put, remote: true, authenticity_token: true, class: "btn btn-green", html: { id: :update_subscription_trial } %>
            <% end %>
            <%= link_to "Souscrivez", member_update_profile_path("user" => {subscription: "M"}), method: :put, remote: true, authenticity_token: true, class: "btn btn-turquoise subscription", html: { id: :update_subscription } %>
          </div>
        </div>
        <div class="offer-card most-popular">
          <div class="offer-most-popular">Le plus populaire</div>
          <div class="offer-title">Annuel</div>
          <div class="offer-extra"><span>12 Mois </span>de validité</div>
          <div class="offer-price">50€/an</div>
          <div class="offer-btn">
            <% if !current_user.trial_done? %>
              <%= link_to "Essayez", member_update_profile_path("user" => {subscription: "TA"}), method: :put, remote: true, authenticity_token: true, class: "btn btn-green", html: { id: :update_subscription_trial } %>
            <% end %>
            <%= link_to "Souscrivez", member_update_profile_path("user" => {subscription: "A"}), method: :put, remote: true, authenticity_token: true, class: "btn btn-turquoise subscription", html: { id: :update_subscription } %>
          </div>
        </div>
        <div class="offer-card">
          <div class="offer-title">Entreprise</div>
          <div class="offer-extra">Pour vos clients ou salariés</div>
          <div class="offer-price">Nous consulter</div>
          <div class="offer-btn">
            <%= link_to "Contactez-nous", new_contact_form_path, class: "btn btn-bluenight" %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <% if current_user.card_id %>
        <%= link_to "Changez vos données bancaires ?", "#payment", role: "tab", data_toggle: "tab", class: "show-payment" %>
      <% end %>
    </div>
</div>

<% content_for :after_js do %>

  <script>
    $(document).ready(function() {
      $(".btn.subscription").on("click", function(e) {
        e.preventDefault();
        $("#update_subscription").submit();
      });
      $(".show-payment").on("click", function(e) {
        e.preventDefault();
        $(".show-payment").removeClass('hidden');
        $("#menu a.show-payment").tab('show');
      });
    });
  </script>

<% end %>
