<!-- FORM CARD REGISTRATION -->
<div class="form-edit-container">
  <div class="form-edit">
    <div class="row">
      <div class="dashboard-title">
        <span>Renseignez vos données bancaires<br>pour votre participation mensuelle de </span>
        <span id="amount_subscription"><%= current_user.amount %> €</span>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 form-card form-payment">
        <div class="subscription-form">
          <form id="form-card-creation">
            <div class="form-group">
              <label for="card_number" class="control-label">Numéro de carte</label>
              <input type="text" name="card_number" id="card_number" size="18" class="form-control">
            </div>
            <div class="form-group">
              <label for="card_exp_date" class="control-label">Date d'expiration</label>
              <input type="text" name="card_exp_date" id="card_exp_date" size="6" placeholder='mmaa' class="form-control">
            </div>
            <div class="form-group">
              <label for="card_cvx" class="control-label">Cryptogramme visuel</label>
              <input type="text" name="card_cvx" id="card_cvx" size="4" class="form-control">
            </div>
            <input type="submit" value="Validez"  id="create-card" class="btn btn-default btn-account">
          </form>
          <div class="hidden">
            <%= simple_form_for :card, url:  member_signup_index_path, html: { id: :create_account } do |f| %>
              <%= f.input :id, as: :hidden %>
              <%= f.submit "", :style => "display: none;" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 form-card form-payment">
        <div class="card-authorized">
          <ul>
            <li><img src="<%= image_path 'cb.jpg' %>" alt="CB"></li>
            <li><img src="<%= image_path 'visa.jpg' %>" alt="VISA"></li>
            <li><img src="<%= image_path 'mastercard2.jpg' %>" alt="MASTERCARD"></li>
          </ul>
        </div>
        <div>
          <img src="<%= image_path 'powered-by-mangopay.png' %>" alt="CB">
          <%=link_to " | Informations légales", "https://www.mangopay.com/terms/Mangopay_Terms-FR.pdf", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <%= image_tag('icons/loading.gif', id: "loading-indicator", style: "display:none") %>
</div>

<!-- MODAL MESSAGE INFORMATION -->
<%= render "components/modals/payment" %>

<% content_for :after_js do %>

  <%= render "components/js/payment" %>

<% end %>
