<div class="users-sidebar">
  <ul id="sidebar">
    <!-- USER SIGN IN -->
    <% if user_signed_in? %>
      <li class="<%= active_class(member_user_dashboard_path(current_user))%>">
        <%= link_to member_user_dashboard_path(current_user) do %>
          <div class="icon-container">
            <!-- <#= image_tag('icons/suivi.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/around_me" %>
          </div>
          <span class="admin-label">Autour de moi</span>
        <% end %>
      </li>
      <li class="<%= active_class(businesses_path)%> light">
        <%= link_to businesses_path do %>
          <div class="icon-container">
            <!-- <#= image_tag('icons/myperks.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/perks" %>
          </div>
          <span class="admin-label">Les Bons Plans</span>
        <% end %>
      </li>
      <li class="<%= active_class(asso_causes_path)%> light">
        <%= link_to asso_causes_path do %>
          <div class="icon-container">
            <!-- <#= image_tag('icons/createperks.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/causes" %>
          </div>
          <span class="admin-label">Les associations</span>
        <% end %>
      </li>

    <!-- USER NOT SIGN IN -->
    <% else %>
      <li class="<%= active_class(map_path)%>">
        <%= link_to map_path do %>
          <div class="icon-container">
            <!-- <#= image_tag('icons/suivi.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/around_me" %>
          </div>
          <span class="admin-label">Autour de moi</span>
        <% end %>
      </li>
      <li class="<%= active_class(businesses_path)%> light">
        <%= link_to new_member_subscribe_path do %>
          <div class="icon-container">
            <!-- <#= image_tag('icons/myperks.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/perks" %>
          </div>
          <span class="admin-label">Les Bons Plans</span>
        <% end %>
      </li>
      <li class="<%= active_class(asso_causes_path)%> light">
        <%= link_to new_member_subscribe_path do %>
          <div class="icon-container">
            <!-- <#= image_tag('icons/createperks.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/causes" %>
          </div>
          <span class="admin-label">Les associations</span>
        <% end %>
      </li>
    <% end %>

    <% if user_signed_in? %>
      <!-- DESKTOP | GO TO PROFILE -->
      <li class="<%= active_class(member_user_profile_path(current_user)) %> light light desktop-profile">
        <%= link_to member_user_profile_path(current_user) do %>
          <div class="icon-container">
            <!-- <#= image_tag('icons/profil.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/profile" %>
          </div>
          <span class="admin-label">Mon profil</span>
        <% end %>
      </li>

      <!-- MOBILE | OPEN MENU DROPDOWN -->
      <li id="profile-tab" class="mobile-dropdown">
        <a href="#">
          <div class="icon-container">
            <!-- <#= image_tag('icons/profil.png', :class => 'admin-icon') %> -->
            <%= render "shared/icons/profile" %>
          </div>
          <span class="admin-label">Mon profil</span>
        </a>
        <ul class="mobile-menu hidden">
          <!-- BUSINESS DETAILS -->
          <div class="business-details">
            <% if current_user.picture.present? %>
              <%= image_tag avatar_url(current_user) %>
             <% else %>
              <%= image_tag "default_pic.png" %>
            <% end %>
            <% if current_user.last_name != "" && current_user.last_name != nil %>
              <span><%= current_user.first_name %> <%= current_user.last_name.chars.first + "." %></span>
            <% elsif current_user.name != "" && current_user.name != nil %>
              <span><%= current_user.name.split(" ")[0] %></span>
            <% end %>
          </div>
          <!-- OTHER LINKS -->
          <li class="<%= active_class(member_user_profile_path(current_user))%>">
            <%= link_to member_user_profile_path(current_user) do %>
              <i class="fa fa-user"></i>Mon profil
            <% end %>
          </li>
          <li>
            <%= link_to faq_connect_path do %>
              <i class="fa fa-question"></i>Aide et conseils
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-power-off"></i>Se déconnecter
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <div class="signout">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= image_tag('icons/signout.png', :class => 'signout-icon') %><%= t ".se_déconnecter", default: "À bientôt" %>
      <% end %>
    </div>
  <% end %>
</div>


<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.mobile-dropdown').click(function(event) {
        $('.mobile-menu').toggleClass('hidden');
        $('.mobile-menu-overlay').toggleClass('hidden');
      });

      $('.mobile-menu-overlay').click(function(event) {
        $(this).addClass('hidden');
        $('.mobile-menu').addClass('hidden');
      });
    });
  </script>
<% end %>
