<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <table class="container">
        <tr>
          <td>
            <table class="row">
              <tr>
                <td class="last">
                  <table class="twelve columns">
                    <tr>
                      <td>
                        <%= image_tag "cforgood_mail.jpg", class: "img-header" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="salutation">Bonjour <%= @business.name %>,</p>
                        <p>Votre compte vient d'être activé. Vous venez réellement de rejoindre la communauté des acteurs qui vont dans le bon sens !<br>
                        Voici un guide qui vous aidera à démarrer :</p>
                        <%= image_tag "comment_ca_marche_business_mail.jpg" %>
                        <p><strong>C'est tout ! </strong>Qu'attendez-vous pour découvrir le meilleur de votre ville ?!<p>
                        <%= link_to "Découvrir Maintenant", pro_business_profile_url(@business), class: "button-turquoise" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p> A très vite,<br>
                        L'équipe <strong>CforGood</strong></p>
                        <%= link_to root_url, target: "_blank" do %>
                          <%= image_tag "logo.png", class: "logo", style: "width:140px;" %>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

 C'est tout ! Vous pouvez dès maintenant créer vos premiers Bons Plans !




