<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <!-- Nav tabs -->
    <ul id="menu" class="nav nav-tabs">
      <li role="profile" class="active"><%= link_to "Vos informations", "#profile", role: "tab", data_toggle: "tab" %></li>
      <li role="profile"><%= link_to "Votre association", "#cause", role: "tab", data_toggle: "tab" %></li>
      <li role="profile"><%= link_to "Votre abonnement", "#subscription", role: "tab", data_toggle: "tab" %></li>
      <li role="profile"><%= link_to "Vos données bancaires", "#account", role: "tab", data_toggle: "tab" %></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profile">
        <%= render "form_profile_user" %>
      </div>
      <div role="tabpanel" class="tab-pane" id="cause">
        <%= render "form_profile_cause" %>
      </div>
      <div role="tabpanel" class="tab-pane" id="subscription">
        <%= render "form_profile_subscription" %>
      </div>
      <div role="tabpanel" class="tab-pane" id="account">
        <%= render "form_profile_account" %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function() {
      $("#menu a").click(function (e) {
        e.preventDefault()
        $(".alert").remove();
        $(this).tab('show');
      });
    });

  </script>

<% end %>
