<%= content_for(:title) do %>
  Associations
<% end %>
<%= content_for(:description) do %>
  Découvrez notre liste de causes partenaires
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-causes">
    <div class="mobile-menu-overlay hidden"></div>

    <div id="assos">

      <div class="container-cause-cards">
        <ul class="cause-cards list">
          <% @causes.each do |cause| %>
            <li class="cause-cards-item">
              <% if cause.id != ENV['CAUSE_ID_CFORGOOD'].to_i %>
                <%= link_to cause_path(cause), class: "cause-card" do %>
                  <!-- CARD HEADER -->
                    <div class="cause-picture" style="background-image: url('<%= cause.picture.url(:card) %>');">
                    <span class="cause-name"><%= cause.name %></span>
                    <span class="cause-city"><%= cause.city %></span>
                    <span class="cause-category hidden"><%= cause.cause_category.name %></span>
                  </div>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>

  <script>

    $(document).ready(function(){
      // EVENT AMPLITUDE USER_ALL_CAUSES + USER_C_CAUSE_ALLCAUSES
      amplitude.logEvent('USER_ALL_CAUSES');
      $('.card-frame').click(function(event) {
        amplitude.logEvent('USER_C_CAUSE_ALLCAUSES');
      });
    });

  </script>

<% end %>

<% content_for :listjs do %>

  <script>

    var options = {
      valueNames: [ 'cause-name', 'cause-city', 'cause-category' ]
    };

    var userList = new List('assos', options);

    $('#search-assos').keyup(function(){
      userList.search($(this).val());
    });

  </script>

<% end %>




