<%= content_for(:title) do %>
  <%= @cause.name %>
<% end %>
<%= content_for(:description) do %>
  Découvrez l'engagement de <%= @cause.name %> !
<% end %>

<%= render "member/dashboard/shared/sidebar" %>

<div class="asso-fullpage">
  <div class="asso-banner">

    <div class="asso-banner-header-name">
      <div class="asso-head-column-container">
        <div class="banner-business-name">
          <div><%= @cause.name %></div>
        </div>
        <div class="banner-asso-description">
          <%= @cause.impact %>
        </div>
      </div>
    </div>

    <div class="asso-card-abs-banner">
      <div class="asso-card-photo" style="background-image: url('<%= device_type == :mobile ? @cause.picture.url(:card) : @cause.picture %>');"></div>
      <div class="asso-card-bottom-links">
        <div class="asso-card-bottom-left-item">
          <% if @cause.like > 0 %>
            <%= image_tag "icons/heart.svg", class: "red-heart"%>
            <div class="asso-firstblock-text">
              <%= @cause.like > 1 ? "#{@cause.like} personnes aiment #{@cause.name}" : "#{@cause.like} personne aime #{@cause.name}" %>
            </div>
          <% end %>
        </div>
        <div class="asso-card-bottom-right-item">
          <div class="asso-cbri-middleblock">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
          <div class="asso-cbri-endblock">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="asso-bottom-container">
    <div class="title-sub">En quelques mots</div>

    <div class="asso-description-container" style="font-size: 13px;">
      <%= @cause.description %>
    </div>

    <% if @cause.link_video.present? %>
      <div class="cause-video">
        <div class="embed-container video-mobile">
          <%= content_tag(:iframe, nil, src: "#{@cause.link_video}", allowfullscreen: "allowfullscreen") %>
        </div>
      </div>
    <% end %>

    <div class="dashboard-causes">
      <div class="cause-container">
        <div class="cause-content">
          <div class="cause-info">
            <div class="title-sub">Informations</div>
            <!-- LINKS | SOCIAL NETWORKS -->
            <ul class="network">
              <% if @cause.facebook.present? %>
                <li>
                  <a href="https://facebook.com/<%= @cause.facebook %>" target="_blank">
                    <i class="fa fa-facebook business-icon"></i>
                  </a>
                </li>
              <% end %>
              <% if @cause.twitter.present? %>
                <li>
                  <a href="https://twitter.com/<%= @cause.twitter %>" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
              <% end %>
              <% if @cause.instagram.present? %>
                <li>
                  <a href="https://instagram.com/<%= @cause.instagram %>" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              <% end %>
            </ul>
            <!-- LINKS | WEB -->
            <ul class="direct-contact">
              <% if @cause.telephone.present? %>
                <li>
                  <a href="tel:<%= @cause.telephone %>" target="_blank" >
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span><%= @cause.telephone %></span>
                  </a>
                </li>
              <% end %>
              <% if @cause.email.present? %>
                <li>
                  <a href="mailto:<%= @cause.email %>" target="_blank">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span><%= @cause.email %></span>
                  </a>
                </li>
              <% end %>
              <% if @cause.url.present? %>
                <li>
                  <a href="<%= @cause.url %>" target="_blank">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span><%= @cause.url %></span>
                  </a>
                </li>
              <% end %>
            </ul>
            <!-- INFO | ADRESSE -->
            <div class="place">
              <% if @cause.city.present? %>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span><%= @cause.street %><br><%= @cause.zipcode %> <%= @cause.city %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="asso-bottom-container-v2">
      <div class="dropdown">
        <% if current_user.cause == @cause %>
          <div class="asso-button-v2 dropdown-toggle button-disabled" data-toggle="dropdown">
            <%= image_tag "icons/heart.svg", class: "red-heart"%>
            <div class="asso-button-text">Je soutiens cette association</div>
          </div>
        <% else %>
          <div class="asso-button-v2 dropdown-toggle" data-toggle="dropdown">
            <%= image_tag "icons/heart.svg", class: "red-heart"%>
            <div class="asso-button-text">Soutenir cette association</div>
          </div>
        <% end %>
        <ul class="dropdown-menu">
          <div class="drop-display-flex">
            <div class="cool-things">VOUS ALLEZ FAIRE QUELQUE CHOSE DE CHOUETTE !</div>
            <div class="cool-things-small">En validant votre choix, vous allez soutenir ENTR-AUTRES</div>
            <%= simple_form_for(current_user, url: member_update_cause_path, remote: true, method: :put) do |f| %>
              <%= f.input :cause_id, as: :hidden, input_html: {value: params[:id]}%>
              <div id="submit">
                <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                <%= f.submit "Je valide", class: "validate-choice-button" %>
                <span class="spinner">
                  <svg width="44" height="44">
                    <circle r="20" cx="22" cy="22" />
                  </svg>
                </span>
              </div>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>


<%# if user_signed_in? %>

  <% content_for :after_js do %>
    <script>
      $(document).ready(function() {

        var $button = $('#submit');

        $button.on('click', function(e) {
          e.preventDefault();
          $button.val('');
          setTimeout(function(){
             $button.addClass('clicked');
          }, 300);

          $button.one('animationend webkitAnimationEnd MSAnimationEnd oAnimationEnd', function(){
                // Do something once!
                // $(this).remove('clicked');
                $(this).addClass('submited');
          });
        });

        // $reset.on('click', function(e) {
        //   e.preventDefault();
        //   $button.removeClass('clicked');
        //   $button.removeClass('submited');
        //   $button.off('animationend webkitAnimationEnd MSAnimationEnd oAnimationEnd');
        // });


        $(".validate-choice-button").on("click", function() {
          // EVENT AMPLITUDE : USER_C_CAUSE_SUPPORT
          amplitude.logEvent('USER_C_CAUSE_SUPPORT');
        });
      });
    </script>
  <% end %>

<%# end %>
