<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Consultez vos Bons Plans
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "pro/dashboard/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <div class="admin-perks">
      <% @perks.reverse.each do |perk| %>
        <div class="admin-perk-card">
          <!-- PERK ACTIVATION -->
          <div class="perk-activation">
            <input class="tgl tgl-light" id="<%= perk.id %>" type="checkbox" <%= 'checked="checked"' if perk.active %>>
            <label class="tgl-btn" for="<%= perk.id %>"></label>
            <%= simple_form_for :perk, url: pro_business_perk_path(current_business, perk.id), method: :patch, html: { id: "update_perk_#{perk.id}" } do |f| %>
              <%= f.input :active, as: :hidden, input_html: { value: !perk.active } %>
              <%= f.submit "", :style => "display: none;" %>
            <% end %>
          </div>
          <!-- PERK MAIN INFOS -->
          <div class="perk-details">
            <div class="perk-title">
              <%= perk.perk.upcase %>
              <% if !perk.permanent %>
                <i class="fa fa-bolt pro-card-perk-flash"></i>
              <% end %>
              <span class="perk-code"><%= perk.perk_code %></span>
            </div>
            <div class="perk-content">
              <%= perk.description %>
              <div class="perk-date">
                <% if perk.permanent %>
                  <span>Bon Plan permanent</span>
                <% else %>
                  <% if perk.times != nil %>
                    <span><i class="fa fa-barcode"></i><%= perk.times - Use.where(perk_id: perk.id).count  %> restants</span>
                  <% end %>
                  <span><i class="fa fa-calendar-check-o"></i> du <%= perk.start_date.strftime("%d %b") if perk.start_date != nil %> au <%= perk.end_date.strftime("%d %b %Y") if perk.end_date != nil %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="perk-status">
            <%= link_to edit_pro_perk_path(perk) do %>
              Mettre à jour
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $(':checkbox').change(function() {
        var updatePerk = "update_perk_" + ($(this).val("form").attr('id'))
        $('#' + updatePerk).submit();
      });
    });
  </script>
<% end %>

