<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Créez un nouveau Bon Plan
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "pro/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <%= render 'form_perk' %>
  </div>
</div>