<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Créez un nouveau Bon Plan
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "pro/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <div class="form-perk-container">
      <div class="form-perk">
        <%= render 'pro/perks/form/create' %>
      </div>
    </div>
  </div>
</div>
