<!-- FORM SUBSCRIPTION -->
<div class="form-edit-container">
  <div class="form-edit">
    <div class="dashboard-title">Choisissez votre abonnement</div>
    <%= simple_form_for(current_user, url: user_update_profile_path, remote: true, authenticity_token: true, html: { method: :put, id: :form_update_subscription }) do |f| %>
      <%= f.error_notification %>
      <% if current_user.trial_done %>
        <%= f.input :subscription, label: false, as: :radio_buttons, collection:
        [["5 € par mois", "M" ], ["50 € pour un an", "A" ]], checked: current_user.subscription %>
      <% else %>
        <%= f.input :subscription, label: false, as: :radio_buttons, collection:
        [["5 € par mois", "M" ], ["50 € pour un an", "A" ], ["1 mois gratuit pour découvrir CFORGOOD !", "T"]], checked: current_user.subscription %>
      <% end %>
      <div>
        <%= f.button :submit, "Souscrivez", class: "btn btn-turquoise" %>
      </div>
    <% end %>
  </div>
</div>
