<!-- FORM SELECT CAUSE -->
<div class="col-xs-12 col-sm-6 col-sm-offset-3 form-card form-select-cause">
  <div class="cause-selection">Choississez votre cause</div>
  <% Cause.all.sample(3).each do |cause| %>
    <%= link_to update_cause_path(cause_id: cause.id), method: :put, remote: true do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="row relative cause-card" >
          <div class="bg-cause-card" style="background-image: url(<%= cause.picture.url(:medium) %>)">
            <div class="cause-popover" id="<%= cause.id %>", data-content="<%= cause.description %>" data-placement="bottom" data-original-title="<%= cause.name %>" data-trigger="hover">
              <div class="row" id="cause-category">
                <p><%= cause.cause_category.name %></p>
              </div>
              <div class="row" id="cause-info">
                <div class="col-xs-12" id="cause-name">
                  <h1><%= cause.name.upcase %></h1>
                </div>
              </div>
              <div class="row" id="cause-impact">
                <p><%= cause.impact.upcase %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="form-list-causes">
    <%= simple_form_for :cause_id, url: update_cause_path, html: { id: :update_cause_id, method: :put, remote: true } do |f| %>
      <%= f.input :cause_id, id: "id", collection: Cause.all, label: false, prompt: ("Ou sélectionnez parmi les autres associations"), selected: current_user.cause_id %>
       <%= f.submit "", :style => "display: none;" %>
    <% end %>
  </div>
  <p>Sans choix de votre part, votre abonnement sera reversé à CforGood !</p>
</div>

<% content_for :after_js do %>

  <script>
    $(document).ready(function() {
      $(".bg-cause-card").bind('ajax:complete', function() {
      });

      $("#update_cause_id").change(function() {
        $("#update_cause_id").submit();
      });

      $(".cause-popover").popover({
        html: true,
        container: "body",
        trigger: "hover"
      });
    });
  </script>

<% end %>
