<div class="form-edit-container">
  <div class="form-edit">
    <%= simple_form_for(resource, as: resource_name, url: user_update_path(resource_name), remote: true, authenticity_token: true) do |f| %>
      <%= f.error_notification %>
      <%#= devise_error_messages! %>
      <%= f.input :last_name, placeholder: 'Nom', required: true, autofocus: true, label: false %>
      <%= f.input :first_name, placeholder: 'Prénom', required: true, label: false %>
      <%= f.input :email, placeholder: 'Adresse email', required: true, label: false %>
      <%= image_tag current_user.picture.url(:thumb) %>
      <%= f.input :picture, as: :file, hint: 'Votre photo', required: true, label: false %>
      <%= f.button :submit, "Enregistrer" %>
    <% end %>
  </div>
  <div>
    <%= link_to t(".change_your_password", :default => "Changez votre mot de passe ?"), new_user_password_path(resource_name), class: "new-password" %>
  </div>
</div>
