<nav id="navbar" class="nav" role="navigation">

  <a href="#" class="menu-toggle">
    <div id="menu-burger">
      <div class="burger"></div>
      <span></span>
    </div>
  </a>

  <!-- Mobile -->
    <a class="logo" href="/">
      <%= image_tag "logo-white.png" %>
    </a>

  <!-- Desktop -->
  <div class="link-container">
    <ul class="">
      <% if user_signed_in? %>
        <li>
          <%= link_to about_path do %>
          <i class="fa fa-dot-circle-o"></i> <%= t(".how_it_works", default: "A Propos") %>
          <% end %>
        </li>
        <li>
          <%= link_to causes_path do %>
            <i class="fa fa-heart"></i> <%= t(".causes", default: "Causes") %>
          <% end %>
        </li>
        <li>
          <%= link_to businesses_path do %>
            <i class="fa fa-tag"></i> <%=t(".bons_plans", default: "Bons Plans", class: "visible-xs") %>
          <% end %>
        </li>
        <li class="visible-xs">
          <%= link_to member_card_path do %>
            <i class="fa fa-ticket"></i> <%=t(".member_card", default: "Ma Carte", class: "visible-xs") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span class="user-name"><%= current_user.first_name%> <%= current_user.last_name.chars.first + "." %></span>
            <%= image_tag avatar_url(current_user), class: "img-circle" %>
            <%= t ".profil", default: "" %>
            <span class="user-profil">Voir mon profil</span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-times"></i>  <%= t ".se_déconnecter", default: "" %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to t(".how_it_works", default: "La Révolution Positive"), about_path %>
        </li>
        <li>
          <%= link_to t(".causes", default: "Causes"), causes_path %>
        </li>
        <li>
          <%= link_to t(".bons_plans", default: "Bons Plans"), businesses_path %>
        </li>
        <li>
          <%= link_to t(".connexion", default: "Connexion"), new_user_session_path %>
        </li>
        <li>
          <%= link_to t(".inscription", default: "Inscription"), new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="overlay"></div>
