<nav id="navbar" class="nav" role="navigation">
  <!-- ICON RESPONSIVE MENU -->
  <a href="#" class="menu-toggle">
    <div id="menu-icon">
      <span id="icon-line"></span>
      <span id="icon-line"></span>
      <span id="icon-line"></span>
      <span id="icon-line"></span>
    </div>
  </a>
  <!-- BRAND LOGO -->
  <% if user_space? %>
    <%= link_to(image_tag("logo-white.png"), root_path, class: "logo") %>
  <% else %>
    <%= link_to(image_tag("logo-white.png"), landing_business_path, class: "logo") %>
  <% end %>
  <!-- MENU ITEMS -->
  <div class="link-container">
    <!-- PRO SIGN IN -->
    <% if business_signed_in? && pro_space? %>
      <div class="visible-xs menu-user-info">
        <%= image_tag avatar_url(current_business), class: "user-pic" %>
        <span class="user-name">
          Bienvenue,<br> <%= current_business.name %>
        </span>
      </div>
      <ul>
        <li class="visible-xs">
        <%= link_to landing_business_path do %>
          <i class="fa fa-home"></i> <%= t(".how_it_works", default: "Accueil") %>
        <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
          <i class="fa fa-dot-circle-o"></i> <%= t(".how_it_works", default: "Aide et conseils") %>
          <% end %>
        </li>
        <li class="hidden-xs">
          <%= link_to pro_business_metrics_path(current_business) do %>
            <span class="user-name"><%= current_business.name %></span>
            <%= image_tag avatar_url(current_business), class: "img-circle" %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-times"></i>  <%= t ".se_déconnecter", default: "Se déconnecter" %>
          <% end %>
        </li>
      </ul>
    <!-- USER SIGN IN -->
    <% else %>
      <% if user_signed_in? && user_space? %>
        <div class="visible-xs menu-user-info">
          <%= image_tag avatar_url(current_user), class: "user-pic" %>
          <span class="user-name">
            Bienvenue,<br> <%= current_user.first_name %> <%= current_user.last_name.chars.first + "." %>
          </span>
        </div>
        <ul>
          <li class="visible-xs">
          <%= link_to root_path do %>
            <i class="fa fa-home"></i> <%= t(".how_it_works", default: "Accueil") %>
          <% end %>
          </li>
          <li>
            <%= link_to about_path do %>
            <i class="fa fa-dot-circle-o"></i> <%= t(".how_it_works", default: "A Propos") %>
            <% end %>
          </li>
          <li class="hidden-xs">
            <%= link_to dashboard_path do %>
              <span class="user-name"><%= current_user.first_name %> <%= current_user.last_name.chars.first + "." %></span>
              <%= image_tag avatar_url(current_user), class: "img-circle" %>
            <% end %>
          </li>
          <li class="visible-xs">
            <%= link_to dashboard_path do %>
              <i class="fa fa-user"></i> <%= t ".profil", default: "Voir mon profil" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-times"></i>  <%= t ".se_déconnecter", default: "Se déconnecter" %>
            <% end %>
          </li>
        </ul>
      <!-- USER SIGN OUT -->
      <% else %>
        <ul>
          <% if user_space? %>
            <li>
              <%= link_to t(".inscription", default: "Inscription"), signup_path %>
            </li>
            <li>
              <%= link_to t(".connexion", default: "Connexion"), signin_path %>
            </li>
            <li>
              <%= link_to t(".espace_pro", default: "Espace Pro"), landing_business_path %>
            </li>
          <% else %>
            <li>
              <%= link_to t(".inscription", default: "Inscription"), new_business_registration_path %>
            </li>
            <li>
              <%= link_to t(".connexion", default: "Connexion"), new_business_session_path %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</nav>
