<div id="map"> </div>

<% content_for :after_js do %>

<script>

  var bounds = <%= @bounds %>;
  var popups = <%= raw(@popups) %>;

  var map = new L.Map('map', {
    center: new L.LatLng("<%= current_user.latitude %>", "<%= current_user.longitude %>"),
    zoom: 14});


  L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
  // L.tileLayer('http://{s}.tile.openstreetmap.fr/openriverboatmap/{z}/{x}/{y}.png', {
          attribution: 'Map Data &copy; <a href="http://openstreetmap.org">OSM</a>',
          maxZoom: 20
      }).addTo(map);

  // var googleLayer = new L.Google('ROADMAP');
  // map.addLayer(googleLayer);

  // var myIcon = L.icon({
  //   iconUrl: "<%#= BusinessCategory.find(103).marker.url %>",
  //   iconRetinaUrl: "<%#= BusinessCategory.find(103).marker.url %>",
  // //   // shadowUrl: 'leaf-shadow.png',

  // //   iconSize:     [60, 63] // size of the icon
  // //   // shadowSize:   [50, 64], // size of the shadow
  // //   // iconAnchor:   [22, 94] // point of the icon which will correspond to marker's location
  // //   // shadowAnchor: [4, 62],  // the same for the shadow
  // //   // popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
  // });

  var myIcon = L.icon({
    iconUrl: "<%= BusinessCategory.find(@bounds[1][3]).marker.url %>",
    iconRetinaUrl: "<%= BusinessCategory.find(@bounds[1][3]).marker.url %>",
    iconSize:     [60, 63] // size of the icon
  });

  for (index = 0; index < bounds.length; ++index) {
    // var marker = L.marker(new L.LatLng(bounds[index][1], bounds[index][2]));
    var marker = L.marker(new L.LatLng(bounds[index][1], bounds[index][2]), {icon: myIcon});
    marker.addTo(map).bindPopup(popups[index]);
  }


  ////

  // var mapOptions = {
  //   // How zoomed in you want the map to start at (always required)
  //   zoom: 11,

  //   // The latitude and longitude to center the map (always required)
  //   center: new google.maps.LatLng("<%= current_user.latitude %>", "<%= current_user.longitude %>"),

  //   // How you would like to style the map.
  //   // This is where you would paste any style found on Snazzy Maps.
  //   styles: [{"featureType":"landscape","stylers":[{"hue":"#FFA800"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#53FF00"},{"saturation":-73},{"lightness":40},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FBFF00"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#00FFFD"},{"saturation":0},{"lightness":30},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#00BFFF"},{"saturation":6},{"lightness":8},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#679714"},{"saturation":33.4},{"lightness":-25.4},{"gamma":1}]}]
  // };

  // // Get the HTML DOM element that will contain your map
  // // We are using a div with id="map" seen below in the <body>
  // var mapElement = document.getElementById('map');

  // // Create the Google Map using our element and options defined above
  // var map = new google.maps.Map(mapElement, mapOptions);

  // // Let's also add a marker while we're at it
  // var myIcon = "<%= BusinessCategory.find(105).marker.url %>" ;
  // var marker = new google.maps.Marker({
  //     position: new google.maps.LatLng("<%= Business.find(53).latitude %>", "<%= Business.find(53).longitude %>"),
  //     map: map,
  //     icon: myIcon
  // });



  </script>

<% end %>

