<%= content_for(:title) do %>
  Mon compte
<% end %>
<%= content_for(:description) do %>
  Mon espace personnel
<% end %>

<div class="container-fluid admin">
  <!-- SIDEBAR -->
  <%= render "member/dashboard/shared/sidebar" %>

  <!-- DASHBOARD CONTAINER -->
  <div class="dashboard">
    <div class="mobile-menu-overlay hidden"></div>

    <div class="tab-container">
      <!-- Nav tabs -->
      <ul id="menu" class="nav nav-tabs">
        <li role="profile" class="active">
          <%= link_to "#dashboard", role: "tab", data_toggle: "tab" do %>
            <span>Dashboard</span>
          <% end %>
        </li>
        <li role="profile">
          <%= link_to "#employees", role: "tab", data_toggle: "tab" do %>
            <span>Employés</span>
          <% end %>
        </li>
        <li role="profile">
          <%= link_to "#my_account", role: "tab", data_toggle: "tab" do %>
            <span>Mon compte</span>
          <% end %>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="dashboard">
          <div class="account_container">
            <div class="flex-container">
              <span class="account-title">Résumé de l'activité de vos employés</span>
              <li class="account-li">Nombre de bon plan utilisés : <span class="number"><%= @used_perks.count %></span></li>
              <li class="account-li">Nombre d'employés : <span class="number"><%= @user.users.size %></span></li>
              <li class="account-li">Nombre de like : <span class="number"><%= @liked_perks.count %></span></li>
              <li class="account-li">Montant total : <span class="number"><%= @user.sum_payments %></span></li>
            </div>
            <% unless @user.users.empty? %>
              <div class="pie_chart text-center">
                <div class="pie-container">
                  <p><u>Répartition par association</u></p>
                  <div class="pieID pie"></div>
                  <ul class="pieID legend">
                    <% @data_for_chart.each do |cause, uses_count| %>
                      <li>
                        <em><%= cause %></em>
                        <span><%= uses_count %></span>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="employees">
          <div>
            <%= link_to "Créer un employé", new_member_user_path, class: "btn btn-primary" %>
          </div>
          <br>
          <p>Liste des employés</p>

          <div id="users">
            <input class="search" placeholder="Rechercher" />
            <ul class="list list-group list-users">
              <% @employes_sorted_by_uses.each do |employee| %>
                <li class="list-group-item">
                  <div class="employee-display">
                    <div class="employee-left">
                      <span class="first_name"><%= employee[:first_name] %></span>
                      <span class="last_name"><%= employee[:last_name] %></span>
                      - cause: <%= employee[:cause] %>
                    </div>
                    <div class="employee-right">
                      <ul class="data">
                        <li>
                          <i class="fa fa-tag"></i>
                          <span class="number"><%= employee[:likes_count] %></span>
                        </li>
                        <li>
                          <i class="fa fa-eye"></i>
                          <span class="number"><%= employee[:uses_count] %></span>
                        </li>
                      </ul>
                      <%= link_to "Détacher l'employé", member_user_path(employee[:id]), method: :patch, class: "btn btn-primary" %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="my_account">
          <%= simple_form_for(current_user, url: member_update_profile_path, method: :put) do |f| %>
            <%= f.input :email %>
            <%= f.input :telephone %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :street %>
            <%= f.input :zipcode %>
            <%= f.input :city %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $("#menu a").click(function (e) {
        e.preventDefault();
        $(".alert").remove();
        $(this).tab('show');
      });

      // List JS for users list
      var options = {
        valueNames: [ 'first_name', 'last_name' ]
      };
      var userList = new List('users', options);
    });

    // store the currently selected tab in the hash value
    $("#menu a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      // window.location.hash = id;
      localStorage.setItem("id", id)
    });

    // on load of the page: switch to the currently selected tab
    if (localStorage) {
      var hash = localStorage.getItem("id");
      $('#menu a[href="' + '#' + hash + '"]').tab('show');
    }
  </script>
<% end %>
