<%= content_for(:title) do %>
  Mon compte
<% end %>
<%= content_for(:description) do %>
  Mon espace personnel
<% end %>

<div class="container-fluid admin">
  <!-- SIDEBAR -->
  <%= render "member/dashboard/shared/sidebar" %>

  <!-- DASHBOARD CONTAINER -->
  <div class="dashboard">
    <div class="mobile-menu-overlay hidden"></div>

    <div class="tab-container">
      <!-- Nav tabs -->
      <ul id="menu" class="nav nav-tabs">
        <li role="profile" class="active">
          <%= link_to "#dashboard", role: "tab", data_toggle: "tab" do %>
            <span>Dashboard</span>
          <% end %>
        </li>
        <li role="profile">
          <%= link_to "#employees", role: "tab", data_toggle: "tab" do %>
            <span>Employés</span>
          <% end %>
        </li>
        <li role="profile">
          <%= link_to "#my_account", role: "tab", data_toggle: "tab" do %>
            <span>Mon compte</span>
          <% end %>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="dashboard">
          <p>Nombre de bon plan utilisés : <%= @used_perks.count %></p>
          <p>Nombre d'employés : <%= @user.users.size %></p>
          <p>Nombre de like : <%= @liked_perks.count %></p>
          <p>Montant total : <%= @user.sum_payments %></p>
        </div>
        <div role="tabpanel" class="tab-pane" id="employees">
          <div>
            <%= link_to "Créer un employé", new_member_user_path, class: "btn business-button" %>
          </div>
          <br>
          <p>Liste des employés</p>

          <ul>
            <% @employes_sorted_by_uses.each do |employee| %>
              <li><%= employee[:email] %> - cause: <%= employee[:cause] %> - likes: <%= employee[:likes_count] -%>/ bon plans: <%= employee[:uses_count] %>  - <%= link_to "Détacher l'employé", member_user_path(employee[:id]), method: :patch -%></li>
            <% end %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane active" id="my_account">
          <%= simple_form_for(current_user, url: member_update_profile_path, method: :put) do |f| %>
            <%= f.input :email %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :street %>
            <%= f.input :zipcode %>
            <%= f.input :city %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $("#menu a").click(function (e) {
        e.preventDefault();
        $(".alert").remove();
        $(this).tab('show');
      });
    });

    // store the currently selected tab in the hash value
    $("#menu a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      // window.location.hash = id;
      localStorage.setItem("id", id)
    });

    // on load of the page: switch to the currently selected tab
    if (localStorage) {
      var hash = localStorage.getItem("id");
      $('#menu a[href="' + '#' + hash + '"]').tab('show');
    }
  </script>
<% end %>
