<%= content_for(:title) do %>
  Profil
<% end %>
<%= content_for(:description) do %>
  Vos informations personnelles
<% end %>


<%= render "member/dashboard/shared/sidebar" %>


<div class="dashboard-fullpage">


  <div class="dash-fullpage-header">
    <div class="dash-header-avatar-container">
      <div class="header-avatar"></div>
    </div>
  </div>

  <div class="dash-fullpage-bottom-container">

    <div class="dash-fullpage-user-name">
      <div class="user-name">Cédric M.</div>
      <div class="user-name-tooltip">ABONNE DEPUIS LE 1er NOVEMBRE 2015</div>
    </div>

    <div class="tabs-dashboard">


      <ul class="nav nav-tabs" role="tablist" id="menu">

        <li role="presentation" class="active">
          <%= link_to "#monprofil", role: "tab", data_toggle: "tab" do %>
            MON PROFIL
          <% end %>
        </li>
        <li role="profile">
          <%= link_to "#monabonnement", role: "tab", data_toggle: "tab" do %>
            MON ABONNEMENT
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to "#monasso", role: "tab", data_toggle: "tab" do %>
            MON ASSOCIATION
          <% end %>
        </li>

      </ul>

      <div class="tab-content tabs-container-dash">
        <div role="tabpanel" class="tab-pane active" id="monprofil">
          <%= render "member/dashboard/shared/form_user" %>
        </div>
        <div role="tabpanel" class="tab-pane tab-profile tab-payment" id="monabonnement">
          <%= render "member/dashboard/shared/form_subscription" %>
        </div>
        <div role="tabpanel" class="tab-pane" id="monasso">
          <%= render "member/dashboard/shared/form_cause" %>
        </div>
      </div>


    </div>

  </div>



</div>





<% content_for :after_js do %>

  <script>

    $(document).ready(function() {

      function eventAmplitude() {
        if ($('#menu li.active a').attr('href') == '#monprofil') {
          // EVENT AMPLITUDE USER_PROFILE_MYINFO
          amplitude.logEvent('USER_PROFILE_MYINFO');
        } else if ($('#menu li.active a').attr('href') == '#monasso') {
          // EVENT AMPLITUDE USER_PROFILE_MYCAUSE
          amplitude.logEvent('USER_PROFILE_MYCAUSE');
        } else if ($('#menu li.active a').attr('href') == '#monabonnement') {
          // EVENT AMPLITUDE USER_PROFILE_MYSUBSCRIPTION
          amplitude.logEvent('USER_PROFILE_MYSUBSCRIPTION');
        }
      }

      $("#menu a").click(function (e) {
        e.preventDefault();
        $(".alert").remove();
        $(this).tab('show');
        $("#menu a.show-payment").addClass('hidden');
        // $("#menu a.show-payment").tab('hide');
        eventAmplitude();
      });

      // store the currently selected tab in the hash value
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      // on load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      if (hash != "#payment") {
        $('#menu a[href="' + hash + '"]').tab('show');
      }

      // EVENT AMPLITUDE USER_PROFILE
      amplitude.logEvent('USER_PROFILE');

      eventAmplitude();

    });

  </script>

<% end %>




