<%= content_for(:title) do %>
  A Propos
<% end %>
<%= content_for(:description) do %>
  En apprendre un peu plus sur nous
<% end %>

<div class="container-fluid">
  <div class="container-fluid" id="header-cforgood-legal">
    <div class="row">
      <div class="page-title" id="page-title-legal">
        <h1>A PROPOS</h1>
        <h3>En apprendre un peu plus sur nous</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-legal">
    <div id="whitebox-legal"></div>
    <div class="row">
      <!-- Sub Menu NavBar  -->
      <%= render "pages/shared/tabs_footer_cforgood" %>
      <!-- Content -->
      <div class="col-xs-12 col-sm-6">
        <div class="mb-60">
          <h3 class="section-title text-center">NOTRE VISION</h3>
          <h3 class="section-subtitle text-center">Tout Le Monde Peut Avoir Un Impact</h3>
          <p>
            Pour des raisons évidentes, nous sommes de plus en plus nombreux à prendre conscience de l'impact de nos modes de vie sur l'état de la planète, notre santé ou encore l'économie de nos villes.<br>
            Mais face à l'urgence du quotidien et la faible visibilité des solutions qui s'offrent à nous, nous manquons aujourd'hui, davantage d’outils pour agir, que d’infos pour convaincre.<br>
            Le besoin de créer des moyens inclusifs pour faciliter le passage à l'action et faire participer le plus grand nombre se fait de plus en plus pressant. Car nous sommes convaincu d'une chose : <br>Nous pouvons tous changer les choses à notre échelle.<br><br>
            Et c'est là que CforGood intervient.
          </p>
        </div>
        <div class="mb-60">
          <h3 class="section-title text-center">NOTRE MISSION</h3>
          <h3 class="section-subtitle text-center">Faire De Chaque Citoyen Un Acteur Du Changement</h3>
          <p>
            Chez CforGood, on cherche à émanciper l’acteur du changement qui est en chacun de nous, en lui permettant le plus simplement possible d'avoir un impact au quotidien. <br><br>
            Comment ? En créant une Consommation Positive & Solidaire.
            CforGood rend cela possible en mettant subtilement en coopération les associations défendant des causes locales et globales avec les commerces locaux offrant des bons plans pour récompenser les citoyens engagés.<br>
            En créant cet éco-système positif, nos membres CforGood peuvent consommer plus local et apprécier les meilleurs spots de leur ville tout en soutenant la cause qui leur tient à coeur.<br><br>
            Nous pensons réellement qu’en cumulant le soutien aux associations et des bons plans exclusifs chez les acteurs d'une économie plus responsable, agir positivement peut devenir bien plus qu’une simple résolution du nouvel an, mais un véritable style de vie basé sur la coopération et la solidarité. <br><br>
            Une solution pour cette génération en quête de sens et un exemple inspirant pour celles d’après.<br><br>
            Ensemble nous sommes une Révolution Positive. Ensemble, nous pouvons être le changement. <br>Le changement commence Ici et Maintenant<!-- <%= link_to "ici et maintenant", new_user_registration_path %> -->.
          </p>
        </div>
        <div class="mb-60">
          <h3 class="section-title text-center">COMMENT CA MARCHE ?</h3>
          <div class="embed-container" id="video-about">
            <iframe class="border-video" width="500" height="285" src="https://www.youtube.com/embed/4tYrdTm6lwQ?controls=0&rel=0&showinfo=0" frameborder="0"></iframe>
          </div>
          <h3 class="section-subtitle text-center pt-30">Rien De Plus Simple...</h3>
          <p><strong>DONNEZ...</strong> 5€/mois à l'association de votre choix et ayez un impact.<br>
            <strong>RECEVEZ...</strong> Un accès immédiat à de nombreux bons plans offerts par les<br>commerces locaux et responsables* de votre ville pour vous récompenser de votre action.<br><br>
            Alors n'hésitez plus, créez votre compte, choisissez la cause qui vous tient à coeur (vous pouvez changer tous les mois si vous le souhaitez) et accédez à tous les bons plans listés sur CforGood, à utiliser autant que vous le souhaitez, simplement en montrant votre carte de membre via votre téléphone <!-- (Pour voir comment accéder à votre carte de membre, cliquez ici)-->. <br><br>
            Chaque bon plan est différent, d'un restaurant à un salon de bien être en passant par une boutique de vêtement, vérifiez donc bien les "Détails du Bon Plan" sur chaque page<br><br>
            C’est déductible des impôts, ça fait du bien et vous êtes récompensés pour cela… <br>Vous n’aurez jamais d’aussi bonnes raisons de passer à l’action !<br><br>
            <strong>Alors rejoignez nous, incarnez le changement et profitez des avantages offerts aux citoyens responsables !</strong><br><br>
            * Commerces répondant à au moins un critère d’engagement de la <strong class="w-400"><%= link_to "charte CforGood", notre_charte_path %></strong>.
          </p>
        </div>
        <div class="mt-70"></div>
        <div id="write-us-about">
          <h3 class="black section-title text-center">D'autres Questions ? Ecrivez-Nous !</h3>
          <div class="text-center" id="btn-write-us">
            <%= link_to "Nous Ecrire", new_contact_form_path, class: "btn btn-turquoise" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
