<%= content_for(:title) do %>
  business
<% end %>

<div id="business-page" class="text-center">
  <div class="container-fluid cforgood-background">
    <div class="row">
      <div class="page-title">
        <h1>CFORGOOD ENTREPRISE</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center bg-white">
    <div class="container mt-100 mb-70">
      <div class="col-xs-10 col-xs-offset-1 mb-70">
        <h2 class="mt-0 mb-0">Une consommation responsable désirée...</h2>
        <h2 class="mt-0 mb-0 pl-200">Mais toujours difficile à atteindre</h2>
      </div>
      <div class="col-xs-10 col-xs-offset-1 mb-30">
        <div class="col-xs-12 col-sm-3 circle blue-circle mr-210">
          <h1 class="text-center pt-40">78%</h1>
        </div>
        <div class="col-xs-12 col-sm-3 circle turquoise-circle mr-210">
          <h1 class="text-center pt-40">57%</h1>
        </div>
        <div class="col-xs-12 col-sm-3 circle green-circle">
          <h1 class="text-center pt-40">82%</h1>
        </div>
      </div>
      <div class="col-xs-12 mb-50">
        <div class="col-xs-12 col-sm-4">
          <p>Nous sommes dans un monde en profonde mutation : fin du modèle industriel, entrée dans l’ère numérique, multiplication des crises financières.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>Nous sommes dans un monde en profonde mutation : fin du modèle industriel, entrée dans l’ère numérique, multiplication des crises financières.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>Nous sommes dans un monde en profonde mutation : fin du modèle industriel, entrée dans l’ère numérique, multiplication des crises financières.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pb-50 pt-50 bg-turquoise" id="business-solution">
    <div class="col-xs-12 mb-30">
      <h2 class="pb-25">La Solution CforGood</h2>
      <div class="col-xs-10 col-xs-offset-1">
        <p>Nous sommes dans un monde en profonde mutation : fin du modèle industriel, entrée dans l’ère numérique, multiplication des crises financières.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-white pb-50 pt-50" id="business-benefits">
    <div class="col-xs-10 col-xs-offset-1 mb-30">
      <h2 class="pb-25">Les Avantages de CforGood</h2>
      <div id="business-benefit" class="border-top">
        <div class="col-xs-12 col-sm-4 pl-70">
          <div>
            <%=image_tag("bon-plan.png") %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 text-left pr-50">
          <h3>
            VOUS VOUS RAPPELEZ LA DERNIERE FOIS OU 5€ ONT EU AUTANT D'IMPACT ?
          </h3>
          <p>
            CforGood est une communauté de citoyens engagés qui cherchent à mettre en lumière ce qu’il se fait de mieux dans votre ville.
          </p>
        </div>
      </div>
      <div id="business-benefit">
        <div class="col-xs-12 col-sm-8 text-left pr-50">
          <h3>
            VOUS VOUS RAPPELEZ LA DERNIERE FOIS OU 5€ ONT EU AUTANT D'IMPACT ?
          </h3>
          <p>
            CforGood est une communauté de citoyens engagés qui cherchent à mettre en lumière ce qu’il se fait de mieux dans votre ville.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 pl-70">
          <div>
            <%=image_tag("community.png") %>
          </div>
        </div>
      </div>
      <div id="business-benefit">
        <div class="col-xs-12 col-sm-4 pl-70">
          <div>
            <%=image_tag("talk.png") %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 text-left pr-50">
          <h3>
            VOUS VOUS RAPPELEZ LA DERNIERE FOIS OU 5€ ONT EU AUTANT D'IMPACT ?
          </h3>
          <p>
            CforGood est une communauté de citoyens engagés qui cherchent à mettre en lumière ce qu’il se fait de mieux dans votre ville.
          </p>
        </div>
      </div>
      <div id="business-benefit">
        <div class="col-xs-12 col-sm-8 text-left pr-50">
          <h3>
            VOUS VOUS RAPPELEZ LA DERNIERE FOIS OU 5€ ONT EU AUTANT D'IMPACT ?
          </h3>
          <p>
            CforGood est une communauté de citoyens engagés qui cherchent à mettre en lumière ce qu’il se fait de mieux dans votre ville.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 pl-70">
          <div>
            <%=image_tag("community.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
