<%= content_for(:title) do %>
  CforGood - La Révolution Positive
<% end %>

<%= content_for(:description) do %>
  CforGood fait de chaque citoyen un acteur du changement grâce à une plateforme communautaire lui offrant l'accès à des dizaines de bons plans locaux et responsables en échange d'une donation de 5€/mois pour soutenir la cause de son choix.
<% end %>

<div id="banner">
  <div class="gradientbox-cforgood"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="mt-120 text-center img140" id="text-home-banner">
            <%=image_tag("logopouce.png") %>
          </div>
          <div class="text-center">
            <h1>LA CARTE DES CITOYENS ENGAGÉS</h1>
            <p>VOTRE PASSEPORT VERS LA CONSOMMATION DE DEMAIN</p>
          </div>
        </div>

        <!-- Begin MailChimp Signup Form -->
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div id="mc_embed_signup">
          <form action="//cforgood.us9.list-manage.com/subscribe/post?u=a43e05af521d3632c30f4c0c8&amp;id=b7fdec81e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="col-xs-12">
              <input type="email" value="" name="EMAIL" class="br5 col-sm-6" id="mce-EMAIL" placeholder="   Email" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_a43e05af521d3632c30f4c0c8_b7fdec81e2" tabindex="-1" value=""></div>
              <div class="col-xs-4 col-sm-3" id="center-btn-subscribe"><input type="submit" value="S'INSCRIRE" name="subscribe" id="mc-embedded-subscribe" class="btn btn-turquoise"></div>
              </div>
            </form>
          </div>
        </div>

        <a href="#presentation"><i class="fa fa-angle-down pulse scroll-btn relative" id="nomobile"></i></a>
        <!--End mc_embed_signup-->

        <!--<div class="col-xs-12 col-sm-6 col-sm-offset-3 mt-50">
          <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-3" id="btn-home-banner">
            <a href ="#benefits" class="btn btn-white">En savoir Plus</a>
          </div>
          <div class="col-xs-5 col-sm-4 col-sm-offset-0">
            <input type="submit" value="S'inscrire" name="subscribe" class="btn btn-turquoise pr-25 pl-25">
          </div>
        </div>-->
      </div>
    </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div id="presentation">
      <h2 class="text-center black">UNE RÉVOLUTION POSITIVE</h2>
      <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5 border-blue mb-35 mt-15" id="border-blue"></div>
      <div class="row"></div>
      <div class="col-md-4">
        <div class="col-xs-10 col-md-3 embed-container" id="video-mobile">
          <iframe class="border-video" width="500" height="285" src="https://www.youtube.com/embed/4tYrdTm6lwQ?controls=0&rel=0&showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1 text-center" id="text-presentation">
        <h1 class="w-400">
          UNE SIMPLE CARTE QUI CHANGE TOUT.
        </h1>
        <div id="nomobile">
          <p>
            CforGood a pour mission de faire de chaque citoyen un acteur du changement au quotidien, en lui permettant à travers une carte, d'accéder à une consommation locale et responsable et de donner vie à des initiatives qui lui tienne à coeur. <br><br>
            Cette carte de membre vous permet de bénéficier de bons plans locaux et responsables en échange d'un abonnement de 5€/mois, dont la moitié est reversée pour soutenir la cause de votre choix. <br><br>
            <strong class="w-500">C'est une Révolution Positive ! <br> Où chacun fait sa part au quotidien... Sans avoir à prendre les armes !</strong>
          </p>
        </div>
        <div class="mt-30 pb-40" id="btn-presentation">
          <%= link_to "En Savoir Plus", about_path,class: "btn btn-turquoise" %>
        </div>
      </div>
      <div class="clear"></div>
      <div class="border-bottom-lightgrey" id="nomobile"></div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
  <div id="benefits">
    <div class="container">
      <div class="row">
        <h2>COMMENT ÇA MARCHE ?</h2>
        <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5 border-blue mb-50 mt-15" id="border-blue"></div>
          <div class="col-xs-12 text-center" id="home-benefit" >
            <div class="col-xs-12 col-sm-4 pr-5 pl-5" id="item-benefit">
               <div class="col-xs-12" data-sr="enter bottom and scale up 20% over 1s">
                  <div class="col-xs-12">
                    <%=image_tag("IphoneHome.png") %>
                  </div>
               </div>
               <div class="col-xs-12">
                 <h3 class="blue">Découvrez</h3>
                 <p class="m-15">Inscrivez-vous et découvrez les bons plans responsables à l'affiche dans votre ville.</p>
               </div>
              <!-- <div>
                <%= link_to "Découvrez Les Causes", causes_path,class: "btn btn-blue" %>
               </div> -->
            </div>
            <div class="col-xs-12 col-sm-4 pr-5 pl-5" id="item-benefit">
               <div class="col-xs-12" data-sr="enter bottom and scale up 20% over 1s">
                 <%=image_tag("IphoneMap.png") %>
               </div>
               <div class="col-xs-12">
                 <h3 class="turquoise">Localisez</h3>
                 <p class="m-15">Trouvez à tout moment autour de vous les alternatives positives à vos besoins du quotidien.</p>

               </div>
              <!-- <div>
                 <%= link_to "Profitez Des Bons Plans", businesses_path, class: "btn btn-turquoise" %>
               </div> -->
            </div>
            <div class="col-xs-12 col-sm-4 pr-5 pl-5" id="item-benefit">
               <div class="col-xs-12" data-sr="enter bottom and scale up 20% over 1s">
                 <%=image_tag("IphoneCard.png") %>
               </div>
               <div class="col-xs-12">
                 <h3 class="green">Profitez !</h3>
                 <p class="m-15">Bénéficiez de ces réductions exclusives simplement en montrant votre carte de membre !</p>
               </div>
               <!-- <div>
                <%= link_to "Rejoignez Le Mouvement !", new_user_registration_path, class: "btn btn-green" %>
               </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div id="perks">
      <h2>NOS DERNIERS BONS PLANS</h2>
    <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5 border-blue mb-50 mt-15" id="border-blue"></div>
    <div class="row"></div>
    <p class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 text-center">Les commerçants CforGood sont de plus en plus nombreux, très bientôt nous vous les dévoilerons tous !</p>
    <p class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mt-10" id="nomobile">En attendant, découvrez les derniers à nous avoir rejoints :</p>
    <div class="row"></div>
    <div class="container carrousel text-center">
      <% @businesses.each do |business| %>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div id="bg-card-home" style="background-image: url(<%= image_url business.picture %>)">
              <div class="box-shadow pt-15">
                <p><%= business.business_category.name%></p>
                <h3><%= business.name%></h3>
                <i class="fa fa-map-marker"> <strong><%=business.city%></strong></i>
                <h4><%= business.perk.upcase%></h4>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="container-fluid" id="sponsoring">
    <div id="blackbox-beta"></div>
      <h2 class="text-center">REVERSEMENT ASSOCIATIF</h2>
      <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5 border-blue mb-50 mt-15" id="border-blue border-sponsoring"></div>
      <div class="row"></div>
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1" id="home-mycard">
          <%= image_tag("member-card.png") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 pl-55" id="text-sponsoring">
        <div class="col-xs-10 col-xs-offset-1" >
          <h3>SPONSORISEZ UNE ASSOCIATION</h3>
          <p>Grâce à CforGood et à votre carte de membre, découvrez les initiatives de votre ville et devenez ambassadeur de l'une d'entre elle à l'aide du reversement de la moitié de votre abonnement !<br> Donnez les moyens à une association locale de continuer à agir pour avoir un impact positif sur la société.<br><br> <strong>Jamais Vous Ne Vous Sentirez Autant Acteur Du Changement ! </strong></p>
          <!-- <%= link_to "RESERVEZ VOTRE CARTE", new_user_session_path,class: "btn btn-turquoise mt-25" %> -->
          <button type="button" class="btn btn-turquoise mt-3cent mb-7cent" data-toggle="modal" data-target="#myModal">
            RÉSERVEZ VOTRE CARTE
          </button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header gradient-cforgood">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Inscription à la bêta</h4>
                </div>
                <div class="modal-body text-center">
                  <%= render "shared/mailchimp_form" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid bg-grey text-center">
  <div id="cause-category">
    <h2 class="col-md-6 col-md-offset-3">À CHAQUE CAUSE, SES ASSOCIATIONS</h2>
    <!-- <%= link_to "Voir toutes les associations >", causes_path, class: "col-md-3 mt-60 turquoise w-100 pt-4 hidden-xs" %> -->
    <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5 border-blue mb-30 mt-15" id="border-blue"></div>
    <div class="clear"></div>
    <div class="col-sm-10 col-sm-offset-1">
      <p class="mb-40">Découvrez les grandes thématiques pour lesquelles s'engagent nos associations partenaires.</p>
    </div>
    <div class="col-sm-10 col-sm-offset-1" id="cause-list">
      <div class="col-sm-6 col-md-3 mb-30" id="insertion">
        <%= image_tag("insertion-et-precarite.jpg")%>
        <h3>#Insertion / Précarité</h3>
      </div>
      <div class="col-sm-6 col-md-3 mb-30" id="environnement">
        <%= image_tag("environnement.jpg")%>
        <h3>#Environnement</h3>
      </div>
      <div class="col-sm-6 col-md-3 mb-30" id="handicap">
        <%= image_tag("handicap.jpg")%>
        <h3>#Handicap</h3>
      </div>
      <div class="col-sm-6 col-md-3 mb-30" id="insertion">
        <%= image_tag("solidarite-internationale.jpg")%>
        <h3>#Humanitaire</h3>
      </div>
      <div class="col-sm-6 col-md-3 mb-30" id="insertion">
        <%= image_tag("aide-a-l-enfance.jpg")%>
        <h3>#Éducation</h3>
      </div>
      <div class="col-sm-6 col-md-3 mb-30" id="insertion">
        <%= image_tag("sante.jpg")%>
        <h3>#Santé</h3>
      </div>
      <div class="col-sm-6 col-md-3 mb-30 ml-1" id="insertion">
        <%= image_tag("entrepreneuriat.jpg")%>
        <h3>#Entrepreneuriat Social</h3>
      </div>
      <div class="col-sm-6 col-md-3 mb-30 ml--1" id="insertion">
        <%= image_tag("culturel.jpg")%>
        <h3>#Culturel</h3>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-center">
  <div id="eco-systeme">
    <h2>UN ECO-SYSTÈME LOCAL POSITIF</h2>
    <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5 border-blue mb-30 mt-15" id="border-blue"></div>
    <div class="clear"></div>
    <div class="col-sm-10 col-sm-offset-1">
      <p class="mb-40">CforGood rassemble les acteurs positifs de votre ville et les mets en coopération pour que chacun d'entre eux rayonne davantage. Ainsi vous pouvez découvrir ce qu'il se fait de mieux autour de vous et participer avec CforGood à redessiner le monde de demain, car tout cela ne dépend que de nous.</p>
    </div>
    <!-- <div class="col-sm-10 col-sm-offset-1 mb-40" id="eco-systeme-list">
      <div class="col-sm-4 mb-20" id="entreprise">
        <%= image_tag("entreprise.jpg")%>
        <h3>Entreprise</h3>
        <p>“C’est top ! Etant donné notre budget d’étudiant, OptiMiam me permet d’aller manger dans plusieurs points de ventes aux alentours avec des réductions vraiment avantageuses.” <br>
          <span class="italique">Chris - Label Terre</p>
        <%= link_to t(".top_call_to_action", default: "DEVENIR PARTENAIRE"), info_business_path, class: "btn btn-blue mt-20" %>
      </div>
      <div class="col-sm-4 mb-20" id="citoyen">
        <%= image_tag("citoyen.jpg")%>
        <h3>Citoyen</h3>
        <p>“C’est top ! Etant donné notre budget d’étudiant, OptiMiam me permet d’aller manger dans plusieurs points de ventes aux alentours avec des réductions vraiment avantageuses.” <br>
          <span class="italique">Allan - Opticien</p>
        <%= link_to t(".top_call_to_action", default: "DEVENIR MEMBRE"), new_user_registration_path, class: "btn btn-turquoise mt-20" %>
      </div>
      <div class="col-sm-4 mb-20" id="association">
        <%= image_tag("citoyen.jpg")%>
        <h3>Association</h3>
        <p>“C’est top ! Etant donné notre budget d’étudiant, OptiMiam me permet d’aller manger dans plusieurs points de ventes aux alentours avec des réductions vraiment avantageuses.” <br>
          <span class="italique">Intissar - MakeSense</p>
        <%= link_to t(".top_call_to_action", default: "DEVENIR PARTENAIRE"), info_cause_path, class: "btn btn-green mt-20" %>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 mb-50">
      <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-2 text-center" id="partner-business">
        <h4>VOUS ÊTES UNE ENTREPRISE ?</h4>
        <p><strong>CforGood</strong> permet de développer gratuitement l'activité et la visibilité des commerces locaux, tout en envoyant un message fort en faveur de l'engagement citoyen !</p>
        <%= link_to t(".top_call_to_action", default: "INSPIREZ VOS CLIENTS"), info_business_path, class: "btn btn-blue" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 mb-50">
      <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-1 text-center mb-20" id="partner-association">
        <h4>VOUS ÊTES UNE ASSOCIATION ?</h4>
        <p><strong>CforGood</strong> développe l'engagement des citoyens en facilitant la communication, la mobilisation et la récolte de fonds pour les causes partenaires.</p>
        <%= link_to t(".top_call_to_action", default: "DÉVELOPPEZ VOTRE IMPACT"), info_cause_path, class: "btn btn-green" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div id="ambassador">
    <div id="blackbox-ambassador"></div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
        <h2>PARTICIPEZ AU DÉVELOPPEMENT DE CFORGOOD</h2>
      </div>
      <div class="col-xs-8 col-offset-xs-2 col-sm-2 col-sm-offset-5 border-blue mb-50 mt-15" id="border-blue"></div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <p class="text-center">Faites partie des personnes qui nous aident à construire la communauté et vivez avec nous cette aventure incroyable ! Vous pouvez devenir soit : </p>
        <p class="text-left pt-20"><strong>Ambassadeur :</strong> Les Ambassadeurs CforGood sont nos soutiens les plus précieux ! Aidez-nous à développer la communauté CforGood en passant le message autour de vous grâce à notre Kit Ambassadeur. Chaque ambassadeur sera consulté sur les questions concernant le futur de CforGood et les plus actifs se verront récompensés par des bonus exclusifs !</p>

        <p class="text-left pt-20"><strong>Connecteur :</strong> Vous connaissez bien Bordeaux et vous aimeriez qu’un commerce proche de chez vous intègre la communauté CforGood ? Devenez Connecteur en le parrainant et gagnez plusieurs mois d'abonnement à la communauté CforGood. </p>
        <a class="typeform-share btn btn-turquoise pt-10 pb-10 mt-50 mb-9cent width-210" href="https://cforgood1.typeform.com/to/iZ5QFx" data-mode="1" target="_blank">Devenez Ambassadeur</a>
        <a class="typeform-share btn btn-turquoise pt-10 pb-10 mt-50 mb-9cent width-210" href="https://cforgood1.typeform.com/to/Be9Q1N" data-mode="1" target="_blank">Devenez Connecteur</a>
      </div>
    <div class="clear"></div>
  </div>
</div>
<div class="container-fluid bg-turquoise">
  <div id="support">
    <div class="col-xs-12 text-center mb-5">
      <div class="col-xs-12 col-sm-4 border-white"></div>
      <div class="col-xs-12 col-sm-4" id="support-title">
        <h2>ILS NOUS SUPPORTENT</h2>
      </div>
      <div class="col-xs-hidden col-sm-4 border-white"></div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <%=link_to image_tag("banquepostale-white.png"), "https://www.labanquepostale.fr/", target: "_blank" %>
          <%=link_to image_tag("makesense-white.png"), "http://beta.makesense.org/", target: "_blank" %>
          <%=link_to image_tag("makesense-white.png"), "http://beta.makesense.org/", target: "_blank" %>
          <%=link_to image_tag("metropole-white.png"), "http://www.bordeaux-metropole.fr/", target: "_blank" %>
          <%=link_to image_tag("darwin-white.png"), "http://www.darwin-ecosysteme.fr/", target: "_blank" %>
      </div>
      <div class="row" id="support-bottom">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <%=link_to image_tag("kisskissbankbank-white.png"), "http://www.kisskissbankbank.com/", target: "_blank" %>
          <%=link_to image_tag("bordeaux-white.png"), "http://www.bordeaux.fr/", target: "_blank" %>
          <%=link_to image_tag("mazars-white.png"), "https://www.mazars.fr/", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>