<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>
<div id="banner">
  <div id="blackbox-banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="mt-250 text-center">
            <h1>Everebody Can Make A Difference </h1>

            <p>Vous vous rappelez la dernière fois où 5€ ont changé le monde ?

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#presentation"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

<!-- <div id="features" class="bg-grey">
  <div class="row">
    <h1>BENEFICES DE L'ADHESION</h1>
    <div class="col-xs-12 col-sm-4">
      <div class="card" data-sr="enter bottom and scale up 20% over 1s">
        <%= image_tag "Adhésion.png" %>
        <h2 class="blue">Des Bons Plans</h2>
        <p>Des <strong>réductions</strong> utiles au quotidien, offertes par les commerces responsables autour de vous.</p>
      </div>
      <div>
        <%= link_to "Voir Les Bons Plans", new_user_session_path, class: "btn btn-blue" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" data-sr="enter bottom and scale up 20% over 1.5s">
        <%= image_tag "Ampoule Smile.png" %>
        <h2 class="turquoise">Des Dons</h2>
        <p>Votre abonnement est reversé à la cause de votre choix.<br>
        <strong>Un Moyen Simple d’Avoir un Impact !</strong></p>
      </div>
      <div>
        <%= link_to "Voir Les Causes", new_user_session_path,class: "btn btn-turquoise" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" data-sr="enter bottom and scale up 20% over 2s">
        <%= image_tag "Centime.png" %>
        <h2 class="green">Des Evénements</h2>
        <p>Rencontrez une <strong>Communauté Vivante</strong> lors de nos événements !
        </p>
      </div>
      <div>
        <%= link_to "Rejoindre Le Mouvement !", new_user_registration_path, class: "btn btn-green" %>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid bg-white">
  <div id="presentation">
    <div class="container">
      <div class="row">
        <div class="col-sm-4" >
          <div class="col-xs-12 col-sm-3">
             <div data-sr="enter bottom and scale up 20% over 1s">
               <%=image_tag("Centime.png") %>
             </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div>
              <h3 class="blue"><strong>Donnez ...</strong></h3>
              <p>Votre abonnement est reversé à la cause de votre choix. Un Moyen Simple d’Avoir un Impact !</p>
            </div>
            <div>
              <%= link_to "Voir Les Causes", new_user_session_path,class: "btn btn-blue" %>
            </div>
          </div>
        </div>
        <div class="col-sm-4" >
          <div class="col-xs-12 col-sm-3">
            <div data-sr="enter bottom and scale up 20% over 1s">
                 <%=image_tag("Ampoule Smile.png") %>
            </div>
          </div>
            <div class="col-xs-12 col-sm-8">
            <div>
              <h3 class="turquoise"><strong>Recevez :</strong></h3>
              <p>Des réductions utiles au quotidien, offertes par les commerces responsables autour de vous.</p>
            </div>
            <div>
              <%= link_to "Voir Les Bons Plans", new_user_session_path, class: "btn btn-turquoise" %>
            </div>
          </div>
          </div>

          <div class="col-sm-4" >
            <div class="col-xs-12 col-sm-3">
              <div data-sr="enter bottom and scale up 20% over 1s">
                <%=image_tag("Adhésion.png") %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-9">
              <div>
                <h3 class="green"><strong>Rayonnez !</strong></h3>
                <p>Vous rendez visible ce monde qui bouge ! Rencontrez une Communauté Vivante lors de nos événements !</p>
              </div>
              <div>
                <%= link_to "Rejoindre Le Mouvement !", new_user_registration_path, class: "btn btn-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div id="perks">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 ">

        </div>
      </div>
    </div>
  </div>
</div>