<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>
<div id="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="mt-100">
          <h1>Welcome!</h1>

          <h2>This is the homepage</h2>

          <p>
            Find me in <code>app/views/pages/home.html.erb</code>
          </p>

          <p>
            Thanks to the <a href="https://github.com/thoughtbot/high_voltage">high_voltage</a>
            gem, if you need more static pages (like <code>/contact</code> or <code>/about-us</code>),
            just create a file in the <code>app/views/pages</code> folder, the route will be automatically
            available without you adding any controller or touching the <code>config/routes.rb</code> file!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="features">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" data-sr="enter bottom and scale up 20% over 1s">
          <%= image_tag "Adhésion.png" %>
          <h2>Des Bons Plans</h2>
          <p>Des <strong>réductions</strong> utiles au quotidien, offertes par les commerces responsables autour de vous. <br><strong>Consommer Mieux & Moins Cher</strong>, c’est possible !</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1.5s">
          <%= image_tag "Ampoule Smile.png" %>
          <h2>Des Dons</h2>
          <p>La moitié de votre abonnement est reversée, chaque mois,
          à l’association ou le projet de votre choix.<br>
          <strong>Un Moyen Simple d’Avoir un Impact !</strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 2s">
          <%= image_tag "Centime.png" %>
          <h2>Des Evénements</h2>
          <p>Rencontrez une <strong>Communauté Vivante</strong> lors des
          événements organisés par CforGood et ses partenaires !
          <br><strong>Vous N’êtes Pas Seul !</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>