<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>
<div id="banner">
  <div id="blackbox-banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="mt-150 text-center img140">
            <%=image_tag("logopouce.png") %>
            <h1>VOUS ETES LE CHANGEMENT</h1>
            <p>BIENVENUE DANS LA COMMUNAUTE DES CITOYENS ENGAGES</p>
          </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3 mt-100">
          <div class="col-xs-8 col-xs-offset-1 ">
            <input type="email" name="EMAIL" class="email form-control text-center r5" id="mce-EMAIL" placeholder="votrecontact@gmail.com" required="">
          </div>
          <div class="col-xs-3 pl-10">
            <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-turquoise">
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#benefits"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

<!-- <div id="features" class="bg-grey">
  <div class="row">
    <h1>BENEFICES DE L'ADHESION</h1>
    <div class="col-xs-12 col-sm-4">
      <div class="card" data-sr="enter bottom and scale up 20% over 1s">
        <%= image_tag "Adhésion.png" %>
        <h2 class="blue">Des Bons Plans</h2>
        <p>Des <strong>réductions</strong> utiles au quotidien, offertes par les commerces responsables autour de vous.</p>
      </div>
      <div>
        <%= link_to "Voir Les Bons Plans", new_user_session_path, class: "btn btn-blue" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" data-sr="enter bottom and scale up 20% over 1.5s">
        <%= image_tag "Ampoule Smile.png" %>
        <h2 class="turquoise">Des Dons</h2>
        <p>Votre abonnement est reversé à la cause de votre choix.<br>
        <strong>Un Moyen Simple d’Avoir un Impact !</strong></p>
      </div>
      <div>
        <%= link_to "Voir Les Causes", new_user_session_path,class: "btn btn-turquoise" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" data-sr="enter bottom and scale up 20% over 2s">
        <%= image_tag "Centime.png" %>
        <h2 class="green">Des Evénements</h2>
        <p>Rencontrez une <strong>Communauté Vivante</strong> lors de nos événements !
        </p>
      </div>
      <div>
        <%= link_to "Rejoindre Le Mouvement !", new_user_registration_path, class: "btn btn-green" %>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid bg-white">
  <div id="benefits">
    <div class="container">
      <div class="row">
        <h2>AVANTAGES DE LA COMMUNAUTE</h2>
        <div class="col-sm-4" >
          <div class="col-xs-12 col-sm-3">
             <div data-sr="enter bottom and scale up 20% over 1s">
               <%=image_tag("Centime.png") %>
             </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div>
              <h3 class="blue"><strong>Donnez ...</strong></h3>
              <p>Votre abonnement de 5€ est reversé à la cause de votre choix. Un Moyen Simple d’Avoir un Impact !</p>
            </div>
            <div>
              <%= link_to "Découvrez Les Causes", new_user_session_path,class: "btn btn-blue" %>
            </div>
          </div>
        </div>
        <div class="col-sm-4" >
          <div class="col-xs-12 col-sm-3">
            <div data-sr="enter bottom and scale up 20% over 1s">
                 <%=image_tag("Ampoule Smile.png") %>
            </div>
          </div>
            <div class="col-xs-12 col-sm-8">
            <div>
              <h3 class="turquoise"><strong>Recevez :</strong></h3>
              <p>Des réductions utiles au quotidien, offertes par les commerces locaux et responsables de votre ville.</p>
            </div>
            <div>
              <%= link_to "Profitez Des Bons Plans", new_user_session_path, class: "btn btn-turquoise" %>
            </div>
          </div>
          </div>

          <div class="col-sm-4" >
            <div class="col-xs-12 col-sm-3">
              <div data-sr="enter bottom and scale up 20% over 1s">
                <%=image_tag("Adhésion.png") %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-9">
              <div>
                <h3 class="green"><strong>Rayonnez !</strong></h3>
                <p>Vous rendez visible ce monde qui bouge ! Rencontrez une Communauté Vivante lors de nos événements !</p>
              </div>
              <div>
                <%= link_to "Rejoignez Le Mouvement !", new_user_registration_path, class: "btn btn-green" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-turquoise">
  <div class="row">
    <div id="presentation">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="absolute" id="iphone-card">
          <%=image_tag("iphone-macartecut.png") %>
        </div>
        <div class="relative" id="mediaplay">
          <%=image_tag("play.png") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h1>
          VOUS VOUS RAPPELEZ LA DERNIERE FOIS OU 5€ ONT EU AUTANT D'IMPACT ?
        </h1>
        <p>
          CforGood est une communauté de citoyens engagés qui cherchent à mettre en lumière ce qu’il se fait de mieux dans votre ville. Incarnez le changement, et donnez lui raison au quotidien.
        </p>
        <%= link_to "En Savoir Plus", new_user_session_path,class: "btn btn-white" %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-grey">
  <div id="perks">
    <h2>NOS DERNIERS BONS PLANS</h2>
    <div class="container carrousel text-center">
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card-home">
            <div class="image">
              <div class="box-shadow pt-15">
                <p>Restaurant</p>
                <h3>Label Terre</h3>
                <i class="fa fa-map-marker"> Bordeaux</i>
                <h4>10% GRATUIT</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid">
  <div id="betafamily">
    <div class="box-shadow">
      <div class="col-xs-12 col-sm-5">
        <div class="col-xs-10 col-xs-offset-1">
          <%= image_tag("macarte.png") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 pl-55">
        <div class="col-xs-10 col-xs-offset-1">
          <h2>OBTENEZ VOTRE CARTE DE MEMBRE DES MAINTENANT !</h2>
          <p>Rejoignez la communauté grandissante de CforGood et profitez de ses avantages gratuitement avant le lancement officiel.</br><br> <strong>Vous n'aurez jamais d'aussi bonnes raisons de passer à l'action ! </strong></p>
          <%= link_to "Obtenir Ma Carte", new_user_session_path,class: "btn btn-turquoise mt-15" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
  <div id="partner">
    <div class="col-xs-12 col-sm-6">
      <div class="col-xs-8 col-xs-offset-3 text-center">
        <h4>Vous êtes une entreprise ?</h4>
        <p>Découvrez comment <strong>CforGood</strong> peut vous offrir une forte visibilité tout en participant</p>
        <%= link_to t(".top_call_to_action", default: "GAGNEZ EN VISIBILITE"), new_user_registration_path, class: "btn btn-blue" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="col-xs-8 col-xs-offset-1 text-center">
        <h4>Vous êtes une association ?</h4>
        <p>Découvrez comment <strong>CforGood</strong> développe l'engagement des donateurs et facilite la récolte de fonds</p>
        <%= link_to t(".top_call_to_action", default: "FAITES ENTENDRE VOTRE CAUSE"), new_user_registration_path, class: "btn btn-green" %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-blue">
  <div id="support">
    <div class="col-xs-12 text-center">
      <div class="col-xs-4 border"></div>
      <div class="col-xs-4">
        <h2>ILS NOUS SUPPORTENT</h2>
      </div>
      <div class="col-xs-4 border"></div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <%=link_to image_tag("banquepostale-white.png"), "https://www.labanquepostale.fr/", target: "_blank" %>
          <%=link_to image_tag("makesense-white.png"), "http://beta.makesense.org/", target: "_blank" %>

          <%=link_to image_tag("metropole-white.png"), "http://www.bordeaux-metropole.fr/", target: "_blank" %>
          <%=link_to image_tag("darwin-white.png"), "http://www.darwin-ecosysteme.fr/", target: "_blank" %>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <%=link_to image_tag("kisskissbankbank-white.png"), "http://www.kisskissbankbank.com/", target: "_blank" %>
          <%=link_to image_tag("bordeaux-white.png"), "http://www.bordeaux.fr/", target: "_blank" %>
          <%=link_to image_tag("mazars-white.png"), "https://www.mazars.fr/", target: "_blank" %>
      </div>
      </div>
    </div>
  </div>
</div>