<%= content_for(:title) do %>
  Commerces Partenaires
<% end %>
<%= content_for(:description) do %>
  Une incroyable opportunité de vous faire entendre
<% end %>
<!-- HEADER -->
<div id="header-landing-business">
  <!-- HEADER GRADIENT OVERLAY -->
  <div class="header-blackbox"></div>
  <div class="header-overlay"></div>
  <div class="container-fluid header-content">
    <div class="row">
      <div class="col-xs-12 text-center">
        <!-- HEADER CONTENT -->
        <%= image_tag('logopouce-white.png', :class => 'header-logo') %>
        <h1>Développez votre activité</h1>
        <p>en inspirant la solidarité</p></br>
        <div id="btn-become-business">
          <%= link_to "Devenir partenaire", new_business_registration_path, class: "button button-turquoise" %>
        </div>
        <!-- BOUCING ARROW -->
        <a href="#problem" rel="Go to the problem section">
          <i class="fa fa-angle-down pulse hidden-xs"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- PRESENTATION - LA REVOLUTION POSITIVE -->
<section class="container-fluid presentation" id="presentation-business">
  <div class="container">
    <div class="row">
      <h2 class="section-title">La solution CforGood</h2>
      <!-- BLOCK VIDEO -->
<!--       <div class="col-md-5">
        <div class="embed-container video-mobile">
          <iframe class="border-video" width="500" height="285" src="https://www.youtube.com/embed/4tYrdTm6lwQ?controls=0&rel=0&showinfo=0" frameborder="0"></iframe>
        </div>
      </div> -->
      <!-- BLOCK DESCRIPTION -->
      <div class="col-md-8 col-md-offset-2">
    <!--     <h3>Une simple carte qui change tout.</h3>
        <p>CforGood est une entreprise qui vous propose de développer gratuitement votre activité en inspirant la solidarité de vos clients, en toute simplicité.</p>
        <p>Il s'agit d'un site web et d'une application mobile géolocalisés qui référencent les commerçants qui s'engagent pour une économie plus locale, positive et solidaire en offrant des bons plans aux titulaires de la carte CforGood qui soutiennent des associations et initiatives locales.</p>
        <p><strong>C'est une Révolution Positive ! <br>Où vous incitez à l'altruisme... Tout en développant votre activité !</strong></p> -->
        <h3>L'évidence d'aller dans le bon sens !</h3>
        <p>Notre mission est de redonner le pouvoir aux citoyens en les connectant à des commerces responsables autour d’eux qui les récompensent pour leur soutien associatif.</p>
        <p>CforGood est une plateforme qui vous propose de développer votre activité, tout en inspirant la solidarité.</p>
        <p><strong>CforGood, on a tous des raisons d'agir dans le bon sens !</strong></p>
        <!-- CTA - EN SAVOIR PLUS -->
        <%= button_to "En Savoir Plus", about_path, class: "button button-turquoise" %>
      </div>
    </div>
  </div>
</section>
<!-- COMMENT ÇA MARCHE -->
<section class="container-fluid process">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Comment ça marche ?</h2>
      <div class="col-xs-12">
        <!-- MOCKUP 1 -->
        <div class="col-xs-12 col-sm-4 discover" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneHome.png") %>
          <h3>Créez</h3>
          <p>Saisissez votre bon plan sous la forme que vous souhaitez (Flash ou Permanent).</p>
        </div>
         <!-- MOCKUP 2 -->
        <div class="col-xs-12 col-sm-4 localise" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneMap.png") %>
          <h3>Publiez</h3>
          <p>Rendez le visible instantanément auprès de notre communauté CforGood.</p>
        </div>
         <!-- MOCKUP 3 -->
        <div class="col-xs-12 col-sm-4 enjoy" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneCard.png") %>
          <h3>Souriez !</h3>
          <p>Les clients affluent pour bénéficier de votre offre exclusive !</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BENEFICES -->
<section class="container-fluid benefits">
  <div class="blackbox"></div>
  <div class="container">
    <div class="row">
      <h2 class="section-title">L'offre qu'il vous faut !</h2>
      <div class="col-xs-10 col-xs-offset-1">
        <!-- MOCKUP 1 -->
        <div class="col-xs-4 item-benefit">
          <div class="col-xs-12">
            <%=image_tag("megaphone.png") %>
            <p><strong>UNE VISIBILITE ACCRUE</strong></p>
            <p>Bénéficiez d'une visibilité en ligne et hors ligne instantanée auprès des citoyens engagés de votre territoire.</p>
          </div>
        </div>
        <!-- MOCKUP 2 -->
        <div class="col-xs-4 item-benefit">
          <div class="col-xs-12">
            <%=image_tag("megaphone.png") %>
            <p><strong>UN CHIFFRE D'AFFAIRES ADDITIONNEL</strong></p>
            <p>Assurez-vous l'acquisition et la fidélisation d'une nouvelle clientèle tout en soutenant une cause noble.</p>
          </div>
        </div>
        <!-- MOCKUP 3 -->
        <div class="col-xs-4 item-benefit">
          <div class="col-xs-12">
            <%=image_tag("megaphone.png") %>
            <p><strong>UNE IMAGE POSITIVE, DYNAMIQUE ET SOLIDAIRE</strong></p>
            <p>Inspirez vos clients en étant un vecteur de solidarité.</p>
          </div>
        </div>
        <!-- MOCKUP 4 -->
        <div class="col-xs-4 item-benefit">
          <div class="col-xs-12">
            <%=image_tag("megaphone.png") %>
            <p><strong>UNE PLATEFORME GRATUITE</strong></p>
            <p>Accédez à la plateforme et l'ensemble de nos outils gratuitement.</p>
          </div>
        </div>
        <!-- MOCKUP 5 -->
        <div class="col-xs-4 item-benefit">
          <div class="col-xs-12">
            <%=image_tag("megaphone.png") %>
            <p><strong>UN OUTIL RAPIDE ET FLEXIBLE</strong></p>
            <p>Créez vos bons plans en moins de 30 secondes et changez les à tout moment !</p>
          </div>
        </div>
        <!-- MOCKUP 6 -->
        <div class="col-xs-4 item-benefit">
          <div class="col-xs-12">
            <%=image_tag("megaphone.png") %>
            <p><strong>UN SUIVI EN TEMPS RÉEL</strong></p>
            <p>Suivez votre activité en consultant votre tableau de bord et l'impact de vos bons plans.</p>
          </div>
        </div>
        <div id="btn-become-business">
          <%= link_to "Devenir partenaire", new_business_registration_path, class: "button button-turquoise" %>
        </div>
      </div>
    </div>
  </div>
</section>




