<div class="connexion connexion-pro signup">
  <div class="form-card">
    <span>Créer mon compte Professionnel</span>
    <!-- SUBSCRIPTION FORM -->
    <div class="subscription-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <%= f.input :name, placeholder: 'John & Co.', required: true, autofocus: false, label: "Nom de l'entreprise *" %>
        <%= f.input :email, placeholder: 'john@doe.com', required: true, label: 'Email professionel*' %>
        <%= f.input :password, placeholder: '8 cars. minimum', required: true, label: 'Mot de passe *' %>
        <%= f.input :password_confirmation, placeholder: '8 cars. minimum', required: true, label: 'Confirmation du mot de passe *' %>
        <%= f.input :business_category_id, required: true, label: "Activité de l'entreprise *", collection: BusinessCategory.all, prompt: 'Sélectionnez une catégorie' %>
        <%= f.input :city, placeholder: 'Bordeaux', required: true, label: 'Votre ville *' %>
        <p>En cliquant sur <strong>S'inscrire</strong>, vous acceptez les <a type="href" class="" data-toggle="modal" data-target="#modal-cgu"><strong>CGU</strong></a> et certifiez avoir de plus de 18 ans.</p>
        <%= f.button :submit, "Créer mon compte" %>
      <% end %>
    </div>
  </div>
  <div class="already-subscribed">
    <span>Déjà membre ?<strong><%= link_to t(".connexion", :default => "Connexion"), new_session_path(resource_name) %></strong></span>
  </div>
</div>

<!-- MODAL CGU CFORGOOD -->
<%= render "components/modals/signup_cgu" %>
