<div class="address-shop nested-fields">
  <% label = f.object.main ? "Adresse Principale" : "Autre adresse" %>
  <%= f.input :street, placeholder: 'Rue', label: label, input_html: {class: 'business_street'} %>
  <%= f.input :zipcode, placeholder: 'Code postal', label: 'Code postal' %>
  <%= f.input :city, placeholder: 'Ville', label: 'Ville' %>
  <%= link_to_remove_association("-", f, class: 'button-address-minus') unless f.object.main %>

  <div class="timetables-modal"><%= image_tag 'icons/horloge.svg' %></div>

  <!-- LINK Timetables -->
  <div class="timetables-overlay hidden">
    <div class="timetables-container">
      <!-- CLOSE BUTTON -->
      <button type="button" class="close-button"><i class="fa fa-times"></i></button>
      <span>Horaires</span>
      <%= f.simple_fields_for :timetables do |timetable| %>
        <%= render 'pro/dashboard/timetable_fields', f: timetable %>
      <% end %>
      <div class="links">
        <%= link_to_add_association '+', f, :timetables, class: 'button-address-more on-left' %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $(".timetables-modal").on("click", function(e) {
        e.preventDefault();
        $(this).next("div.timetables-overlay").removeClass("hidden");
      });

      $('.close-button').on("click", function(e) {
        e.preventDefault();
        $(this).closest("div.timetables-overlay").addClass("hidden");
      });
    });
  </script>
<% end %>
