<div class="address-shop nested-fields">
  <% label = f.object.main ? "Adresse Principale" : "Autre adresse" %>
  <%= f.input :street, placeholder: 'Rue', label: label, input_html: {class: 'business_street'} %>
  <%= f.input :zipcode, placeholder: 'Code postal', label: 'Code postal' %>
  <%= f.input :city, placeholder: 'Ville', label: 'Ville' %>
  <%= link_to_remove_association("-", f, class: 'button-address-minus') unless f.object.main %>

  <a href="#" class="timetables-modal"><%= render "shared/icons/address" %></a>
</div>

  <!-- LINK ADDRESSES -->
  <% for i in 0..6 do %>
    <%# binding.pry %>
    <% if f.object.timetables.where(day: I18n.t("date.day_names")[i]).present?  %>
      <%= f.simple_fields_for :timetables,  f.object.timetables.where(day: I18n.t("date.day_names")[i]) do |timetable| %>
        <%= render 'pro/dashboard/timetable_fields', f: timetable, locals: { day: i}  %>
      <% end %>
    <% else %>
      <div class="links">
            <%# binding.pry %>
          <%= link_to_add_association "", f, :timetables, day: i %>
      </div>
    <% end %>
  <% end %>
  <%#= f.button :submit, "Sauvegarder" %>

  <%#= render "pro/dashboard/form/timetable_fields", f: f.object %>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $(".timetables-modal").on("click", function(e) {
        e.preventDefault();
        $(".timetables-overlay").removeClass("hidden");
      });
    });
  </script>
<% end %>
