<div class="timetables-overlay hidden">
  <div class="form-edit-container">
    <div class="form-edit">
     <!--  <%#= simple_form_for address do |f| %> -->
        <%= f.error_notification %>
        <div class="col-1">
          <% I18n.t("date.day_names").each do |day| %>
            <span class="day"><%= day %></span>
            <!-- FORM HOUR -->
            <div class="form-hour" id="<%= day %>">
              <table>
                <%= f.fields_for :timetables do |t| %>
                  <tr>
                    <td><%= t.input :start_at_hour, label: "De", collection: pad0(0..23), selected: t.object.present? ? pad0(t.object.start_at_hour) : "00"  %></td>
                    <td><%= t.input :start_at_min, label: ":", collection: pad0([0, 15, 30, 45]), selected: t.object.present? ? pad0(t.object.start_at_min)  : "00" %></td>
                    <td><%= t.input :end_at_hour, label: "à", collection: pad0(0..23), selected: t.object.present? ? pad0(t.object.end_at_hour)  : "00" %> </td>
                    <td><%= t.input :end_at_min, label: ":", collection: pad0([0, 15, 30, 45]), selected: t.object.present? ? pad0(t.object.end_at_min)  : "00" %> </td>
                  </tr>
                <% end %>
              </table>
            </div>
          <% end %>
        </div>
        <div class="col-2">
          <%#= f.button :submit, "Sauvegarder" %>
        </div>
      <#% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {

    });
  </script>
<% end %>
