<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Consultez vos chiffres
<% end %>

<div class="container-fluid admin">
  <% if !current_business.active %>
    <%= image_tag('dashboard_business_inactive.png', class: 'whitebox-business-blur') %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div class='whitebox-business-msg'>
        <p>Nous sommes actuellement en BETA,<br> votre espace sera très prochainement actif !</p>
        <%= image_tag('icons/signout.png', :class => 'signout-icon') %><%= t ".se_déconnecter", default: "À bientôt" %>
      </div>
    <% end %>
  <% else %>
    <!-- Sub Menu Sidebar -->
    <%= render "pro/dashboard/shared/sidebar" %>
    <!-- Content - Statistics -->
    <div class="dashboard">
      <div class="data-container">
        <ul class="data-desktop">
          <li>
            <span class="number"><%= @business.perks.count %></span>
            <span class="label">Bons plans créés</span>
          </li>
          <li>
            <span class="number"><%= @business.perks_uses_count %></span>
            <span class="label">Bons plans utlisés</span>
          </li>
          <li>
            <span class="number"><%= @business.perks_views_count %></span>
            <span class="label">Nombre total de vues</span>
          </li>
          <li>
            <span class="number"><%= @business.perks_new_users %></span>
            <span class="label">Nombre nouveaux clients</span>
          </li>
        </ul>
        <!-- SLICK | DATA ON MOBILE -->
        <div class="business-into" style="background-image: url('<%= current_business.picture %>');">
          <%= image_tag current_business.leader_picture, class: 'business-owner' %>
          <span class="business-name"><%= current_business.name %></span>
          <span class="business-location"><i class="fa fa-map-marker"></i><%= current_business.city %></span>
        </div>
        <!-- <ul class="data-mobile"> -->
        <ul class="">
          <li>
            <span class="number"><%= @business.perks.count %></span>
            <span class="label">Bons plans créés</span>
          </li>
          <li>
            <span class="number"><%= @business.perks_uses_count %></span>
            <span class="label">Bons plans utlisés</span>
          </li>
          <li>
            <span class="number"><%= @business.perks_views_count %></span>
            <span class="label">Nombre total de vues</span>
          </li>
          <li>
            <span class="number"><%= @business.perks_new_users %></span>
            <span class="label">Nombre nouveaux clients</span>
          </li>
        </ul>


      </div>
       <div class="mobile-title">
          <%= image_tag('logo-cforgood-blanc.png', class: '') %>
          <span>Bienvenue dans votre espace</span>
        </div>
      <div id="map" class="pro-map-businesses" style="width: 82%;"></div>
      <% content_for(:after_js) do %>
        <%= render 'components/map', markers: @markers, map_id: "map" %>
      <% end %>
    </div>
  <% end %>
</div>
