<div class="left-sidebar">
  <ul>
    <li>
      <%= link_to about_path do %>
        <i class="fa fa-dot-circle-o"></i> <%= t(".how_it_works", default: "A Propos") %>
      <% end %>
    </li>
    <li>
      <%= link_to about_path do %>
        <i class="fa fa-dot-circle-o"></i> <%= t(".how_it_works", default: "A Propos") %>
      <% end %>
    </li>
    <li>
      <%= link_to about_path do %>
        <i class="fa fa-dot-circle-o"></i> <%= t(".how_it_works", default: "A Propos") %>
      <% end %>
    </li>
  </ul>
</div>
