<% content_for :meta_title, "Rejoignez-nous !" %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<div class="connexion signin">
  <span>Connexion</span>
  <div class="signin-back">
    <!-- SIGN AS USER -->
    <div class="connect-user">
      <i><%= render "shared/icons/profile" %></i>
      <span>Vous êtes membre ?</span>
      <button type="button" class="connect-user">Se connecter</button>
    </div>
    <!-- SIGN AS BUSINESS -->
    <div class="connect-business">
      <i><%= render "shared/icons/shop" %></i>
      <span>Vous êtes partenaire ?</span>
      <button type="button" class="connect-business">Se connecter</button>
    </div>
  </div>
  <div class="signin-box <%= params[:business].present? ? "translate" : "" %>">
    <div class="signin-user <%= params[:business].present? ? "hidden" : "" %>">
      <!-- SIGNIN FORM USER -->
      <%= render "devise/sessions/shared/form_signin", resource_name: :user %>
    </div>
    <div class="signin-business <%= params[:business].present? ? "" : "hidden" %>">
      <!-- SIGNIN FORM BUSINESS -->
      <%= render "devise/sessions/shared/form_signin", resource_name: :business %>
    </div>
    <div class="already-subscribed">
      <span class=""> Pas de compte ? <strong><%= link_to t(".connexion", :default => "Je m'inscris"), new_registration_path(resource_name) %></strong></span>
      </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>

    $(document).ready(function(){
      $('.connect-user').click(function(event) {
        $("#error-code").remove();
        $('.signin-user').removeClass('hidden');
        $('.signin-business').addClass('hidden');
        $('.signin-box').removeClass('translate').css('transition-duration','1s');
      });

      $('.connect-business').click(function(event) {
        $("#error-code").remove();
        $('.signin-business').removeClass('hidden');
        $('.signin-user').addClass('hidden');
        $('.signin-box').addClass('translate').css('transition-duration','1s');
      });
    });

  </script>
<% end %>


