<%= content_for(:title) do %>
<%= @business.name %>
<% end %>
<%= content_for(:description) do %>
Consultez vos chiffres
<% end %>

<div class="container-test" id="dashboard-business">
  <h1>Consultez vos metrics</h1>
</div>

<div class="clear"></div>
   <div id="map" class="pro-map-businesses" style="width: 100%; height: 400px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(12);
          });
        })
      <% end %>
    <% end %>
