<%= content_for(:title) do %>
  <%= @business.name %>
<% end %>
<%= content_for(:description) do %>
  Découvrez le Bon Plan offert par <%= @business.name %> !
<% end %>

<div class="container-fluid">
  <h1>Business: <%= @business.name %></h1>
</div>
