<%= content_for(:title) do %>
  Causes
<% end %>
<%= content_for(:description) do %>
  Découvrez notre liste de causes partenaires
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard">
    <div class="container">
      <% @causes.each do |cause| %>
        <%= link_to asso_cause_path(cause) do %>
          <div class="col-xs-6 col-md-4 card-pokemon">
            <div class="">
              <div class="bg-cause-card" style="background-image: url(<%= image_url cause.picture %>)">
                <div class="row" id="blackbox-cause">
                  <p><%= cause.cause_category.name %></p>
                </div>
                <div class="row" id="info-cause">
                  <div class="col-xs-12" id="cause-name">
                    <h1><%= cause.name.upcase %></h1>
                  </div>
                </div>
                <div class="row blue-colorbar">
                  <p><%= cause.impact.upcase %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
</div>
