<%= content_for(:title) do %>
  <%= @cause.name %>
<% end %>
<%= content_for(:description) do %>
  Découvrez l'engagement de <%= @cause.name %> !
<% end %>

<div class="container-fluid admin">
  <!-- Sub Menu Sidebar -->
  <%= render "member/dashboard/shared/sidebar" %>
  <!-- Content - Statistics -->
  <div class="dashboard dashboard-cards">
    <div class="organisation-board">
      <div class="organisation-header" style="background-image: url('<%= image_url @cause.picture %>');">
        <h1><%= @cause.name %><br><small><%=  @cause.cause_category.name %></small></h1>
        <div class="cause-logo" style="background-image: url('<%= image_url @cause.logo %>');"></div>
      </div>
      <div class="section-cause">
        <div class="cause-details">
          <!-- BUSINESS | DESCRIPTION -->
          <h3>En savoir plus sur <%= @cause.name %></h3>
          <p><%= @cause.description %></p>
        </div>
        <div class="cause-info">
          <!-- IMPACT | DESCRIPTION -->
          <% if @cause.impact.present? %>
            <h3>Leur engagement</h3>
            <p><%= @cause.impact %></p>
          <%end %>
          <!-- LINKS | WEB -->
          <h3>Sur le web </h3>
          <ul>
            <% if @cause.email.present? %>
              <li>
                <a href="mailto:<%= @cause.email %>" class="link-mail-business business-icon-container" target="_blank">
                  <i class="fa fa-envelope business-icon"></i><span><%= @cause.email %></span>
                </a>
              </li>
            <% end %>
            <% if @cause.url.present? %>
              <li>
                <a href="<%= @cause.url %>" class="link-website-business business-icon-container" target="_blank">
                  <i class="fa fa-globe business-icon"></i><span><%= @cause.url %></span>
                </a>
              </li>
            <% end %>
          </ul>
          <!-- LINKS | SOCIAL NETWORKS -->
          <h3>Sur les réseaux</h3>
          <ul class="network">
            <% if @cause.facebook.present? %>
              <li>
                <a href="<%= @cause.facebook %>" class="link-facebook-business business-icon-container" target="_blank">
                  <i class="fa fa-facebook business-icon"></i>
                </a>
              </li>
            <% end %>
            <% if @cause.twitter.present? %>
              <li>
                <a href="<%= @cause.twitter %>" class="link-instagram-business business-icon-container" target="_blank">
                  <i class="fa fa-twitter business-icon"></i>
                </a>
              </li>
            <% end %>
            <% if @cause.instagram.present? %>
              <li>
                <a href="<%= @cause.instagram %>" class="link-instagram-business business-icon-container" target="_blank">
                  <i class="fa fa-instagram business-icon"></i>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
