<div class="signup-plan">
  <span>Choisissez votre abonnement</span>
  <div class="container-fluid">
    <div class="offer-index">
      <div class="offer-card">
        <div class="offer-title">Mensuel</div>
        <div class="offer-extra">Sans engagement de durée</div>
        <div class="offer-price">Montant libre</div>
        <div class="offer-btn">
          <%= simple_form_for(current_user, url: member_update_profile_path, method: :put, remote: true, authenticity_token: true, html: { id: "update_subscription" } ) do |f| %>
          <%= f.input :subscription, as: :hidden %>
          <%= f.input :amount, as: :hidden %>
          <%= f.input :code_promo, as: :hidden %>
          <%= f.submit "Souscrivez", class: "btn-subscription"%>
        <% end %>
        </div>
      </div>
      <div class="offer-card">
        <div class="offer-title">Entreprise</div>
        <div class="offer-extra">Pour vos clients ou salariés</div>
        <div class="offer-price">Nous consulter</div>
        <div class="offer-btn">
          <%= link_to "Contactez-nous", new_contact_form_path, class: "btn btn-bluenight" %>
        </div>
      </div>
    </div>
  </div>
  <!-- RANGE SLIDER FOR PRICE -->
  <div class="pricing-range">
    <label for="range">Choisissez le montant de votre souscription !</label>
    <input type="range" name="range" id="range" min="1" max="50" value="5"/>
    <output for="range" class="output">5</output>
  </div>
  <!-- PARTNER CODE -->
  <div class="code-promo">
    <label for="code_promo" class="control-label">Code partenaire</label>
    <input type="text" name="code_promo" id="code_promo" class="form-control">
  </div>

  <button class="btn-plan">Suivant</button>
</div>

<% content_for :after_js do %>

  <script>
    $(document).ready(function() {

      $('#range').on('input', function() {
        $('.output').html(this.value);
      });

      $(".btn-subscription").on("click", function() {
        $("#user_subscription").val("M");
        $("#user_amount").val(parseInt($(".output").val()));
        $("#user_code_promo").val($('#code_promo').val());
      });

      $(".btn-plan").on("click", function(e) {
        e.preventDefault;
        $(".signup-plan").addClass("ishidden");
        $(".signup-payment").addClass("slideup");
        $("#signup-breadcrumb").addClass("slide-3");
      });

    });
  </script>

<% end %>
