<div class="signup-plan">
  <span>Choisissez votre abonnement</span>
  <div class="container-fluid">
    <div class="offer-index">
      <div class="offer-card">
        <div class="offer-title">Bienvenue</div>
        <div class="offer-extra">Pour découvrir la révolution positive !</div>
        <div class="offer-price">Gratuit</div>
        <div class="offer-btn">
          <%= link_to "Souscrivez", member_update_profile_path("user" => {subscription: "B"}), method: :put, remote: true, authenticity_token: true, class: "btn btn-turquoise subscription", html: { id: :update_subscription } %>
        </div>
      </div>
      <div class="offer-card">
        <div class="offer-title">Mensuel</div>
        <div class="offer-extra">Sans engagement de durée</div>
        <div class="offer-price">Montant libre</div>
        <div class="offer-btn">
          <%= simple_form_for(current_user, url: member_update_profile_path, remote: true, authenticity_token: true, html: { method: :put, id: :update_cause_id }) do |f| %>
            <%= f.input :subscription, as: :hidden, value: "B" %>
            <%= f.input :amount, as: :hidden, value: "B" %>
            <%= f.input :code_promo, as: :hidden, value: "B" %>
            <%= f.submit "Souscrivez", class: "user-button subscription" %>
          <% end %>
          <%#= link_to "Souscrivez", member_update_profile_path("user" => {subscription: "M"}), method: :put, remote: true, authenticity_token: true, class: "btn btn-turquoise subscription", html: { id: :update_subscription } %>
        </div>
      </div>
      <div class="offer-card most-popular">
        <div class="offer-most-popular">Le plus populaire</div>
        <div class="offer-title">Annuel</div>
        <div class="offer-extra"><span>12 Mois </span>de validité</div>
        <div class="offer-price">50€/an</div>
        <div class="offer-btn">
          <%= link_to "Souscrivez", member_update_profile_path("user" => {subscription: "A"}), method: :put, remote: true, authenticity_token: true, class: "btn btn-turquoise subscription", html: { id: :update_subscription } %>
        </div>
      </div>
      <div class="offer-card">
        <div class="offer-title">Entreprise</div>
        <div class="offer-extra">Pour vos clients ou salariés</div>
        <div class="offer-price">Nous consulter</div>
        <div class="offer-btn">
          <%= link_to "Contactez-nous", new_contact_form_path, class: "btn btn-bluenight" %>
        </div>
      </div>
    </div>
  </div>
  <!-- RANGE SLIDER FOR PRICE -->
  <div class="pricing-range">
    <label for="range">Choisissez le montant de votre souscription !</label>
    <input type="range" name="range" id="range" min="0" max="150" step="5" value="5"/>
    <output for="range" class="output">5</output>
  </div>
  <!-- PARTNER CODE -->
  <div class="code-promo">
    <label for="code_promo" class="control-label">Code promotion</label>
    <input type="text" name="code_promo" id="code_promo" class="form-control">
  </div>

  <button class="btn-plan">Suivant</button>
</div>

<% content_for :after_js do %>

  <script>
    $(document).ready(function() {

      $('#range').on('input', function() {
        $('.output').html(this.value);
      });

      $(".btn.subscription").on("click", function(e) {
        e.preventDefault();
        if ($(this).next('.offer-title') == 'Mensuel') {
          amount = $('.output').html(this.value);
        }

        $("#update_subscription").submit();
       });

      $(".btn-plan").on("click", function(e) {
        e.preventDefault;
        $(".signup-plan").addClass("ishidden");
        $(".signup-payment").addClass("slideup");
        $("#signup-breadcrumb").addClass("slide-3");
      });

    });
  </script>

<% end %>
