<div class="perk-modal feedback">
  <button type="button" class="perk-modal-close close-button">&times;</button>
  <div class="perk-modal-header">
    <div class="perk-modal-illustration"><%= image_tag "business_categories/yoga.svg" %></div>
    <div class="perk-modal-header-text feedback">Avez-vous appréciez ce bon plan ?</div>
  </div>

  <div class="perk-modal-feedback">
    <div class="radio-tile-group">
      <div class="input-container">
        <input id="like" class="radio-button" type="radio" name="radio" />
        <div class="radio-tile">
          <%= image_tag "heart_like.svg" %>
        </div>
      </div>
      <div class="input-container">
        <input id="unlike" class="radio-button" type="radio" name="radio" />
        <div class="radio-tile">
          <%= image_tag "heart_dislike.svg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="perk-modal-valid-feedback">
    <%= simple_form_for :use, url: perk_use_path(params[:perk_id], params[:id]), method: :put do |f| %>
      <%= f.input :feedback, as: :hidden, input_html: { value: true } %>
      <%= f.input :like, as: :hidden, input_html: { value: false } %>
      <%= f.input :unlike, as: :hidden, input_html: { value: false } %>
      <%= f.submit "Valider", class: "button-submit"%>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.radio-button').click(function() {
    feedback = $('.radio-button:checked').attr('id');
    $('#use_like, #use_unlike').val('false');
    $('#use_' + feedback).val('true');
  });
</script>
