<section class="container-fluid card-1">
  <div class="row">
    <h2 class="section-title">UNE CARTE GÉNÉREUSE</h2>
    <div class="col-xs-12">
      <p>Les commerçants CforGood sont de plus en plus nombreux à offrir des bons plans aux citoyens engagés !</p>
      <p>Avant de vous les dévoiler tous, découvrez les derniers à nous avoir rejoints :</p>
    </div>
    <div class="col-xs-12">
      <!-- SLICK SLIDER -->
      <div class="container carrousel">
        <% @businesses.each do |business| %>
        <div class="col-xs-12 col-sm-3">
          <div class="perk-card">
            <%= image_tag image_url business.picture %>
            <div class="box-shadow">
              <span><%= business.business_category.name%></span>
              <h3 class="business-name"><%= business.name%></h3>
              <i class="fa fa-map-marker"><strong><%=business.city%></strong></i>
              <h4 class="business-perk"><%= business.perk.upcase%></h4>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</section>