<section class="container-fluid categories">
  <div class="container">
    <div class="row">
      <h2 class="section-title">À chaque cause, ses associations</h2>
      <div class="col-sm-12">
        <p>Découvrez les grandes thématiques pour lesquelles s'engagent nos associations partenaires.</p>
        <ul>
          <li>
            <%= image_tag("insertion-et-precarite.jpg")%>
            <span>#Insertion / Précarité</span>
          </li>
          <li>
            <%= image_tag("environnement.jpg")%>
            <span>#Environnement</span>
          </li>
          <li>
            <%= image_tag("handicap.jpg")%>
            <span>#Handicap</span>
          </li>
          <li>
            <%= image_tag("solidarite-internationale.jpg")%>
            <span>#Humanitaire</span>
          </li>
          <li>
            <%= image_tag("aide-a-l-enfance.jpg")%>
            <span>#Éducation</span>
          </li>
          <li>
            <%= image_tag("sante.jpg")%>
            <span>#Santé</span>
          </li>
          <li>
            <%= image_tag("entrepreneuriat.jpg")%>
            <span>#Entrepreneuriat Social</span>
          </li>
          <li>
            <%= image_tag("culturel.jpg")%>
            <span>#Culturel</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>