<div class="container-fluid admin">
  <!-- SIDEBAR -->
  <%= render "member/dashboard/shared/sidebar" %>
  <div class="connexion signup">
    <div class="sign-box signup">
      <div class="sign-user">
        <div class="form-card">
         <div class="subscription-form">
           <%= simple_form_for(@employee, url: member_users_path) do |f| %>
           <%= f.hidden_field :supervisor_id, value: current_user.id %>
           <%= f.input :email , :style => 'margin-top: 10%%'%>
           <%= f.input :first_name , :style => 'margin-top: 10%' %>
           <%= f.input :last_name , :style => 'margin-top: 10%'%>
           <%= f.input :city , :style => 'margin-top: 10%'%>
           <%= f.hidden_field :zipcode , :style => 'margin-top: 10%'%>
           <%= f.submit :class => 'validate-form', :style => 'margin-top: 10%' %>
           <% end %>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>
