<div class="container-fluid admin">
  <!-- SIDEBAR -->
  <%= render "member/dashboard/shared/sidebar" %>
  <div class="dashboard">
    <%= simple_form_for @employee, url: member_users_path do |f| %>
      <%= f.hidden_field :supervisor, value: @user %>
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :city %>
      <%= f.hidden_field :zipcode %>
      <%= f.submit %>
    <% end %>
  </div>

</div>
