<div class="container-fluid admin">
  <<<<<<< HEAD
  <!-- SIDEBAR -->
  <%= render "member/dashboard/shared/sidebar" %>
  <div class="connexion connexion-form-supervisor signup">
    <div style="position:fixed; left: 120px; color: white; border: 2px solid white; border-radius: 5px; padding: 3px;font-weight:bolder; z-index: 1;" class="subscription-form-cancel-button">
      <i class="fa fa-arrow-left" aria-hidden="true">
      </i> <%= link_to "Retour", request.referer.present? ? request.referer : default_path, :style =>"color: white;" %>
    </div>
    <div class="sign-box signup">
      <div class="sign-user">
        <div class="form-card form-card-employee">
          <div class="avatar-employee">
            <%= render partial: 'components/avatar_or_picture', locals: { resource: current_user, style: "pastille" } %>
          </div>
          <div class="subscription-form subscription-form-supervisor">
            <%= simple_form_for(@employee, url: member_users_path) do |f| %>
              <%= f.hidden_field :supervisor_id, value: current_user.id %>
              <%= f.input :email, required: true, :class => 'input-form-supervisor'%>
              <%= f.input :first_name, required: true, :class => 'input-form-supervisor' %>
              <%= f.input :last_name, required: true, :class => 'input-form-supervisor'%>
              <%= f.input :city, required: true, :class => 'input-form-supervisor'%>
              <%= f.hidden_field :zipcode, required: true, :class => 'input-form-supervisor'%>
              <div class="flex-validate">
                <%= f.submit "Validez", :class => 'validate-form' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% content_for :after_js do %>

  <script>

  $(document).ready(function() {

    var placesAutocomplete = places({
      container: document.querySelector('#user_city'),
      type: 'city',
      aroundLatLngViaIP: false,
      templates: {
        value: function(suggestion) {
          return suggestion.name;
        }
      }
    });

    placesAutocomplete.on('change', function resultSelected(e) {
      document.querySelector('#user_zipcode').value = e.suggestion.postcode || '';
    });

    $("#new_user").validate({
      lang: 'fr',
      rules: {
        first_name: {
          required: true,
        },
        last_name: {
          required: true,
        },
        city: {
          required: true
        }
      }
    });

    $('.btn-user-connexion').on('click', function(e) {
      if ( $('#user_zipcode').val() == "" || $('#user_zipcode').val() == null ) {
        e.preventDefault();
        $("#error-code").html('Sélectionnez une ville existante !');
      }
    });
  });

  </script>

  <% end %>
