<div class="search-category-overlay hidden"></div>
<div id="open-categories" class="button-filters">Filtres <%= image_tag "settings.svg"%></div>
<div class="search-category">
  <span class="close-button search">&times;</span>
  <form class="controls" id="Filters">
    <ul class="search-pannel">
      <!-- GROUPE ONLINE -->
      <div role="group" class="fieldset-flexbox">
        <a href="#" data-filter=".online" class="filter-btn current">
          <li id="online" class="category-item">
            <div class="container-icon">
              <%= image_tag "business_categories/ecommerce.svg" %>
            </div>
            Voir les e-commerces
          </li>
        </a>
        <!-- RESET TO ALL -->
        <a href="#" data-filter="" class="filter-btn current">
          <li id="categories-all" class="category-item">
            <div class="container-icon">
              <%= image_tag "business_categories/allcategories.svg" %>
            </div>
            Toutes les catégories
          </li>
        </a>
        <!-- GROUPE CATEGORIES -->
        <% BusinessCategory.all.each do |category| %>
          <a href="#" data-filter="<%= "."+category.id.to_s %>" class="filter-btn current">
            <li class="category-item">
              <div class="container-icon" style="border-color: <%= category.color %>;">
                <%= image_tag category.picture %>
              </div>
              <%= category.name %>
            </li>
          </a>
        <% end %>
      </div>
    </ul>
  </form>
</div>
