<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/head" %>
  </head>

  <body>

    <div class="mobile-hidden">
      <%= render "layouts/shared/navbar" %>
    </div>

    <div id="menu-overlay">
      <%= yield %>
    </div>
    <%= render "layouts/shared/js" %>
    <%= yield(:after_js) %>
  </body>
</html>
