<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <!-- <#%= render "shared/flashes" %> -->
    <%= render "shared/navbar" %>
    <div id="menu-overlay">
      <%= yield %>
      <%= render "shared/footer" %>
    </div>

    <%= render "shared/js" %>
    <%= yield(:after_js) %>
  </body>
</html>
