<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= yield %>
    <%= render "shared/flashes" %>
    <%= render "shared/js" %>
    <%= yield(:after_js) %>
  </body>
</html>