<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/head" %>
  </head>

  <body>
    <%= render "layouts/shared/navbar" %>
    <div id="menu-overlay">
      <%= yield %>
      <%= render "layouts/shared/footer" if pages_controller? %>
    </div>
    <%= render "layouts/shared/js" %>
    <%= render "layouts/shared/js/speaklyn" %>
    <%= yield(:after_js) %>
  </body>
</html>
